<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>手上科技手机游戏运营平台_好玩的手机游戏排行榜_手机游戏免费下载</title>
    <meta name="description" content="手上科技">
    <link rel="shortcut icon" type="image/ico" href="../../Static/Image/common/share/favicon.ico">
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/common/public.css">
    <link rel="stylesheet" href="../../Static/Css/login/index.css">
</head>
<body>

    <div class="signIn">
        <!-- 登录部分 -->
        <div class="loginBox cf">
            <div class="loginTit fl">账号登录</div>
            <form action="" class="formBox cf fl">
                <div class="eachInput fl accountBox cf" id="accountBox">
                    <i></i>
                    <input type="text" id="account" class="fl" placeholder="账号">
                </div>
                <div class="eachInput fl pwdBox cf">
                    <i></i>
                    <input type="password" id="pwd" class="fl" placeholder="密码">
                </div>
                <div class="operateLogin fl">
                    <i class="isChose fl active"></i>
                    <a class="rememberPwd fl">记住密码</a>
                    <a class="forgetPwd fr">忘记密码?</a>
                </div>
                <a href="javascript:void(0)" class="btnLogin fl">登录</a>
                <a href="javascript:void(0)" class="btnReg fl">立即注册</a>
            </form>
        </div>
    </div>

<script src="../../Static/Js/common/jquery.js"></script>
<script src="../../Static/Js/common/public.js"></script>
<script src="../../Static/Js/recharge/index.js"></script>
</body>
</html>