<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>手上科技手机游戏运营平台_好玩的手机游戏排行榜_手机游戏免费下载</title>
    <meta name="description" content="手上科技">
    <link rel="shortcut icon" type="image/ico" href="../../Static/Image/common/share/favicon.ico">
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/common/public.css">
    <link rel="stylesheet" href="../../Static/Css/login/register.css">
</head>
<body>

<!-- 用户名和手机号注册tap -->
<div class="container">
    <!-- tap切换 -->
    <div class="registerTitle">
        <ul class="cf">
            <li class="usernameRegister fl on regTab">
                <i class="usernameRegisterIcon"></i>
                <a href="javascript:;">用户名注册</a>
            </li>
            <li class="numberRegister fl regTab">
                <i class="numberRegisterIcon"></i>
                <a href="javascript:;">手机号注册</a>
            </li>
        </ul>
    </div>
    <div class="logIn">
        <span>已有游戏账号？</span>
        <a href="javascript:;">立即登录&nbsp;&gt;&gt;</a>
    </div>
    <div class="tap">
        <form action="">
            <!-- 用户名注册 -->
            <div class="tapContent">
                <div class="tapBox">
                    <p class="notice">以下内容我们承诺您的安全信息，不会透露给第三方</p>
                    <div class="common cf">
                        <label for="userAccount">用户账号：</label>
                        <input type="text" id="userAccount" />
                        <p class="remarks"><span class="star">*</span> 请输入 6-15 位由字母和数字组成 , 以字母开头</p>
                        <span class="error"></span>

                    </div>
                    <div class="common cf">
                        <label for="setPwd">设置密码：</label>
                        <input type="password" id="setPwd" />
                        <p class="remarks"><span class="star">*</span> 请输入 6-15 位数字、字母组成</p>
                        <span class="error"></span>
                    </div>
                    <div class="common cf">
                        <label for="confirmPwd">确认密码：</label>
                        <input type="password" id="confirmPwd" />
                        <p class="remarks"><span class="star">*</span> 请输入您的确认密码</p>
                        <span class="error"></span>
                    </div>
                    <div class="common verifyCode cf">
                        <label for="imgCode">&nbsp;&nbsp;&nbsp;验证码：</label>
                        <input type="text" id="imgCode" />
                        <img src="" alt="" class="imgCode fl">
                        <p class="remarks"><span class="star">*</span> 请输入您的图形验证码</p>
                        <span class="error"></span>
                    </div>
                    <div class="common cf">
                        <label for="mailbox">常用邮箱：</label>
                        <input type="text" id="mailbox" />
                        <p class="remarks"><span class="star"></span> 请输入常用邮箱，该邮箱可用于找回账号密码</p>
                        <span class="error"></span>
                    </div>
                    <p class="line"></p>
                    <div class="illustrate">
                        <p class="explain">根据2010年8月1日实施的《网络游戏管理暂行办法》，网络游戏用户需使用有效身份证件进行实名注册。为保证流畅游戏体验，</p>
                        <p class="instruction">享受健康游戏生活，请广大游戏玩家尽快实名注册，且实名信息将不可更改。</p>
                    </div>
                    <div class="common cf">
                        <label for="name">真实姓名：</label>
                        <input type="text" id="name" />
                        <p class="remarks"><span class="star">*</span> 请输入您的真实姓名</p>
                        <span class="error"></span>
                    </div>
                    <div class="common cf">
                        <label for="numberID">身份证号：</label>
                        <input type="text" id="numberID" />
                        <p class="remarks"><span class="star">*</span> 请输入您的身份证号</p>
                        <span class="error"></span>
                    </div>
                </div>
                <div class="tapBox">
                    <p class="notice">以下内容我们承诺您的安全信息，不会透露给第三方</p>
                    <div class="common verifyCode cf">
                        <label for="phone">&nbsp;&nbsp;&nbsp;手机号：</label>
                        <input type="text" id="phone" />
                        <input type="button" class="sendCode" id="sendCode" value="发送验证码" readonly="true">
                        <p class="remarks"><span class="star">*</span> 请输入您的手机号</p>
                        <span class="error"></span>
                    </div>
                    <div class="common cf">
                        <label for="code">&nbsp;&nbsp;&nbsp;验证码：</label>
                        <input type="" id="code" />
                        <p class="remarks"><span class="star">*</span> 请输入您的短信验证码</p>
                        <span class="error"></span>
                    </div>
                    <div class="common cf">
                        <label for="setPassW">设置密码：</label>
                        <input type="password" id="setPassW" />
                        <p class="remarks"><span class="star">*</span> 请输入6-30位数字、字母组成</p>
                        <span class="error"></span>
                    </div>
                    <div class="common cf">
                        <label for="commonMailbox">常用邮箱：</label>
                        <input type="text" id="commonMailbox" />
                        <p class="remarks"><span class="star">&nbsp;</span>请输入常用邮箱，该邮箱可用于找回账号密码</p>
                        <span class="error"></span>
                    </div>
                    <p class="line"></p>
                    <div class="illustrate">
                        <p class="explain">根据2010年8月1日实施的《网络游戏管理暂行办法》，网络游戏用户需使用有效身份证件进行实名注册。为保证流畅游戏体验，</p>
                        <p class="instruction">享受健康游戏生活，请广大游戏玩家尽快实名注册，且实名信息将不可更改。</p>
                    </div>
                    <div class="common cf">
                        <label for="realName">真实姓名：</label>
                        <input type="text" id="realName" />
                        <p class="remarks"><span class="star">*</span>姓名不能为空</p>
                        <span class="error"></span>
                    </div>
                    <div class="common cf">
                        <label for="number">身份证号：</label>
                        <input type="text" id="number" />
                        <p class="remarks"><span class="star">*</span>身份证号不能为空</p>
                        <span class="error"></span>
                    </div>
                </div>
            </div>
            <div class="agreement active">
                <i class="selected"></i>
                <p><span class="agreementText">我已阅读并同意</span><a href="javascript:;">《手上科技手游用户注册协议》</a></p>
            </div>
            <a class="immediatelyRegister" href="javascript:void(0);" id="btnReg">立即注册</a>
        </form>
    </div>
</div>

<script src="../../Static/Js/common/jquery.js"></script>
<script src="../../Static/Js/common/public.js"></script>
<script src="../../Static/Js/login/register.js"></script>
</body>
</html>