<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>手上科技手机游戏运营平台_好玩的手机游戏排行榜_手机游戏免费下载</title>
    <meta name="description" content="手上科技">
    <link rel="shortcut icon" type="image/ico" href="../../Static/Image/common/share/favicon.ico">
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/common/public.css">
    <link rel="stylesheet" href="../../Static/Css/giftsCenter/detail.css">
</head>
<body>

    <!--  礼包详情   -->
    <div class="homeMain ">
        <div class="giftDetailContent container">
            <!--  详情位置    -->
            <div class="positionIntroduce cf">
                <p class="fl">当前位置</p>
                <p class="fl intervalPosition">-</p>
                <a href="javascript:void(0)" class="fl positionLink">礼包中心</a>
                <p class="fl intervalPosition">-</p>
                <a href="javascript:void(0)" class="fl positionLink">传奇法师</a>
            </div>
            <!--  礼包详情   -->
            <div class="giftContent cf">
                <div class="giftDetailLeft fl">
                    <div class="giftHeadWrap cf">
                        <img src="../../Static/Image/giftsCenter/giftImg.png" alt="" width="270" height="200" class="fl giftHead">
                        <div class="giftHeadIntroduce fl cf">
                            <p class="gameName fl">传奇法师</p>
                            <p class="gameSome fl">类型：角色扮演大小</p>
                            <p class="gameSome fl">139.92MB</p>
                            <p class="gameSome fl">版本 ：1.1.2</p>
                            <p class="gameSome fl">时间 ：2017 - 10 - 19</p>
                        </div>
                        <div class="qRCode fr cf">
                            <img class="codeImg" src="../../Static/Image/giftsCenter/qRCode.png" alt="" width="77" height="77">
                            <p class="qRCodeIntroduce cl">扫码下载</p>
                        </div>
                    </div>
                    <div class="gameDetailWrap">
                        <div class="gameDetailTit">游戏详情</div>
                        <div class="gameDetailContent">
                            《传奇法师》是一款以东方玄幻为题材的角色扮演类手机网络游戏。在游戏中，你可以通过任务、副本、活动获取极品装备、道具，以此来提升自己的战斗力。游戏中能体验到PVP的热血快感，体验古时刀光剑影的游侠风情。游戏中不仅有一脉相承的经典玩法更独有的元神、炼器等系统，使你在战斗时体验多样性的玩法，一切热血、精彩，尽在《传奇法师》。
                            逐鹿中原，谁与争锋！热血PK,浩气长存！狼烟四起，烽火再燃！传承经典，勿忘初心！江湖里应该有你的传奇
                        </div>
                        <div class="gameTab cf">
                            <p class="fl eachGameTab active">游戏图片</p>
                            <p class="fl eachGameTab">游戏礼包</p>
                        </div>
                        <div class="gameDetail">
                            <div class="gameImgBoxWrap gameDetailBox">
                                <ul class="slide-content">
                                    <li class="copy" data-num="10" style="background: url('../../Static/Image/giftsCenter/gameImgBanner.png') 200px 300px;"><a href="javascript:void(0)" target="_blank"></a></li>
                                </ul>
                            </div>
                            <div class="gameGiftBoxWrap gameDetailBox hide">
                                <ul class="gameGiftUl cf">
                                    <li class="subGameGift fl cf copy" data-num="5">
                                        <p class="gameAGift fl cf"><span class="giftName ofh">大R礼包</span><span>-</span><span class="gameName ofh">传奇法师</span></p>
                                        <div class="giftBox fl cf">
                                            <p class="subGift fl">千年琼浆*2、</p>
                                            <p class="subGift fl">三倍经验药水*2、</p>
                                            <p class="subGift fl">天罡铁券*2、</p>
                                            <p class="subGift fl">天罡铁券*2、</p>
                                            <p class="subGift fl">天罡铁券*2、</p>
                                            <p class="subGift fl">天罡铁券*2、</p>
                                        </div>
                                        <div class="lastOperation fl cf">
                                            <div class="time fl">2017-10-21至2020-10-26</div>
                                            <a class="btnGet fr" href="javascript:void(0)">领取</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="giftDetailRight fl">
                    <!--    热门礼包      -->
                    <div class="hotGiftBoxWrap">
                        <div class="titleBox cf">
                            <div class="titLeftBox"><i></i><p class="fl titName">热门礼包</p></div>
                        </div>
                        <div class="hotGiftContent">
                            <ul class="cf">
                                <li class="subHotGift fl cf copy" data-num="4">
                                    <div class="giftHeadImgBox fl">
                                        <img src="../../Static/Image/giftsCenter/giftHeadImg.png" alt="" class="giftHeadImg" width="78" height="78">
                                    </div>
                                    <div class="giftSome fl cf">
                                        <p class="giftName fl"><span>大R礼包</span><span class="interval">-</span><span>传奇法师</span></p>
                                        <div class="giftBox fl">
                                            <span>千年琼浆*2</span>
                                            <span>千年琼浆*2</span>
                                            <span>千年琼浆*2</span>
                                            <span>千年琼浆*2</span>
                                        </div>
                                    </div>
                                    <a class="getGift fr" href="javascript:void(0)">领取</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!--  热门游戏  -->
                    <div class="activeRankBox">
                        <div class="titleBox cf">
                            <div class="titLeftBox"><i></i><p class="fl titName">热门游戏</p></div>
                            <a href="javascript:void(0)" class="moreLink fr">更多&gt;&gt;</a>
                        </div>
                        <div class="activeRankContent">
                            <ul class="activeRankUl cf">
                                <li class="subActiveRankLi cf">
                                    <div class="subRankNum rankFirst fl">1</div>
                                    <div class="subRankName fl">青云志</div>
                                    <div class="rankInfo fl cf hide">
                                        <img src="../../Static/Image/index/rankImg.png" class="rankImg fl"/>
                                        <div class="rankRight fl">
                                            <p class="rankNme">如果的世界</p>
                                            <p class="cf rankOperate"><a href="javascript:void(0)" class="fl btnRankDown">下载</a><a href="javascript:void(0)" class="fl">礼包</a></p>
                                        </div>
                                    </div>
                                    <div class="subRankType fr">角色扮演</div>
                                </li>
                                <li class="subActiveRankLi cf">
                                    <div class="subRankNum rankSecond fl">2</div>
                                    <div class="subRankName fl">青云志</div>
                                    <div class="rankInfo fl cf hide">
                                        <img src="../../Static/Image/index/rankImg.png" class="rankImg fl"/>
                                        <div class="rankRight fl">
                                            <p class="rankNme">如果的世界</p>
                                            <p class="cf rankOperate"><a href="javascript:void(0)" class="fl btnRankDown">下载</a><a href="javascript:void(0)" class="fl">礼包</a></p>
                                        </div>
                                    </div>
                                    <div class="subRankType fr">角色扮演</div>
                                </li>
                                <li class="subActiveRankLi cf">
                                    <div class="subRankNum rankThird fl">3</div>
                                    <div class="subRankName fl">青云志</div>
                                    <div class="rankInfo fl cf hide">
                                        <img src="../../Static/Image/index/rankImg.png" class="rankImg fl"/>
                                        <div class="rankRight fl">
                                            <p class="rankNme">如果的世界</p>
                                            <p class="cf rankOperate"><a href="javascript:void(0)" class="fl btnRankDown">下载</a><a href="javascript:void(0)" class="fl">礼包</a></p>
                                        </div>
                                    </div>
                                    <div class="subRankType fr">角色扮演</div>
                                </li>
                                <li class="subActiveRankLi cf">
                                    <div class="subRankNum fl">4</div>
                                    <div class="subRankName fl">青云志</div>
                                    <div class="rankInfo fl cf hide">
                                        <img src="../../Static/Image/index/rankImg.png" class="rankImg fl"/>
                                        <div class="rankRight fl">
                                            <p class="rankNme">如果的世界</p>
                                            <p class="cf rankOperate"><a href="javascript:void(0)" class="fl btnRankDown">下载</a><a href="javascript:void(0)" class="fl">礼包</a></p>
                                        </div>
                                    </div>
                                    <div class="subRankType fr">角色扮演</div>
                                </li>
                                <li class="subActiveRankLi cf">
                                    <div class="subRankNum fl">5</div>
                                    <div class="subRankName fl">青云志</div>
                                    <div class="rankInfo fl cf hide">
                                        <img src="../../Static/Image/index/rankImg.png" class="rankImg fl"/>
                                        <div class="rankRight fl">
                                            <p class="rankNme">如果的世界</p>
                                            <p class="cf rankOperate"><a href="javascript:void(0)" class="fl btnRankDown">下载</a><a href="javascript:void(0)" class="fl">礼包</a></p>
                                        </div>
                                    </div>
                                    <div class="subRankType fr">角色扮演</div>
                                </li>
                                <li class="subActiveRankLi cf">
                                    <div class="subRankNum fl">6</div>
                                    <div class="subRankName fl">青云志</div>
                                    <div class="rankInfo fl cf hide">
                                        <img src="../../Static/Image/index/rankImg.png" class="rankImg fl"/>
                                        <div class="rankRight fl">
                                            <p class="rankNme">如果的世界</p>
                                            <p class="cf rankOperate"><a href="javascript:void(0)" class="fl btnRankDown">下载</a><a href="javascript:void(0)" class="fl">礼包</a></p>
                                        </div>
                                    </div>
                                    <div class="subRankType fr">角色扮演</div>
                                </li>
                                <li class="subActiveRankLi cf">
                                    <div class="subRankNum fl">7</div>
                                    <div class="subRankName fl">青云志</div>
                                    <div class="rankInfo fl cf hide">
                                        <img src="../../Static/Image/index/rankImg.png" class="rankImg fl"/>
                                        <div class="rankRight fl">
                                            <p class="rankNme">如果的世界</p>
                                            <p class="cf rankOperate"><a href="javascript:void(0)" class="fl btnRankDown">下载</a><a href="javascript:void(0)" class="fl">礼包</a></p>
                                        </div>
                                    </div>
                                    <div class="subRankType fr">角色扮演</div>
                                </li>
                                <li class="subActiveRankLi cf">
                                    <div class="subRankNum fl">8</div>
                                    <div class="subRankName fl">青云志</div>
                                    <div class="rankInfo fl cf hide">
                                        <img src="../../Static/Image/index/rankImg.png" class="rankImg fl"/>
                                        <div class="rankRight fl">
                                            <p class="rankNme">如果的世界</p>
                                            <p class="cf rankOperate"><a href="javascript:void(0)" class="fl btnRankDown">下载</a><a href="javascript:void(0)" class="fl">礼包</a></p>
                                        </div>
                                    </div>
                                    <div class="subRankType fr">角色扮演</div>
                                </li>
                                <li class="subActiveRankLi cf">
                                    <div class="subRankNum fl">9</div>
                                    <div class="subRankName fl">青云志</div>
                                    <div class="rankInfo fl cf hide">
                                        <img src="../../Static/Image/index/rankImg.png" class="rankImg fl"/>
                                        <div class="rankRight fl">
                                            <p class="rankNme">如果的世界</p>
                                            <p class="cf rankOperate"><a href="javascript:void(0)" class="fl btnRankDown">下载</a><a href="javascript:void(0)" class="fl">礼包</a></p>
                                        </div>
                                    </div>
                                    <div class="subRankType fr">角色扮演</div>
                                </li>
                                <li class="subActiveRankLi cf">
                                    <div class="subRankNum fl">10</div>
                                    <div class="subRankName fl">青云志</div>
                                    <div class="rankInfo fl cf hide">
                                        <img src="../../Static/Image/index/rankImg.png" class="rankImg fl"/>
                                        <div class="rankRight fl">
                                            <p class="rankNme">如果的世界</p>
                                            <p class="cf rankOperate"><a href="javascript:void(0)" class="fl btnRankDown">下载</a><a href="javascript:void(0)" class="fl">礼包</a></p>
                                        </div>
                                    </div>
                                    <div class="subRankType fr">角色扮演</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="../../Static/Js/common/jquery.js"></script>
<script src="../../Static/Js/common/jquery.ext.js"></script>
<script src="../../Static/Js/common/public.js"></script>
<script src="../../Static/Js/giftsCenter/detail.js"></script>
</body>
</html>