
.bg_body{background: #F4F4F4;}

/*  banner   */
.homeMain .slide-box{min-width:1200px;width:100%;position: relative;}
.homeMain .slide-box .slide-content{height: 500px;}
.homeMain .slide-box .slide-content li{width: 100%;height: 500px;}

/*  banner图里面的登录    */
.loginBox{left:370px;top:48px;}

/*  小导航  */
.navBoxWrap{margin: 0 100px;}
.navBoxWrap li{position:relative;float: left;width: 150px;height: 150px;margin: 37px 50px;}
.navBoxWrap li a{display: block;width: 150px;height: 150px;}
.navBoxWrap li p{color: #FFF;height:20px;line-height:20px;margin-top:100px;text-align: center;}
.navBoxWrap .navBoxIcon{position: absolute;top:32px;left:42px;width: 65px;height: 65px;}
.giftLi{background: url("../../Image/index/giftBg.png") no-repeat;}
.activeLi{background: url("../../Image/index/activeBg.png") no-repeat;}
.infoLi{background: url("../../Image/index/infoBg.png") no-repeat;}
.customLi{background: url("../../Image/index/customBg.png") no-repeat;}
.giftLi .navBoxIcon{background: url("../../Image/index/gift.png") no-repeat;}
.activeLi .navBoxIcon{background: url("../../Image/index/active.png") no-repeat;}
.infoLi .navBoxIcon{background: url("../../Image/index/info.png") no-repeat;}
.customLi .navBoxIcon{background: url("../../Image/index/custom.png") no-repeat;}

/*   推荐游戏    */
.recommendGame{border-top: 2px solid #0ACDE1;}

/*   全部游戏    */
.allGame{margin-top: 40px;padding-bottom:35px;background: #FFF;border-top: 2px solid #F35A36;}
.allGame .titLeftBox i{background: url("../../Image/common/title/AllGames.png") no-repeat;}
.allGame .titLeftBox .titName{color:#F35A36;}
.subLinkGame{display: block;float: left;width: 88px;height: 30px;margin-left:20px;font-size:16px;line-height: 30px;text-align: center;border-radius: 15px;}
.subLinkGame:hover{background: #F35A36;color: #FFF;}
.subLinkGame.active{background: #F35A36;color: #FFF;}
.allGameContent{width: 120%;}
.subAllGame{float:left;width:276px;margin:20px 20px 20px 10px;}
.gameImg:hover{-webkit-transform: scale(1.1);}
.gameSplitLine{float:left;width: 100%;height: 2px;border-bottom:1px dashed #BBB;}
.gameContent{margin-left: 10px;}
.subGameName{font-size: 14px;color:#F35A36;}
.subGameTypeBox{height:40px;line-height:40px;font-size: 12px;color: #999;}
.operateBtnBox{height: 26px;line-height:26px; }
.operateBtnBox a{display: block;float: left;width: 76px;height: 26px;font-size:12px;line-height: 26px;text-align:center;border:1px solid #CCC;color: #CCC;border-radius: 5px;}
.operateBtnBox a:hover{background: #F35A36;color: #FFF;border:none;}
.btnDownLoad{margin-right: 10px;}

/*   活动游戏   */
.activeGameBox{width: 746px;margin:40px 0 45px 0;border-top: 2px solid #5AAACC;background: #FFF;}
.activeGameBox .titLeftBox i{background: url("../../Image/common/title/Activity.png") no-repeat;}
.activeGameBox .titLeftBox .titName{color:#5AAACC;}
.activeGameContent a{display: block;float: left;}
.activeImgFirst{margin:20px 0 36px 10px;}
.activeImgSecond{margin:20px 20px 20px 20px;}
.activeImgThird{margin: 20px 9px 20px 0;}
.activeImgForth{margin: 0 9px 36px 20px;}
.activeGameContent a img:hover{-webkit-transform: scale(1.05);}

/*  游戏排行    */
.activeRankBox{margin:40px 0 45px 39px;}
.activeRankBox .titLeftBox i{background: url("../../Image/common/title/Rankings.png") no-repeat;}










