/* 公共样式部分 */
@charset"utf-8";
body{font-family: Microsoft YaHei; word-wrap:break-word; word-break:break-all;}
*,p{margin: 0;padding: 0;}
li{list-style: none;}
ul, ol{list-style: none outside none;}
a{display: inline-block;text-decoration: none;color:#333333}a:active{color:#181818}
img{max-width:100%;display: block;border:none;}
input,textarea{outline: none;box-shadow:none;-webkit-appearance:none}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance:none}
input[type="number"]{-moz-appearance:textfield}
::-webkit-input-placeholder {color: #dbdbdb;}

/*  表单自动填充黄色   */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill{ -webkit-box-shadow: 0 0 0 1000px white inset;  }
input[type=text]:focus, input[type=password]:focus, textarea:focus{-webkit-box-shadow: 0 0 0 1000px white inset;}

/*  字体颜色   大小  对齐方式  溢出*/
.a_blue{color:#007aff}.a_black{color:#333}.a_gray{color:#999}.a_red{ color: #ff3b2f;}.a_org{ color: #F39A36;}.a_blue:active{color:#005FC7}
.f16{font-size:.8rem}.f15{font-size:.7rem}.f14{font-size:.6rem}.f12{font-size:.5rem}
.fs-18{ font-size: .45rem;}.fs-20{ font-size: .5rem;}.fs-22{ font-size: .55rem;}.fs-24{ font-size: .6rem;}.fs-26{ font-size: .65rem;}
.text_l{text-align:left} .text_c{text-align:center}.text_r{text-align:right}
.ofh{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.word-b{word-break:break-all}

/*  块级背景色   边框   */
.bg_red{background: #ff3b2f;}  .bg_gray{background: #999;} .bg_white{background: #fff;}
.bdr{border-right:1px solid #eee;}.bdb{border-bottom:1px solid #F4F4F4;}

/*  按钮   */
.btn_disable{background:#d1d6da!important;color:#fff!important}
.btn_disable:active{background:#d1d6da!important;color:#fff!important}

/*  块级转行级   */
.dib{display: inline-block;}

/*    flex布局   */
.flex{display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-align: center;-webkit-align-items: center; align-items: center;}
.flexbox{-webkit-box-flex: 1;-moz-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;}

/*   位置相关   */
.pr{position: relative;}.fl{float: left;}.fr{float: right;}
/*   清浮动   */
.cf:after{content:""; clear:both; display:table;}.cf {zoom:1;}
/*   显示隐藏  */
.show{display:block}.hide{display:none}

/*    弹窗       */
.sys-tip {display: none; position: fixed;z-index: 100000000;min-width: 150px;height: 30px;line-height: 30px;padding: 0 10px;border-radius: 2px;vertical-align: middle;font-size: 12px;text-align: center;font-weight: 600;top: 30px;left: 50%;}
.sys-tip.tip-success{color:#3c763d;background-color:#cbf0c6;border:1px solid #bae9b4}
.sys-tip.tip-error{color:#a94442;background-color:#f2dede;border:1px solid #ebccd1}
.sys-tip.tip-warn{color:#8a6d3b;background-color:#fcf8e3;border:1px solid #faebcc}

.sys-pop-wrap{position: fixed;left: 0;top: 0; width: 100%;height: 100%;display: none;z-index: 1000000;}
.sys-pop-wrap .sys-pop-mask{background-color:#000;width:100%;height:100%;filter:Alpha(opacity=50);-moz-opacity:0.5;opacity:0.5; }
.sys-pop-wrap .sys-pop-mask iframe,.sys-pop-wrap .sys-pop-main .pop-cont iframe{ width: 100%;height: 100%;border: 0 none; }
.sys-pop-wrap .sys-pop-main{ position: absolute;top: 0;right:0;bottom:0;left: 0;margin:auto;background-color: #fff;z-index: 1000001;border-radius: 5px;}
.sys-pop-wrap .sys-pop-main .pop-tit{ color: #333;font-size: 18px;height: 50px;line-height: 50px;padding-top:10px;padding-left: 40px;padding-right: 12px;border-bottom: 1px solid #CCC;}
.sys-pop-wrap .sys-pop-main .pop-tit .close{background: url(../../static/images/common/close.png) -3px -3px no-repeat;width: 10px;height: 10px; cursor: pointer;margin-top: 9px; }
.sys-pop-wrap .sys-pop-main .pop-cont {box-shadow:15px 12px 47px -1px #7f7f7f;overflow: hidden; }
.sys-pop-wrap .sys-pop-main .pop-cont .pop-loading { text-align: center;width: 100%;height: 100%; }
.sys-pop-web-wrap .sys-pop-main { border: 1px solid #ccc;box-shadow: 1px 1px 1px #ccc; }
.sys-pop-web-wrap .sys-pop-main .pop-tit { height: 40px;line-height: 40px;color: #323232; background: #fafafa; }
.sys-pop-web-wrap .sys-pop-main .pop-tit span{ font-weight: bold;font-size: 16px; }
.sys-pop-web-wrap .sys-pop-main .pop-tit .close { display: inline-block;background: url(/Areas/Web/images/elf.png) no-repeat -250px -98px;width: 13px;height: 13px;margin-top: 14px; }
.sys-pop-web-wrap .sys-pop-main .pop-cont{ border: 0 none;height: auto; }
.sys-pop-tip-wrap .sys-pop-main { width: 350px;height: 180px;}
.sys-pop-tip-wrap .sys-pop-main .pop-cont{ padding:40px 20px 20px; height: 44px; line-height: 22px; text-align: center;border: 0;font-size: 20px; }
.sys-pop-tip-wrap .sys-pop-main .pop-ft { margin-bottom: 30px;text-align: center;border:none;}
.sys-pop-tip-wrap .sys-pop-main .pop-ft .btn { display:block;background-color: #6BCEF6;padding: 0 9px;line-height: 30px;border:none; border-radius: 2px;color: #fff; }
.sys-pop-loading-wrap .sys-pop-main{ background: none; }
.sys-pop-loading-wrap .sys-pop-main .pop-cont { border: none;color: #fff; }