/*  充值完成   */
.cesBox{padding-top: 3rem;}
.code{width: 12rem;height: 12rem;margin: 1rem auto 0 auto;}
.codeAfter{width: 10rem;height:3rem;margin: 1rem auto;}
.operateBox{width: 13rem;margin: 1.2rem auto;}
.operateBox a{display: block;width: 4rem;height: 2rem;line-height: 2rem;text-align:center;background: #09bb07;color: #FFF;border-radius: .8rem;}
.operateBox a.btn-finish{width:6rem;}
.operateBox a.returnBack{background: #f1f1f1;color:#333;}
.orderBox{width: 18rem;margin: 0 auto;font-size: .7rem;border:1px solid #e2e2e2;}
.eachOrder{height: 1.5rem;line-height: 1.5rem;}
.orderLeft{width: 4rem;text-align: right;border-right: 1px solid #e2e2e2;}
.orderRight{padding-left: .8rem;}
.orderNum{width:100%;border-bottom: 1px solid #e2e2e2;}
.push{height: 2rem;line-height: 2rem;}
