.dl {
  height: 600px;
  width: 100%;
  min-width: 1200px;
  background: url(../image/login/beijing.jpg) no-repeat center top;
  position: relative;
}
.dl .login {
  width: 390px;
  background: rgba(128,128,128,.5);
  position: absolute;
  top: 120px;
  right: 130px;
  padding-bottom: 30px;
}
.dl .login .login-t {
  height: 65px;
  border-bottom: 1px solid #00C9E1;
  line-height: 65px;
}
.dl .login .login-t > p {
  font-size: 22px;
  color: #FFF;
  text-align: center;
}
.dl .login .login-b .login-zh {
  position: relative;
}
.dl .login .login-b .login-zh .zh {
  width: 288px;
  height: 46px;
  background-color: #fff;
  margin-left: 52px;
  margin-top: 30px;
  position: relative;
  padding-left: 40px;
  color: #333;
  line-height: 46px;
  caret-color:#00C9E1;
}
.dl .login .login-b .login-zh .icon-zh {
  width: 22px;
  height: 22px;
  background: url(../image/login/zhanghao.png)no-repeat;
  position: absolute;
  top: 45px;
  left: 63px;
}
.dl .login .login-b .login-mima,.dl .login .login-b .login-code {
  position: relative;
}
.dl .login .login-b .login-mima .mima{
  width: 288px;
  height: 46px;
  background-color: #fff;
  margin-left: 52px;
  margin-top: 20px;
  position: relative;
  padding-left: 40px;
  color: #858585;
  line-height: 46px;
}
.dl .login .login-b .login-mima .icon-mima {
  width: 22px;
  height: 22px;
  background: url(../image/login/mima.png)no-repeat;
  position: absolute;
  top: 34px;
  left: 65px;
}
.dl .login .login-b .login-code .code {
  width: 182px;
  height: 46px;
  background-color: #fff;
  margin-left: 52px;
  margin-top: 20px;
  position: relative;
  padding-left: 40px;
  color: #858585;
  line-height: 46px;
}
#identifying{
    display: block;
    cursor: pointer;
    position: absolute;
    width: 106px;
    top: 21px;
    right: 50px;
    height: 46px;
}
#identifying img{   
    width: 100%;
    height:100%;
}
.dl .login .login-b .login-code .icon-code {
  width: 22px;
  height: 22px;
  background: url(../image/login/code.png);
  position: absolute;
  top: 30px;
  left: 58px;
}
.dl .login .login-b .denglu {
  display: block;
  margin-top: 20px;
  width: 288px;
  height: 46px;
  font-size: 16px;
  line-height: 46px;
  text-align: center;
  color: #fff;
  background-color: #26D7E1;
  margin-left: 52px;
  cursor:pointer;
  border-radius: 10px;
  border:1px solid #90FDE1;
}
.dl .login .login-b .jzmm {
  float: left;
  width: 290px;
  margin-top: 24px;
  margin-left: 52px;
  text-align: center;
  font-size: 14px;
  color: #FFF;
}
.dl .login .login-b .jzmm a {
  font-size: 14px;
  color: #333;
}
.dl .login .login-b .jzmm a:hover{
  text-decoration: underline;
}

.dl .login .login-b .jzmm a img {
  display: inline-block;
  margin-right: 5px;
}
.dl .login .login-b .wjmm {
  margin-top: 24px;
  float: right;
  margin-right: 52px;
}
.dl .login .login-b .wjmm a {
  display: inline-block;
  font-size: 14px;
  color: #333;
}
.lianjie {

  padding-bottom: 40px;
}
.lianjie .lianjie-t {
  font-size: 18px;
  border-bottom: 1px solid #F19EC2;
  height: 40px ;
  line-height: 40px;
}
.lianjie .lianjie-t .one {
  color: #F19EC2;
}
.lianjie .lianjie-t .one > span {
  width: 17px;
  height: 17px;
  display: inline-block;
  background: url(../image/newsprits.png) no-repeat -11px -149px;;
  margin-right: 10px;
}
.lianjie .lianjie-b {
  margin: 20px 0 40px 0;
}
.lianjie .lianjie-b li{
  float:left; width: 150px;
    height: 24px;
    line-height: 24px;
}
.lianjie .lianjie-b a {
    font-size: 14px;
    color: #323232;
    display: block;
  }
.lianjie .lianjie-b a:hover {
  color: #F19EC2;
}


/*    样式覆盖     */
.userOperation{width: 290px;height:22px;line-height: 22px;font-size:14px;margin-top: 14px;margin-left: 52px;}
.fl{float:left;}.fr{float: right;}
.forgetPwd{color: #FFF;}
.rememberPwd .chose{display: block;float:left;width: 20px;height: 20px;margin-right:7px;border: 1px solid #FFF;}
.rememberPwd .chose.active{background: url("../image/chose.png")no-repeat;border: none;}
.friendShipLink{position: relative;}
.friendShipLink .linkIcon{display: block;width: 59px;height: 32px;background: url("../image/link.png")no-repeat;}
.linkName{position: absolute;top:-5px;left: 30px;font-size: 18px;color: #666;font-weight: bold;}
.lianjie .lianjie-b a:hover{color: #49E3E1;}
.footer{background: #110900;border-top:2px solid #F39A36;}
.footer a{color: #858585;}
.lianjie{background:none;padding: 30px 0 40px 0;}








