<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>我的钱包</title>
    <link rel="stylesheet" href="__CSS__/sm.min.css">
    <link rel="stylesheet" href="__CSS__/sm-extend.min.css">
    <link rel="stylesheet" href="__CSS__/public.css">
    <link rel="stylesheet" href="__CSS__/myWallet/my-wallet.css">
</head>
<body>
    <div class="page-group">
        <!-- 头部 -->
        <div class="consumptionDetail">
            <a href="{:U('Member/pctrade')}">充值明细</a>
        </div>
        <div class="recharge">
            <img src="__PUBLIC__/Mobile/images/myWallet/wallet-icon.png" alt="">
            <p class="platformCurrency">我的平台币</p>
            <p class="money">￥{$balance}</p>
        </div>

        <!-- 充值按钮 -->
        <div class="rechargeBtn">
            <a href="{:U('Recharge/chongzhi')}">充值</a>
        </div>

        <!--   底部导航栏   -->
        <nav class="bar bar-tab">
            <a class="tab-item external footTap-game" href="{:U('Index/index')}">
                <span class="icon"></span>
                <span class="tab-label">游戏</span>
            </a>
            <a class="tab-item external footTap-info" href="{:U('Category/zixun')}">
                <span class="icon"></span>
                <span class="tab-label">资讯</span>
            </a>
            <a class="tab-item external footTap-center active" href="{:U('Member/personalcenter')}">
                <span class="icon"></span>
                <span class="tab-label">个人中心</span>
            </a>
            
        </nav>
    </div>

<script src="__JS__/zepto.min.js"></script>
<script src="__JS__/sm.min.js"></script>
<script src="__JS__/sm-extend.min.js"></script>
</body>
</html>