<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>积分-做任务</title>
    <link rel="stylesheet" href="__CSS__/sm.min.css">
    <link rel="stylesheet" href="__CSS__/sm-extend.min.css">
    <link rel="stylesheet" href="__CSS__/public.css">
    <link rel="stylesheet" href="__CSS__/integralTask/index.css">
</head>
<body class="mHome">
    <!--  加载层   -->
    <div id="loader">
        <div class="loaderInner">
            <img src="__PUBLIC__/Mobile/images/index/logo.png" alt="">
        </div>
    </div>
    <!-- 积分做任务内容 -->
    <div class="page-group">

        <!--  积分做任务头部  -->
        <div class="signHeadImg pr cf">
            <img class="signImg fl" src="/Uploads/{$user.user_img}" onerror="this.onerror = null; this.src ='__PUBLIC__/Media/image/personalcenter/baseinfo/touxiang.png';"/>
            <div class="userName fl">
                <div class="userAccount"><span>{$user.account}</span></div>
                <div class="userAccount"><span>{$user.nickname|default='昵称'}</span></div>
            </div>
            <div class="integral fr dib">
                <a href="{:U('Member/points')}"><p class="integralName">积分明细</p></a>
                <p class="integralText">{$user.points}</p>
            </div>
        </div>

        <!-- 任务列表 -->
        <div class="task">
            <ul class="dayOneTaskUl">
                <div class="dayOne">
                    <p class="dayOneName">每日任务</p>
                    <!-- <div class="cf percentage">
                        <div class="percent dib fl">
                            <div class="percentSpeed" style="width: 80.5%;"></div>
                        </div>
                        <span class="percentDate dib fr">5/650积分</span>
                    </div> -->
                </div>
                <li class="dayOneTaskLi cf">
                    <div class="sign dib cf">
                        <img class="dib fl" src="__PUBLIC__/Mobile/images/integralTask/sign.png" alt="">
                        <div class="signText fl">
                            <p class="signName">签到</p>
                            <p class="signIntegral"><span class="signIntegralDate">+5 </span><span class="signIntegralName">积分</span></p>
                        </div>
                    </div>
                    <if condition="$istoday eq 0">
                        <a class="taskBtn fr dib" id="sign" href="javascript:;">做任务</a>
                    <else/>
                        <a class="completeBtn fr dib" href="javascript:;">已完成</a>
                    </if>
                    
                </li>
                <li class="dayOneTaskLi cf">
                    <div class="sign dib cf">
                        <img class="dib fl" src="__PUBLIC__/Mobile/images/integralTask/share.png" alt="">
                        <div class="signText fl">
                            <p class="signName">分享平台/游戏</p>
                            <p class="signIntegral"><span class="signIntegralDate">+10 </span><span class="signIntegralName">积分</span></p>
                        </div>
                    </div>
                    <if condition="$isshare eq 0">
                        <a class="taskBtn fr dib" id="share" href="javascript:;">做任务</a>
                    <else/>
                        <a class="completeBtn fr dib" id="share" href="javascript:;">已完成</a>
                    </if>
                </li>
                <li class="dayOneTaskLi cf">
                    <div class="sign dib cf">
                        <img class="dib fl" src="__PUBLIC__/Mobile/images/integralTask/dayOne.png" alt="">
                        <div class="signText fl">
                            <p class="signName">平台币充值</p>
                            <p class="signIntegral"><span class="signIntegralDate">1平台币=10积分 </span><!-- <span class="signIntegralName">积分</span> --></p>
                        </div>
                    </div>
                    <a class="taskBtn fr dib" href="{:U('Recharge/chongzhi')}">做任务</a>
                    <!-- <a class="completeBtn fr dib hide" href="javascript:;">已完成</a> -->
                </li>
            </ul>
            <ul class="dayOneTaskUl">
                <div class="novice">
                    <p class="noviceName">新手任务</p>
                </div>
                <li class="dayOneTaskLi cf">
                    <div class="sign dib cf">
                        <img class="dib fl" src="__PUBLIC__/Mobile/images/integralTask/perfectInformation.png" alt="">
                        <div class="signText fl">
                            <p class="signName">完善个人资料</p>
                            <p class="signIntegral"><span class="signIntegralDate">+20 </span><span class="signIntegralName">积分</span></p>
                        </div>
                    </div>
                    <if condition="$user.user_img eq ''">
                        <a class="taskBtn fr dib" href="{:U('Member/noidcard')}">做任务</a>
                    <else/>
                        <a class="completeBtn fr dib" href="javascript:;">已完成</a>
                    </if>
                </li>
                <li class="dayOneTaskLi cf">
                    <div class="sign dib cf">
                        <img class="dib fl" src="__PUBLIC__/Mobile/images/integralTask/realName.png" alt="">
                        <div class="signText fl">
                            <p class="signName">通过实名认证</p>
                            <p class="signIntegral"><span class="signIntegralDate">+50 </span><span class="signIntegralName">积分</span></p>
                        </div>
                    </div>
                    <if condition="$user.idcard eq '' || $user.real_name eq ''">
                        <a class="taskBtn fr dib" href="{:U('Member/noidcard')}">做任务</a>
                    <else/>
                        <a class="completeBtn fr dib" href="javascript:;">已完成</a>
                    </if>
                </li>
                <li class="dayOneTaskLi cf">
                    <div class="sign dib cf">
                        <img class="dib fl" src="__PUBLIC__/Mobile/images/integralTask/bindNum.png" alt="">
                        <div class="signText fl">
                            <p class="signName">绑定手机号</p>
                            <p class="signIntegral"><span class="signIntegralDate">+50 </span><span class="signIntegralName">积分</span></p>
                        </div>
                    </div>
                    <if condition="$user.phone eq '' ">
                        <a class="taskBtn fr dib" href="{:U('Member/bindphone')}">做任务</a>
                    <else/>
                        <a class="completeBtn fr dib" href="javascript:;">已完成</a>
                    </if>
                </li>
            </ul>
            <div class="modalCode" id="qrcode">
                <div class="qrCode">
                    <img src="">
                    <p class="qrText">请保存图片分享给你的小伙伴吧</p>
                </div>
            </div>

        </div>
        



        <!--   底部导航栏   -->
        <nav class="bar bar-tab">
            <a class="tab-item external footTap-game" href="{:U('Index/index')}">
                <span class="icon"></span>
                <span class="tab-label">游戏</span>
            </a>
            <a class="tab-item external footTap-mall" href="{:U('Mall/index')}">
                <span class="icon"></span>
                <span class="tab-label">商城</span>
            </a>
            <a class="tab-item external footTap-center active" href="{:U('Member/personalcenter')}">
                <span class="icon"></span>
                <span class="tab-label">我</span>
            </a>
        </nav>
    </div>

    <script src="__JS__/zepto.min.js"></script>
    <script src="__JS__/sm.min.js"></script>
    <script src="__JS__/sm-extend.min.js"></script>
    <script src="__JS__/main.js"></script>

    <script type="text/javascript">
        
        //签到
        $(document).on("click",'#sign',function(){

            sendReq("{:U('Public/sign')}",{},'',function(data){

                if (parseInt(data.status) == 1 ) {
                    // 成功状态下
                    $.toast(data.msg);
                    window.location.href= "{:U('Member/pointstask')}";
                } else {
                    $.toast('签到');
                }
            });

        });

        //分享
        $(document).on("click",'#share',function(){
 
            $("#qrcode").find("img").attr("src","{:U('Public/qrcode')}");
            $("#qrcode").show();

        });

        $(document).on("click",'.modalCode',function(){
            $("#qrcode").hide();
        })
        
        
    </script>
</body>
</html>