<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>充值中心</title>
    <link rel="stylesheet" href="__CSS__/sm.min.css">
    <link rel="stylesheet" href="__CSS__/public.css">
    <link rel="stylesheet" href="__CSS__/Recharge/index.css">
</head>
<body class="mHome pr bg_white">

    <div class="d_body" style="height:px;">
        <div class="d_content cesBox">

            <div class="orderBox cf">
                <div class="eachOrder fl orderNum">
                    <p class="orderLeft fl">订单号：</p>
                    <p class="fl orderRight">{$data.pay_order_number}</p>
                </div>
                <div class="eachOrder fl">
                    <p class="orderLeft fl">充值金额：</p>
                    <p class="fl orderRight">本次充值{$data.pay_amount}元，实际付款{$data.pay_amount}元</p>
                </div>
            </div>
            <div class="text_center">
                <img src="__MODULE__/Recharge/qrcode/url/{$payinfo}" class="code"  height="301" width="301" >
                <img src="/Public/Media/image/zfb_pay_tips.png" class="codeAfter">
            </div>
            <div class="operateBox cf">
                <a href="{:U('Member/pcaccountyue')}" class="btn-finish fr">充值完成</a>
                <a href="{:U('Member/pcaccountyue')}" class="returnBack fl">返回</a>
            </div>
        </div>
    </div>

<script src="__JS__/zepto.min.js"></script>
<script src="__JS__/sm.min.js"></script>
<script src="__JS__/Recharge/index.js"></script>
</body>
</html>