<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>手上科技手机游戏运营平台_好玩的手机游戏排行榜_手机游戏免费下载</title>
    <meta name="description" content="手上科技">
    <link rel="shortcut icon" type="image/ico" href="../../Static/Image/common/share/favicon.ico">
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/common/public.css">
    <link rel="stylesheet" href="../../Static/Css/customerService/detail.css">
</head>
<body>

<!-- 客服中心详情 -->
<div class="customerContent">
    <div class="container cf">

        <!-- 客服详情面包屑 -->
        <div class="customerCrumbs">
            <span>当前位置&nbsp;</span>
            <a href="javascript:;">-&nbsp;客服中心&nbsp;-</a>
            <a id="activeProblem" href="javascript:;">&nbsp;密码问题</a>
        </div>

        <!-- tap切换 -->
        <ul class="guideUl dib pr fl">
            <li class="pr on">
                <div class="dib problem">密码问题</div>
                <span class="line dib"></span><span class="circular dib"></span>
            </li>
            <li class="pr">
                <div class="dib problem">充值问题</div>
                <span class="line dib"></span><span class="circular dib"></span>
            </li>
            <li class="pr">
                <div class="dib problem">账号问题</div>
                <span class="line dib"></span><span class="circular dib"></span>
            </li>
            <li class="pr">
                <div class="dib problem">礼包问题</div>
                <span class="line dib"></span><span class="circular dib"></span>
            </li>
            <li class="pr">
                <div class="dib problem">常见问题</div>
                <span class="line dib"></span><span class="circular dib"></span>
            </li>
            <div class="guideIcon"></div>
        </ul>
        <div class="tap dib fl">
            <div class="tapBox pwdProblem">
                <h4>密码问题</h4>
                <div class="allProblem">
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 我修改密码的时候，为什么接收不到短信验证码？该怎么办？</p>
                        <p class="answer">A:您好：如果无法正常接受验证短信,可以联系客服：010-85655922或18301467532,QQ:2305194405或2152187537进行人工投诉。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 我换了手机，但他哪里提示要输入密码，我注册的时候是自动登录进去的？ 该怎么找回密码?</p>
                        <p class="answer">A:您好，在登录框选择找回密码即可。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 游戏账号的密码忘记了，怎么办?</p>
                        <p class="answer">A: 亲爱的玩家：您好!如您的账号有设置绑定信息。</p>
                        <p class="answer">① 有设置密保手机，可通过手机验证重置密码</p>
                        <p class="answer">② 有设置密保邮箱，可通过邮箱验证重置密码</p>
                        <p class="answer">③ 需要人工找回联系客服，客服电话：010-85655922 或 18301467532</p>
                    </div>
                </div>
            </div>
            <div class="tapBox rechargeProblem">
                <h4>充值问题</h4>
                <div class="allProblem">
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 支付宝/微信充值扣费了，没到帐怎么办？</p>
                        <p class="answer">A: 亲爱的玩家：您好!充值未能即时到账，可能是因为充值延迟所造成，如果较长时间仍未到帐，建议您到我们蘑菇玩游戏官网联系QQ客服，提供相关账号信息以及扣费截图进行查询，感谢您对蘑菇玩游戏平台的支持，祝您游戏愉快!</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 充值后没有给奖励</p>
                        <p class="answer">A: 亲爱的玩家：您好!请您确认您充值的时间是否在活动时间内，充值的金额是否符合活动要求。若还有疑问，请拨打我们的客服电话：010-85655922 或 18301467532 进行咨询，或者到我们蘑菇玩游戏平台官网联系QQ客服：2305194405反馈</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 点击充值无反应</p>
                        <p class="answer">A: 亲爱的玩家：您好!建议您可以先清除游戏数据的缓存，并确保网络良好后再进行充值。如果仍然无法充值，请到我们蘑菇玩游戏官网重新下载安装游戏，在尝试充值。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 充值后缺少道具、金币、钻石、元宝，怎么办?</p>
                        <p class="answer">A: 亲爱的玩家：您好!建议您到我们蘑菇玩游戏官网客服中心联系QQ客服，提供相关账号信息和充值信息进行查询</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 如何在游戏中进行充值？</p>
                        <p class="answer">A: 亲爱的玩家：您好!在游戏的主界面中有“充值”选项(部分在“商城”中)点击进入金额选择界面，选择金额和支付方式后进入付费界面。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: Q币能充值游戏吗?</p>
                        <p class="answer">A: 亲爱的玩家：您好!目前蘑菇玩游戏不支持Q币充值，请您登录我们的充值中心，选择适合您的充值方式进行充值。感谢您对蘑菇玩游戏平台的支持，祝您游戏愉快!</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 手机话费是否可以充值?</p>
                        <p class="answer">A: 亲爱的玩家：您好!目前蘑菇玩游戏暂不支持使用手机话费进行充值。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 在充值返利活动中，你们平台为什么要在平台官方网站上充值平台币才行，直充不行？</p>
                        <p class="answer">A: 您好，因为返利是我们平台币哦，不是游戏的返利呢，所以在游戏内直充是不能参与活动的。 您好，可以充值未平台币以后使用平台币支付哦。平台币是可以输入金额的。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 我不小心点错了，但没付款，导致消费记录里面显示“支付中”，该怎么办？会扣费吗？</p>
                        <p class="answer">A: 您好，没有完成支付是不会扣费的。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 我想在游戏里面充值，但我不知道怎么充值，具体步骤是什么？  Q: 如何取消支付宝快速支付？</p>
                        <p class="answer">A: 您好!您可以进入浏览器，选择“工具”-“清除记录”，再选择“Cookies”，即可取消。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 支付宝充值失败了，钱会扣除吗?</p>
                        <p class="answer">A: 您好，充值失败一般是不会扣除您的钱的。但如果出现充值失败钱也扣除情况，请马上联系客服，客服会为您核实处理的。客服联系电话：010-85655922， 温馨提示：一般出现充值失败有可能是游戏厂商内部更新问题，小编建议采取人工充值。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 扣费成功但没收到游戏币，怎么办?</p>
                        <p class="answer">A: 亲爱的玩家：您好!如果您支付完成扣款成功，但您的游戏账号里没有收到游戏币，这时可能是由于网络延迟而造成的，请您耐心等待几分钟即可!如果较长时间仍未到帐，可能是系统出现问题，这时候您可以联系【QQ客服】提交给我们的客服进行处理。感谢您对蘑菇玩游戏平台的支持，祝您游戏愉快! 客服电话：010-85655922 或 18301467532, QQ：2305194405</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 如何选择合适的充值方式?</p>
                        <p class="answer">A: 如果您拥有支付宝帐号，我们建议您采用支付宝方式支付; 如果您开通了网上银行，我们建议您采用支付宝支付； 注：可以联系客服，进行人工充值，省心省力态度好。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 充值中心提供了哪些充值方式?</p>
                        <p class="answer">A: 亲爱的玩家：您好!蘑菇玩游戏为您提供快捷、便利、多样化的充值方式，具体如下：支付宝、人工充值(联系客服)。感谢您对蘑菇玩游戏平台的支持，祝您游戏愉快!</p>
                    </div>
                </div>
            </div>
            <div class="tapBox accountProblem">
                <h4>账户问题</h4>
                <div class="allProblem">
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 一个手机号码可以绑定几个账号？</p>
                        <p class="answer">A: 亲爱的玩家：您好！目前一个手机号码最多只能绑定一个账号。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 在蘑菇玩注册的账号可以在别的平台登录吗?</p>
                        <p class="answer">A: 亲爱的玩家：您好!不同平台账号数据是不互通的,所以不能在别的平台上进行登录。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 游戏账号忘记了,怎么找回?</p>
                        <p class="answer">A: A: 亲爱的玩家：您好!您可以通过以下方式找回:</p>
                        <p class="answer">①通过绑定信息找回，绑定了密保手机或者登录邮箱，可以直接通过手机或者邮箱作为账号登录游戏。</p>
                        <p class="answer">②通过充值记录，如：支付宝账号，支付宝商户订单号(请使用电脑查询)，充值订单号，银行卡充值订单号等提供给客服查询。</p>
                        <p class="answer">③如未绑定手机或邮箱,请将账号其他信息尽量完整提供给客服查询您对应的蘑菇玩账号。</p>
                        <p class="answer">联系客服QQ：2305194405,客服电话:010-85655922 或 18301467532。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 我的账号在另一个手机登录不了？</p>
                        <p class="answer">A: 亲爱的玩家：您好!可能是因为您两台手机下载的安装包不是同一平台的,建议查询您原手机上的安装包所属平台,再重新下载所属平台的安装包。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 你们平台的帐号可以注销吗？</p>
                        <p class="answer">A: 亲爱的玩家：您好!目前已注册的账号是不可以注销的哦。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 我换了手机号，我想要换绑手机号，该怎么操作？</p>
                        <p class="answer">A: 您好，请登陆蘑菇玩官网，右上角登录，登录后再次点击进入个人中心，选择更换绑定手机，输入手机号验证即可。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 没有绑定过手机或邮箱,怎么找回密码?</p>
                        <p class="answer">A: 亲爱的玩家：您好!如您的账号没有绑定手机号或邮箱,请您到我们的官网上联系客服,相关工作人员会在1-3个工作日给您审核,审核结果将以电话的形式通知您,请您留意并耐心等候.您也可以到我们蘑菇玩游戏官网联系在线QQ客服:2305194405进行找回!</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 为什么我在你们平台登陆显示“该用户未注册”？</p>
                        <p class="answer">A: 您好，因为您登陆的账号并未注册哦，您使用的是其他平台的账号所以无法登陆蘑菇玩的端口。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 你们平台支持哪几种作为帐号登录游戏？</p>
                        <p class="answer">A: 亲爱的玩家：您好!目前没有开通第三方登陆，建议您使用手机号或自定义号码进行账号注册。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 我该怎么注册你们平台的账号？</p>
                        <p class="answer">A: 亲爱的玩家：您好！在游戏内有一键注册的哦~输入手机号或自定义账号即可注册的。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 我该怎么下载你们平台的游戏？</p>
                        <p class="answer">A: 您好,点击官网进入蘑菇玩游戏平台，搜索需要的游戏选择下载即可。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 游戏账号忘记了,怎么办?</p>
                        <p class="answer">A: 您好，账号找回的方法很多，请您择优选用：</p>
                        <p class="answer">1.通过绑定信息找回，绑定了密保手机，可以直接通过手机作为账号登录游戏。</p>
                        <p class="answer">2.通过充值记录，如：支付宝账号，支付宝商户订单号(请使用电脑查询)，充值订单号，银行卡充值订单号等提供给客服查询。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 账号在登陆时系统提示“账号被冻结或被锁定”怎么办?</p>
                        <p class="answer">A: PS：联系在线客服或者电话客服进行解锁! 客服电话：010-85655922 或 18301467532， QQ：2305194405</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 游戏闪退和无法登录解决方法？</p>
                        <p class="answer">A: 1、服务器问题</p>
                        <p class="answer">解决方法：服务器出现故障，官方会给出相应补偿。</p>
                        <p class="answer">2、游戏版本问题</p>
                        <p class="answer">解决方法：检查游戏是否为最新版本。</p>
                        <p class="answer">3、内存不足</p>
                        <p class="answer">解决方法：手机内存不足时，建议退出游戏，先清理手机内存在进入游戏，关闭不必要的后台应用。</p>
                        <p class="answer">4、手机网络不通畅</p>
                        <p class="answer">解决方法：最好在网络信号好的地方玩游戏，或者使用wifi网络玩游戏，就不会出现无法连接服务器的情况。</p>
                        <p class="answer">5、客户端不正常</p>
                        <p class="answer">解决方法：建议在蘑菇玩官网下载最新的客户端：点击下载</p>
                        <p class="answer">6、输入了账号和密码然后点登陆，提示登陆失败。</p>
                        <p class="answer">解决方法：SDK登陆密码不能有特殊字符的，而且系统时间也得符合。</p>
                        <p class="answer">7、安装失败</p>
                        <p class="answer">解决方法：用蘑菇玩助手下载游戏在安装。</p>
                        <p class="answer">8、卡登陆界面进不去在解压档案中，然后无限循环登陆的</p>
                        <p class="answer">解决方法：重新登录下，进去别切出来。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 手上科技游戏账号问题?</p>
                        <p class="answer">A: 手上科技官网下载的游戏账号用手机号码注册成功后是通用的，比如：在蘑菇玩下载《去吧皮卡丘》注册账号成功后，在《阴阳师》中是可以直接登陆的。</p>
                    </div>
                </div>
            </div>
            <div class="tapBox packageProblem">
                <h4>礼包问题</h4>
                <div class="allProblem">
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 什么时候发放最新的礼包？</p>
                        <p class="answer">A: 亲爱的玩家：您好！请您保持对蘑菇玩游戏平台的持续关注，您登录游戏后在界面左边有一个隐藏的悬浮图标，点击账户中的礼包页面，就可以领取对应的礼包，礼包数量有限，请在领取后及时兑换。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 如何查看是否已领取过同类型礼包？</p>
                        <p class="answer">A: 亲爱的玩家：您好！获得兑换码后尝试在游戏内兑换，如已领取过同类型礼包，则游戏内系统会有相关提示。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 不同渠道获得的礼包，都可以使用吗？</p>
                        <p class="answer">A: 亲爱的玩家：您好！如果您是在不同的渠道获得的礼包，那么是无法在在蘑菇玩平台使用的，建议您在蘑菇玩平台领取对应礼包并使用</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 礼包兑换、领取方式</p>
                        <p class="answer">A: 亲爱的玩家：您好！请您在游戏中寻找礼包功能输入兑换码即可完成领取。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 进入蘑菇玩助手发现礼包领取完怎么办?</p>
                        <p class="answer">A: 亲爱的玩家：您好！平台发现礼包没有会及时添加，你持续关注蘑菇玩助手或者微信动态即可获得礼包。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 平台游戏的新手卡激活码如何领取?</p>
                        <p class="answer">A: 1、下载蘑菇玩助手，输入游戏名称即可领取礼包。</p>
                        <p class="answer">2、关注（蘑菇玩游戏）微信，回复游戏名称：“###”即可获取礼包回复码。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 领取礼包兑换失效/过期等问题，怎么办?</p>
                        <p class="answer">A: 亲爱的玩家：您好！一种礼包，一个角色只能兑换一次，礼包失效可能是玩家通过其他方式已经获得了该礼包。过期礼包是无法使用的，请您重新领取礼包并及时兑换。</p>
                    </div>
                </div>
            </div>
            <div class="tapBox commonProblem">
                <h4>常见问题</h4>
                <div class="allProblem">
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 为什么我登录游戏的时候，登不上去，没有任何提示？</p>
                        <p class="answer">A: 亲爱的玩家：您好！建议您检查网络设置，确保网络畅通无延迟情况，然后清理下内存和应用数据。感谢您对蘑菇玩游戏平台的支持，祝您游戏愉快！</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 闪退\掉线\卡机如何处理?</p>
                        <p class="answer">A: 亲爱的玩家您好，请您先加客服QQ：2305194405，进行客服咨询，查看是否为游戏更新版本或例行维护导致，如为个别现象，请您尝试以下方法：</p>
                        <p class="answer">1、清理缓存，关闭空闲软件，再次登录游戏;</p>
                        <p class="answer">2、使用手机卫士清理加速，并检查运行内存;</p>
                        <p class="answer">3、关闭手机重新启动;</p>
                        <p class="answer">4、确认网络是否正常，请查看手机其它应用或其它设备联网是否正常;</p>
                        <p class="answer">5、卸载游戏，通过官网重新下载安装;</p>
                        <p class="answer">如不能解决问题，请您准备以下材料提交客服人员：账号、游戏名称、所在区服、游戏角色、使用的网络、手机品牌、手机型号、手机系统版本。</p>
                    </div>
                    <div class="problemText">
                        <p class="problemTextTitle">Q: 忘记游戏所在区服怎么办?</p>
                        <p class="answer">A: 亲爱的玩家您好，请您提供账号名称(包括绑定的手机)、角色名称、等级、职业，以便我们尽快帮助您。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../Static/Js/common/jquery.js"></script>
<script src="../../Static/Js/common/public.js"></script>
<script src="../../Static/Js/customerService/detail.js"></script>
</body>
</html>