<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>手上科技手机游戏运营平台_好玩的手机游戏排行榜_手机游戏免费下载</title>
    <meta name="description" content="手上科技">
    <link rel="shortcut icon" type="image/ico" href="../../Static/Image/common/share/favicon.ico">
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/common/public.css">
    <link rel="stylesheet" href="../../Static/Css/customerService/index.css">
</head>
<body>

    <!-- 客服中心content -->
    <div class="customerContent pr">

        <!-- 密码问题、充值问题、账号问题、礼包问题 -->
        <div class="customerProblem cf">
            <a href="javascript:;" class="pwdProblem problem dib fl">
                <h3>密码问题</h3>
                <div class="problemText">
                    <p>•&nbsp;&nbsp;我修改密码的时候,为什么接收不到短信验证码?该怎么办?</p>
                    <p>•&nbsp;&nbsp;我换了手机,但他哪里提示要输入密码，我注册的时候是自动登录进去的？ 该怎么找回密码?</p>
                    <p>•&nbsp;&nbsp;游戏账号的密码忘记了,怎么办?</p>
                </div>
            </a>
            <a href="javascript:;" class="rechargeProblem problem dib fl">
                <h3>充值问题</h3>
                <div class="problemText">
                    <p>•&nbsp;&nbsp;支付宝/微信充值扣费了,没到帐怎么办?</p>
                    <p>•&nbsp;&nbsp;充值后没有给奖励</p>
                    <p>•&nbsp;&nbsp;点击充值无反应</p>
                    <p>•&nbsp;&nbsp;充值后缺少道具、金币、钻石、元宝，怎么办?</p>
                    <p>•&nbsp;&nbsp;如何在游戏中进行充值?</p>
                    <p>•&nbsp;&nbsp;Q币能充值游戏吗?</p>
                </div>
            </a>
            <a href="javascript:;" class="accountProblem problem dib fl">
                <h3>账号问题</h3>
                <div class="problemText">
                    <p>•&nbsp;&nbsp;一个手机号码可以绑定几个账号?</p>
                    <p>•&nbsp;&nbsp;在蘑菇玩注册的账号可以在别的平台登录吗?</p>
                    <p>•&nbsp;&nbsp;游戏账号忘记了,怎么找回?</p>
                    <p>•&nbsp;&nbsp;我的账号在另一个手机登录不了?</p>
                    <p>•&nbsp;&nbsp;你们平台的帐号可以注销吗?</p>
                    <p>•&nbsp;&nbsp;我换了手机号,我想要换绑手机号,该怎么操作?</p>
                </div>
            </a>
            <a href="javascript:;" class="packageProblem problem dib fl">
                <h3>礼包问题</h3>
                <div class="problemText">
                    <p>•&nbsp;&nbsp;什么时候发放最新的礼包?</p>
                    <p>•&nbsp;&nbsp;如何查看是否已领取过同类型礼包?</p>
                    <p>•&nbsp;&nbsp;不同渠道获得的礼包,都可以使用吗?</p>
                    <p>•&nbsp;&nbsp;礼包兑换、领取方式</p>
                    <p>•&nbsp;&nbsp;进入蘑菇玩助手发现礼包领取完怎么办?</p>
                    <p>•&nbsp;&nbsp;平台游戏的新手卡激活码如何领取?</p>
                </div>
            </a>
        </div>

        <!-- 咨询客服窗口 -->
        <div class="consultation">
            <a href="javascript:;"><img class="dib" src="../../Static/Image/customerService/serviceIcon.png" alt="在线客服"><span>在线客服</span></a>
            <a href="javascript:;"><img class="dib" src="../../Static/Image/customerService/consultationIcon.png" alt="在线客服"><span>问题咨询</span></a>
        </div>
    </div>

<script src="../../Static/Js/common/jquery.js"></script>
<script src="../../Static/Js/common/public.js"></script>
</body>
</html>