<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>注册</title>
    <link rel="stylesheet" href="__CSS__/sm.min.css">
    <link rel="stylesheet" href="__CSS__/public.css">
    <link rel="stylesheet" href="__CSS__/register/index.css">
</head>
<body class="mHome bg_white">

    <!--  Logo   -->
    <div class="logo">
        <img class="logoImg" src="__PUBLIC__/Mobile/images/index/logo.png" />
        <p class="logoChName">手上科技</p>
        <p class="logoEnName">Shoushang technology</p>
    </div>

    <!--  tab选项  -->
    <div class="tabBox cf">
        <a href="javascript:void(0)" class="eachTab fl active">账号注册</a>
        <a href="javascript:void(0)" class="eachTab fl">手机注册</a>
    </div>

    <!--  表单   -->
    <form action="" class="formBox cf">

        <input type="hidden" id="url" value="__MODULE__" />
        <!--  账号注册  -->
        <div class="accountRegBox formWrapBox">
            <div id="account" class="formBoxWrap fl cf">
                <p class="formName fl"><img src="__PUBLIC__/Mobile/images/login/account.png"></p>
                <input class="fl formInput" type="text" placeholder="4-20位数字、字母" maxlength="20">
            </div>
            <div id="pwd" class="formBoxWrap fl cf">
                <p class="formName fl"><img src="__PUBLIC__/Mobile/images/login/pwd.png"></p>
                <input class="fl formInput" type="password" placeholder="4-20位数字、字母" maxlength="20">
            </div>
            <div id="confirmPwd" class="formBoxWrap fl cf">
                <p class="formName fl"><img src="__PUBLIC__/Mobile/images/login/pwd.png"></p>
                <input class="fl formInput" type="password" placeholder="请确认密码" maxlength="20">
            </div>
            <div id="realName" class="formBoxWrap fl cf">
                <p class="formName fl"><img src="__PUBLIC__/Mobile/images/register/name.png"></p>
                <input class="fl formInput" type="text" placeholder="请输入真实姓名">
            </div>
            <div id="cardId" class="formBoxWrap fl cf">
                <p class="formName fl"><img src="__PUBLIC__/Mobile/images/register/cardId.png"></p>
                <input class="fl formInput" type="text" placeholder="请输入身份证号码">
            </div>
        </div>

        <!--  手机注册  -->
        <div class="phoneRegBox formWrapBox hide">
            <div id="phone" class="formBoxWrap fl cf">
                <p class="formName fl"><img src="__PUBLIC__/Mobile/images/login/account.png"></p>
                <input class="fl formInput" type="text" placeholder="请输入手机号" maxlength="11">
            </div>
            <div id="phonePwd" class="formBoxWrap fl cf">
                <p class="formName fl"><img src="__PUBLIC__/Mobile/images/login/pwd.png"></p>
                <input class="fl formInput" type="password" placeholder="请输入密码" maxlength="20">
            </div>
            <div id="phoneConfirmPwd" class="formBoxWrap fl cf">
                <p class="formName fl"><img src="__PUBLIC__/Mobile/images/login/pwd.png"></p>
                <input class="fl formInput" type="password" placeholder="请确认密码" maxlength="20">
            </div>
            <div id="phoneRealName" class="formBoxWrap fl cf">
                <p class="formName fl"><img src="__PUBLIC__/Mobile/images/register/name.png"></p>
                <input class="fl formInput" type="text" placeholder="请输入真实姓名">
            </div>
            <div id="phoneCode" class="formBoxWrap fl cf pr">
                <p class="formName fl"><img src="__PUBLIC__/Mobile/images/register/cardId.png"></p>
                <input class="fl formInput" type="text" placeholder="请输入短信验证码" maxlength="6">
                <input href="javascript:void(0)" class="btn-code" id="btn-code" readonly="true" value="获取验证码"/>
            </div>
        </div>

        <!--  注册和同意协议   -->
        <div class="btn-loginBox">
            <a href="javascript:void(0)" class="btnReg" id="btnReg">注册</a>
        </div>
        <div class="agreementBox cf active">
            <i class="ChoseClick fl"></i>
            <p class="fl agreement">我已阅读并同意《用户注册协议》</p>
        </div>
    </form>

<script src="__JS__/zepto.min.js"></script>
<script src="__JS__/sm.min.js"></script>
<script src="__JS__/main.js"></script>
<script src="__JS__/register/index.js"></script>
</body>
</html>