/* 头部 */
.page-group{background: #f4f4f4;}

.page-group .signHeadImg{background: url("../../images/personalCenter/signBg.png");background-size: 100% 100%;height: 9rem;text-align: left;padding: 0 .7rem;}
.page-group .signImg{display: inline-block;width: 4.2rem;height:4.2rem;border-radius:50%;margin-top: 1.2rem;vertical-align: middle;}
.userName{width: 6rem;display: inline-block;vertical-align: middle;margin: 2.2rem 0 0 .8rem;}
.userName span{color: #fff;font-size: .8rem;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: block;}
.integral{margin-top: 2.2rem;}
.integralName{color: #fff;font-size: .8rem;}
.integralText{color: #fff;font-size: 2.4rem;text-align: right;padding: .8rem 0;}
.userAccount span{display: block;width: 6rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

/* 每日任务 */
.task{margin-bottom: 3.2rem;}
.dayOneTaskUl{margin-top: .5rem;background: #fff;}
.dayOne{padding: .2rem .7rem .6rem;}
.dayOneName{font-size: .9rem;font-weight: 600;color: #333;padding-bottom: .2rem;}
.dayOneTaskLi{height: 3rem;border-top: 1px solid #f4f4f4;padding: 0 .7rem;}
.sign{width: 60%;}
.signText{margin: .35rem .8rem;}
.sign img{width: 1.3rem;height: 1.3rem;margin: .85rem 0;}
.signName{font-size: .8rem;margin-left: .2rem;}
.signIntegral{font-size: .7rem;}
.signIntegralDate{color: #ff4848;}
.taskBtn{height: 1.8rem;width: 4.2rem;background: #00c9e1;color: #fff;font-size: .9rem;text-align: center;line-height: 1.8rem;border-radius: 4px;margin: .6rem 0;}
.completeBtn{height: 1.8rem;width: 4.2rem;background: #f4f4f4;color: #999;font-size: .9rem;text-align: center;line-height: 1.8rem;border-radius: 4px;margin: .6rem 0;}

/* 新手任务 */
.novice{padding: .7rem .7rem;}
.noviceName{font-size: .9rem;font-weight: 600;color: #333;}

/* 百分比 */
.percentage{line-height: 9px}
.percent{width: 70%;height: 10px;background: #eee;border-radius: 5px;}
.percentSpeed{height: 10px;border-radius: 5px;background: linear-gradient(to right, #02cae1, #91febb);}
.percentDate{font-size: .7rem;width: 23%;color: #333;}

.qrCode{width: 160px;height: 160px;position: absolute;top: 50%;left: 50%;margin-left: -80px;margin-top: -120px;z-index: 10002;}
.modalCode{position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0,0,0,.4);visibility: visible;opacity: 1;z-index: 10001;display: none;}
.qrText{color: #fff;}