/* 忘记密码面包屑 */
.forgetContent .forgetCrumbs{margin-top: 44px;margin-bottom: 30px;font-size: 14px;}
.position{color: #999;}

/* 找回密码导向图 */
.forgetGuide{height:30px;font-size: 14px;margin-bottom: 80px;}
.forgetGuide .dib{width: 300px;height: 30px;line-height: 30px;text-align: center;color: #fff;}
.forgetGuide .forgetOne{position: absolute;top: 0;left: 0;background: url("../../Image/login/accountNumber.png") no-repeat center;background-size: 300px 30px;}
.forgetGuide .forgetTwo{position: absolute;top: 0;left: 292px;background: url("../../Image/login/unBackPwd.png") no-repeat center;background-size: 300px 30px;}
.forgetGuide .forgetThree{position: absolute;top: 0;left: 584px;background: url("../../Image/login/unBackPwd.png") no-repeat center;background-size: 300px 30px;}
.forgetGuide .forgetFour{position: absolute;top: 0;left: 876px;background: url("../../Image/login/unComplete.png") no-repeat center;background-size: 300px 30px;}
.forgetTwo.active,.forgetThree.active{background: url("../../Image/login/backPwd.png") no-repeat center;background-size: 300px 30px;}
.forgetFour.active{background: url("../../Image/login/complete.png") no-repeat center;background-size: 300px 30px;}

/* 输入框 */
.forgetInputBox{margin-bottom: 150px;}
.forgetInputBoxLeft{width: 700px;min-height:120px;margin-left: 100px;border-right: 1px solid #E6E6E6;}
.userText{font-size: 14px;margin-right: 10px;}
.userInput{width: 290px;height: 30px;border: 1px solid #f2f2f2;margin-right: 30px;padding-left: 10px;}
.remarks{font-size: 14px;}
.star{color: #ed6557;font-style: normal;padding: 0 4px;}
.noticeText{color: #999;font-size: 14px;}
.next{width: 290px;height: 30px;background-color: #ccc;color: #fff;line-height: 30px;cursor: pointer;border: none;margin-top: 50px;margin-left: 100px;}
.nextFinish{color:#FFF;background: #F39A36;}
.userPhone{width: 200px;margin-right: 0;}
.phone{margin-right: 14px;}
.sendCode{width: 90px;height: 32px;line-height: 30px;border: none;margin-right: 30px;cursor: pointer;}
.userText ,.notice{line-height: 32px;}
.complete{margin: 30px 100px;}
.completeReset{height:30px;line-height:30px;font-size: 16px;}
.successReset{width: 30px;height: 30px;margin-right: 20px;}

/* 右侧文本说明 */
.explain{margin-left: 60px;}
.explain p{margin: 20px 0 20px 0;font-size: 12px;color: #ccc;}
.explain i{color: #ed6557;font-style: normal;margin: 0 6px 0 0;}
.userNum{margin-bottom: 20px;}








