/* 用户名和手机号注册tap */
.registerTitle ul{margin-top: 50px;border-radius: 4px;}
.registerTitle ul li{width: 50%;display: inline-block;text-align: center;height: 58px;line-height: 58px;}
.regTab.on{-moz-box-shadow:0 0 6px #f39a36; -webkit-box-shadow:0 0 6px #f39a36; box-shadow:0 0 9px #f39a36;}
.regTab{-moz-box-shadow:0 0 9px #e9e9e9; -webkit-box-shadow:0 0 9px #e9e9e9; box-shadow:0 0 9px #e9e9e9;}
.usernameRegisterIcon{width:20px;height: 20px;vertical-align: middle;display: inline-block;background: url("../../Image/login/user_name_no_hit.png") no-repeat center;}
.numberRegisterIcon{width:20px;height: 20px;vertical-align: middle;display: inline-block;background: url("../../Image/login/phone_no_hit.png") no-repeat center;}
.on .usernameRegisterIcon{background: url("../../Image/login/user_name_hit.png") no-repeat center;}
.on .numberRegisterIcon{background: url("../../Image/login/phone_hit.png") no-repeat center;}
.registerTitle ul li a{vertical-align: middle;color: #b0b0b0;}
.tapBox{display: none;padding: 0 200px;}
.tapBox:first-Child{display:block;padding: 0 204px;}
.change{background:red;}
.registerTitle ul li.on{background: #f39a36;}
.registerTitle .on a{color: #fff;}
.logIn{text-align: center;margin: 50px 0;}
.logIn span{color: #999;}
.logIn a{background: url("../../Image/login/sign_in.png") no-repeat center;background-size: 100%;height: 30px;line-height: 30px;width: 150px;color: #fff;}
.tapBox .notice{color: #999;margin-bottom: 36px;}
.common .correct{display: block;float:left;width: 9px;height: 11px;margin-top:11px;background: url("../../Image/common/correct.png")no-repeat;background-size: 9px 11px;}


/* tapBox */
.common{margin-bottom: 36px;height: 32px;}
.common label{float:left;margin-right: 16px;}
.common input{float:left;width: 288px;height: 30px;line-height: 30px;border: 1px solid #999;margin-right: 16px;padding-left: 10px;font-size: 16px;}
.common span{color: #ff0000;}
.common .mailbox{font-size: 14px;color: #999;}
.verifyCode{overflow: hidden;}
.verifyCode label{margin-right: 18px;float: left;}
.verifyCode input{width: 190px;margin-right: 0;vertical-align: middle;float: left;}
.verifyCode .error{height: 32px;display: inline-block;vertical-align: middle;}
.illustrate p{color: #999;font-size: 14px;}
.illustrate{padding: 36px 0;}
.line{width: 1200px;position: absolute;left: 50%;margin-left: -600px;border-top: 1px solid #999;}
.agreement{text-align: center;margin-bottom: 36px;}
.imgCode{width: 102px;height: 32px;margin-right:16px;background: #CCC;}

.agreementText{color: #999;}
.agreement.active .agreementText{color:#ed6557;}
.agreement.active .selected{width:20px;height: 20px;vertical-align: middle;display: inline-block;background: url("../../Image/login/register-click.png") no-repeat center;}
.selected{width:20px;height: 20px;vertical-align: middle;display: inline-block;background: url("../../Image/login/register-unClick.png") no-repeat center;}

.agreement img{display: inline-block;vertical-align: middle;}
.agreement p{display: inline-block;vertical-align: middle;margin-left: 4px;font-size: 14px;}
.immediatelyRegister{display:block;width:290px;text-align: center;height: 38px;line-height: 38px;margin:0 auto 80px auto;background:#F39A36;color: #fff;}
.immediatelyRegister:active{color: #FFF;}
.sendCode{width: 102px;height: 32px;display: inline-block;background: #ccc;vertical-align: middle;}
.common .sendCode{width:100px;height:32px;text-align:center;font-size: 14px;line-height: 32px;color: #fff;background: #bbb;margin-right: 16px;cursor: pointer;border:none;}
.common p{display: inline-block;}
.common .remarks{font-size: 14px;vertical-align: inherit;color: #999;}
.common .remarks .star{background: none;width: 10px;vertical-align: inherit;}