/*       商城Banner          */
.mallNavBar{margin-bottom: .7rem ;background: #FFF;}

/*      小导航        */
.mallNavBar{width: 100%;}
.navLink{display: block;float:left;width: 100%;height: 100%;text-align: center;}
.subNav{width: 33.3%;}
.subNav .icon{display: block;width: 2rem;height: 2rem;margin:.7rem 2rem;}
.navName{width: 100%;font-size:.8rem;margin:-.5rem 0 .8rem 0;text-align: center;}
.navLinkIcon{width: 1.6rem;height:1.6rem;display: inline-block;margin: .8rem 0 .4rem;}

/*   tab栏     */
.mallTab{width: 100%;padding:0 .7rem;background: #FFF;border-bottom: 1px solid #F4F4F4;}
.subTab{display: block;float: left;width: 25%;height:3rem;font-size:.8rem;line-height:3rem;text-align: center;}
.subTab.active{border-bottom: 1px solid #00C9E1;}

/*   tab内容栏     */
.mallTabContentBox{margin-bottom: 3.2rem;}
.choiceBox{background: #FFF;}
.eachChoice{float:left;width: 50%;padding:1rem 0.7rem 1rem 0.7rem;margin-right:-1px; margin-bottom:-1px;border-right: 1px solid #F4F4F4;border-bottom: 1px solid #F4F4F4;}
.choiceImg{display: block;width: 10rem;height: 5rem;}
.choiceName{width:6rem;font-size: .8rem;height: 1.5rem;line-height: 1.5rem;font-weight: bold;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.choiceScore{width:6rem;font-size: .7rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.btnChange{display: block;width: 100%;height: 1.5rem;margin-top:.3rem;line-height: 1.5rem;text-align: center;    background: linear-gradient(to right, #01c9e1, #8efce1);color: #FFF;border-radius: .3rem;}
.noGoodsIcon,.noGiftIcon,.noChangeIcon{display: block;width: 8rem;height: 7rem;margin:1rem auto 1rem auto;}
.noGoodsIn,.noGiftIn,.noChangeIn{width: 11rem;height: 2rem;color:#999;line-height: 2rem;margin:0 auto 2rem auto;text-align: center;}
.noGoodsIcon{background: url("../../images/mall/noMatter.png") no-repeat;background-size: 8rem 7rem;}
.noGiftIcon{background: url("../../images/mall/noGift.png") no-repeat;background-size: 8rem 7rem;}
.noChangeIcon{background: url("../../images/index/noGame.png") no-repeat;background-size: 8rem 7rem;}
.noGoods{margin-bottom: 4rem;}

/* 幸运抽奖弹层 */
.modal{width: 10rem;margin-left: -5rem;}
.modal-inner{padding: .8rem;}