<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>手上科技手机游戏运营平台_好玩的手机游戏排行榜_手机游戏免费下载</title>
    <meta name="description" content="手上科技">
    <link rel="shortcut icon" type="image/ico" href="../../Static/Image/common/share/favicon.ico">
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/common/public.css">
    <link rel="stylesheet" href="../../Static/Css/index/index.css">
</head>
<body class="bg_body">

    <div class="homeMain">
        <!--  banner   -->
        <div class="slide-box">
            <ul class="slide-content">
                <li style="background: url('../../Static/Image/common/banner/banner1.jpg') no-repeat center center;"><a href="javascript:void(0)" target="_blank" title=""></a></li>
                <li style="background: url('../../Static/Image/common/banner/banner2.jpg') no-repeat center center;"><a href="javascript:void(0)" target="_blank" title=""></a></li>
                <li style="background: url('../../Static/Image/common/banner/banner3.jpg') no-repeat center center;"><a href="javascript:void(0)" target="_blank" title=""></a></li>
                <li style="background: url('../../Static/Image/common/banner/banner4.jpg') no-repeat center center;"><a href="javascript:void(0)" target="_blank" title=""></a></li>
                <li style="background: url('../../Static/Image/common/banner/banner5.jpg') no-repeat center center;"><a href="javascript:void(0)" target="_blank" title=""></a></li>
                <li style="background: url('../../Static/Image/common/banner/banner6.jpg') no-repeat center center;"><a href="javascript:void(0)" target="_blank" title=""></a></li>
            </ul>
            <ol class="slide-triggers">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>

            <!--  登录框   -->
            <div class="loginBox cf">
                <div class="loginTit fl">账号登录</div>
                <form action="" class="formBox cf fl">
                    <div class="eachInput fl accountBox cf" id="accountBox">
                        <i></i>
                        <input type="text" id="account" class="fl" placeholder="账号">
                    </div>
                    <div class="eachInput fl pwdBox cf">
                        <i></i>
                        <input type="password" id="pwd" class="fl" placeholder="密码">
                    </div>
                    <div class="operateLogin fl">
                        <i class="isChose fl active"></i>
                        <a class="rememberPwd fl">记住密码</a>
                        <a class="forgetPwd fr">忘记密码?</a>
                    </div>
                    <a href="javascript:void(0)" class="btnLogin fl">登录</a>
                    <a href="javascript:void(0)" class="btnReg fl">立即注册</a>
                </form>
            </div>
        </div>
        <!--  小导航   -->
        <div class="navBox container">
            <ul class="navBoxWrap cf">
                <li class="giftLi"><a href="javascript:void(0)"><i class="navBoxIcon"></i><p>礼包</p></a></li>
                <li class="activeLi"><a href="javascript:void(0)"><i class="navBoxIcon"></i><p>活动</p></a></li>
                <li class="infoLi"><a href="javascript:void(0)"><i class="navBoxIcon"></i><p>资讯</p></a></li>
                <li class="customLi"><a href="javascript:void(0)"><i class="navBoxIcon"></i><p>客服</p></a></li>
            </ul>
        </div>
        <!--  推荐游戏   -->
        <div class="recommendGame container">
            <div class="titleBox cf">
                <div class="titLeftBox"><i></i><p class="fl titName">推荐游戏</p></div>
                <a href="javascript:void(0)" class="moreLink fr">更多&gt;&gt;</a>
            </div>
            <ul class="recommendContent cf">
                <li class="subRecommend active">
                    <img src="../../Static/Image/index/recommendGame.png" class="fl">
                    <div class="fl cf subRecommendDown">
                        <p class="gameName fl">西游一万年</p>
                        <p class="gameNum fl">推荐指数:
                            <i class="gameStar"><span class="percentStar" style="width: 40%;"></span></i>
                        </p>
                        <a href="javascript:void(0)" class="btnDownload fr">下载</a>
                    </div>
                    <div class="scanRecommendBox hide">
                        <div class="subCodeImg fl"><img src="../../Static/Image/index/subCode.png" width="100" height="100"></div>
                        <div class="scanInstr">
                            <p class="downScan">扫描下载</p>
                            <p class="typeScan">类型：角色</p>
                            <p class="typeScan">大小：150M</p>
                        </div>
                    </div>
                </li>
                <li class="subRecommend">
                    <div class="subRecommendGame cf">
                        <img src="../../Static/Image/index/recommendGame.png" class="fl">
                        <p class="gameName fl">西游一万年</p>
                        <p class="gameNum fl">推荐指数
                            <i class="gameStar"><span class="percentStar" style="width: 70%;"></span></i>
                        </p>
                        <a href="javascript:void(0)" class="btnDownload fr">下载</a>
                    </div>
                    <div class="scanRecommendBox hide">
                        <div class="subCodeImg fl"><img src="../../Static/Image/index/subCode.png" width="100" height="100"></div>
                        <div class="scanInstr">
                            <p class="downScan">扫描下载</p>
                            <p class="typeScan">类型：角色</p>
                            <p class="typeScan">大小：150M</p>
                        </div>
                    </div>
                </li>
                <li class="subRecommend">
                    <div class="subRecommendGame cf">
                        <img src="../../Static/Image/index/recommendGame.png" class="fl">
                        <p class="gameName fl">西游一万年</p>
                        <p class="gameNum fl">推荐指数
                            <i class="gameStar"><span class="percentStar" style="width: 90%;"></span></i>
                        </p>
                        <a href="javascript:void(0)" class="btnDownload fr">下载</a>
                    </div>
                    <div class="scanRecommendBox hide">
                        <div class="subCodeImg fl"><img src="../../Static/Image/index/subCode.png" width="100" height="100"></div>
                        <div class="scanInstr">
                            <p class="downScan">扫描下载</p>
                            <p class="typeScan">类型：角色</p>
                            <p class="typeScan">大小：150M</p>
                        </div>
                    </div>
                </li>
                <li class="subRecommend">
                    <div class="subRecommendGame cf">
                        <img src="../../Static/Image/index/recommendGame.png" class="fl">
                        <p class="gameName fl">西游一万年</p>
                        <p class="gameNum fl">推荐指数
                            <i class="gameStar"><span class="percentStar" style="width: 50%;"></span></i>
                        </p>
                        <a href="javascript:void(0)" class="btnDownload fr">下载</a>
                    </div>
                    <div class="scanRecommendBox hide">
                        <div class="subCodeImg fl"><img src="../../Static/Image/index/subCode.png" width="100" height="100"></div>
                        <div class="scanInstr">
                            <p class="downScan">扫描下载</p>
                            <p class="typeScan">类型：角色</p>
                            <p class="typeScan">大小：150M</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--  全部游戏  -->
        <div class="allGame container">
            <div class="titleBox cf">
                <div class="titLeftBox"><i></i><p class="fl titName">全部游戏</p></div>
                <div class="linkList cf">
                    <a href="javascript:void(0)" class="subLinkGame active">热门游戏</a>
                    <a href="javascript:void(0)" class="subLinkGame">角色扮演</a>
                    <a href="javascript:void(0)" class="subLinkGame">卡牌游戏</a>
                    <a href="javascript:void(0)" class="subLinkGame">策略养成</a>
                    <a href="javascript:void(0)" class="subLinkGame">休闲益智</a>
                </div>
                <a href="javascript:void(0)" class="moreLink fr">更多&gt;&gt;</a>
            </div>
            <ul class="allGameContent cf">
                <li class="subAllGame cf">
                    <div class="gameImg fl"><img src="../../Static/Image/index/gameImg.png"></div>
                    <div class="gameContent fl">
                        <p class="subGameName">黑道传奇联盟</p>
                        <p class="subGameTypeBox"><span class="subGameType">角色扮演</span><span>|</span><span class="subGameBig">520.21MB</span></p>
                        <p class="operateBtnBox cf">
                            <a href="javascript:void(0)" class="btnDownLoad fl">下载</a>
                            <a href="javascript:void(0)" class="btnGift fl">礼包</a>
                        </p>
                    </div>
                </li>
                <li class="subAllGame cf">
                    <div class="gameImg fl"><img src="../../Static/Image/index/gameImg.png" alt=""></div>
                    <div class="gameContent fl">
                        <p class="subGameName">黑道传奇联盟</p>
                        <p class="subGameTypeBox"><span class="subGameType">角色扮演</span><span>|</span><span class="subGameBig">520.21MB</span></p>
                        <p class="operateBtnBox cf">
                            <a href="javascript:void(0)" class="btnDownLoad fl">下载</a>
                            <a href="javascript:void(0)" class="btnGift fl">礼包</a>
                        </p>
                    </div>
                </li>
                <li class="subAllGame cf">
                    <div class="gameImg fl"><img src="../../Static/Image/index/gameImg.png" alt=""></div>
                    <div class="gameContent fl">
                        <p class="subGameName">黑道传奇联盟</p>
                        <p class="subGameTypeBox"><span class="subGameType">角色扮演</span><span>|</span><span class="subGameBig">520.21MB</span></p>
                        <p class="operateBtnBox cf">
                            <a href="javascript:void(0)" class="btnDownLoad fl">下载</a>
                            <a href="javascript:void(0)" class="btnGift fl">礼包</a>
                        </p>
                    </div>
                </li>
                <li class="subAllGame cf">
                    <div class="gameImg fl"><img src="../../Static/Image/index/gameImg.png" alt=""></div>
                    <div class="gameContent fl">
                        <p class="subGameName">黑道传奇联盟</p>
                        <p class="subGameTypeBox"><span class="subGameType">角色扮演</span><span>|</span><span class="subGameBig">520.21MB</span></p>
                        <p class="operateBtnBox cf">
                            <a href="javascript:void(0)" class="btnDownLoad fl">下载</a>
                            <a href="javascript:void(0)" class="btnGift fl">礼包</a>
                        </p>
                    </div>
                </li>
            </ul>
            <div class="gameSplitLine"></div>
            <ul class="allGameContent cf">
                <li class="subAllGame cf">
                    <div class="gameImg fl"><img src="../../Static/Image/index/gameImg.png" alt=""></div>
                    <div class="gameContent fl">
                        <p class="subGameName">黑道传奇联盟</p>
                        <p class="subGameTypeBox"><span class="subGameType">角色扮演</span><span>|</span><span class="subGameBig">520.21MB</span></p>
                        <p class="operateBtnBox cf">
                            <a href="javascript:void(0)" class="btnDownLoad fl">下载</a>
                            <a href="javascript:void(0)" class="btnGift fl">礼包</a>
                        </p>
                    </div>
                </li>
                <li class="subAllGame cf">
                    <div class="gameImg fl"><img src="../../Static/Image/index/gameImg.png" alt=""></div>
                    <div class="gameContent fl">
                        <p class="subGameName">黑道传奇联盟</p>
                        <p class="subGameTypeBox"><span class="subGameType">角色扮演</span><span>|</span><span class="subGameBig">520.21MB</span></p>
                        <p class="operateBtnBox cf">
                            <a href="javascript:void(0)" class="btnDownLoad fl">下载</a>
                            <a href="javascript:void(0)" class="btnGift fl">礼包</a>
                        </p>
                    </div>
                </li>
                <li class="subAllGame cf">
                    <div class="gameImg fl"><img src="../../Static/Image/index/gameImg.png" alt=""></div>
                    <div class="gameContent fl">
                        <p class="subGameName">黑道传奇联盟</p>
                        <p class="subGameTypeBox"><span class="subGameType">角色扮演</span><span>|</span><span class="subGameBig">520.21MB</span></p>
                        <p class="operateBtnBox cf">
                            <a href="javascript:void(0)" class="btnDownLoad fl">下载</a>
                            <a href="javascript:void(0)" class="btnGift fl">礼包</a>
                        </p>
                    </div>
                </li>
                <li class="subAllGame cf">
                    <div class="gameImg fl"><img src="../../Static/Image/index/gameImg.png" alt=""></div>
                    <div class="gameContent fl">
                        <p class="subGameName">黑道传奇联盟</p>
                        <p class="subGameTypeBox"><span class="subGameType">角色扮演</span><span>|</span><span class="subGameBig">520.21MB</span></p>
                        <p class="operateBtnBox cf">
                            <a href="javascript:void(0)" class="btnDownLoad fl">下载</a>
                            <a href="javascript:void(0)" class="btnGift fl">礼包</a>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <!--  游戏活动和排名   -->
        <div class="activeBox container cf">
            <!--  游戏活动  -->
            <div class="activeGameBox fl">
                <div class="titleBox cf">
                    <div class="titLeftBox"><i></i><p class="fl titName">游戏活动</p></div>
                    <a href="javascript:void(0)" class="moreLink fr">更多&gt;&gt;</a>
                </div>
                <div class="activeGameContent cf">
                    <a href="javascript:void(0)" class="activeImgFirst"><img src="../../Static/Image/index/active1.png" width="307" height="410"></a>
                    <a href="javascript:void(0)" class="activeImgSecond"><img src="../../Static/Image/index/active2.png" width="190" height="188"></a>
                    <a href="javascript:void(0)" class="activeImgThird"><img src="../../Static/Image/index/active3.png" width="190" height="188"></a>
                    <a href="javascript:void(0)" class="activeImgForth"><img src="../../Static/Image/index/active4.png" width="400" height="200"></a>
                </div>
            </div>
            <!--  游戏排行  -->
            <div class="activeRankBox fl">
                <div class="titleBox cf">
                    <div class="titLeftBox"><i></i><p class="fl titName">游戏排行</p></div>
                    <a href="javascript:void(0)" class="moreLink fr">更多&gt;&gt;</a>
                </div>
                <div class="activeRankContent">
                    <ul class="activeRankUl cf">
                        <li class="subActiveRankLi cf">
                            <div class="subRankNum rankFirst fl">1</div>
                            <div class="subRankName fl">青云志</div>
                            <div class="rankInfo fl cf hide">
                                <img src="../../Static/Image/index/rankImg.png" class="rankImg fl"/>
                                <div class="rankRight fl">
                                    <p class="rankNme">如果的世界</p>
                                    <p class="cf rankOperate"><a href="javascript:void(0)" class="fl btnRankDown">下载</a><a href="javascript:void(0)" class="fl">礼包</a></p>
                                </div>
                            </div>
                            <div class="subRankType fr">角色扮演</div>
                        </li>
                        <li class="subActiveRankLi cf">
                            <div class="subRankNum rankSecond fl">2</div>
                            <div class="subRankName fl">青云志</div>
                            <div class="rankInfo fl cf hide">
                                <img src="../../Static/Image/index/rankImg.png" class="rankImg fl"/>
                                <div class="rankRight fl">
                                    <p class="rankNme">如果的世界</p>
                                    <p class="cf rankOperate"><a href="javascript:void(0)" class="fl btnRankDown">下载</a><a href="javascript:void(0)" class="fl">礼包</a></p>
                                </div>
                            </div>
                            <div class="subRankType fr">角色扮演</div>
                        </li>
                        <li class="subActiveRankLi cf">
                            <div class="subRankNum rankThird fl">3</div>
                            <div class="subRankName fl">青云志</div>
                            <div class="rankInfo fl cf hide">
                                <img src="../../Static/Image/index/rankImg.png" class="rankImg fl"/>
                                <div class="rankRight fl">
                                    <p class="rankNme">如果的世界</p>
                                    <p class="cf rankOperate"><a href="javascript:void(0)" class="fl btnRankDown">下载</a><a href="javascript:void(0)" class="fl">礼包</a></p>
                                </div>
                            </div>
                            <div class="subRankType fr">角色扮演</div>
                        </li>
                        <li class="subActiveRankLi cf">
                            <div class="subRankNum fl">4</div>
                            <div class="subRankName fl">青云志</div>
                            <div class="rankInfo fl cf hide">
                                <img src="../../Static/Image/index/rankImg.png" class="rankImg fl"/>
                                <div class="rankRight fl">
                                    <p class="rankNme">如果的世界</p>
                                    <p class="cf rankOperate"><a href="javascript:void(0)" class="fl btnRankDown">下载</a><a href="javascript:void(0)" class="fl">礼包</a></p>
                                </div>
                            </div>
                            <div class="subRankType fr">角色扮演</div>
                        </li>
                        <li class="subActiveRankLi cf">
                            <div class="subRankNum fl">5</div>
                            <div class="subRankName fl">青云志</div>
                            <div class="rankInfo fl cf hide">
                                <img src="../../Static/Image/index/rankImg.png" class="rankImg fl"/>
                                <div class="rankRight fl">
                                    <p class="rankNme">如果的世界</p>
                                    <p class="cf rankOperate"><a href="javascript:void(0)" class="fl btnRankDown">下载</a><a href="javascript:void(0)" class="fl">礼包</a></p>
                                </div>
                            </div>
                            <div class="subRankType fr">角色扮演</div>
                        </li>
                        <li class="subActiveRankLi cf">
                            <div class="subRankNum fl">6</div>
                            <div class="subRankName fl">青云志</div>
                            <div class="rankInfo fl cf hide">
                                <img src="../../Static/Image/index/rankImg.png" class="rankImg fl"/>
                                <div class="rankRight fl">
                                    <p class="rankNme">如果的世界</p>
                                    <p class="cf rankOperate"><a href="javascript:void(0)" class="fl btnRankDown">下载</a><a href="javascript:void(0)" class="fl">礼包</a></p>
                                </div>
                            </div>
                            <div class="subRankType fr">角色扮演</div>
                        </li>
                        <li class="subActiveRankLi cf">
                            <div class="subRankNum fl">7</div>
                            <div class="subRankName fl">青云志</div>
                            <div class="rankInfo fl cf hide">
                                <img src="../../Static/Image/index/rankImg.png" class="rankImg fl"/>
                                <div class="rankRight fl">
                                    <p class="rankNme">如果的世界</p>
                                    <p class="cf rankOperate"><a href="javascript:void(0)" class="fl btnRankDown">下载</a><a href="javascript:void(0)" class="fl">礼包</a></p>
                                </div>
                            </div>
                            <div class="subRankType fr">角色扮演</div>
                        </li>
                        <li class="subActiveRankLi cf">
                            <div class="subRankNum fl">8</div>
                            <div class="subRankName fl">青云志</div>
                            <div class="rankInfo fl cf hide">
                                <img src="../../Static/Image/index/rankImg.png" class="rankImg fl"/>
                                <div class="rankRight fl">
                                    <p class="rankNme">如果的世界</p>
                                    <p class="cf rankOperate"><a href="javascript:void(0)" class="fl btnRankDown">下载</a><a href="javascript:void(0)" class="fl">礼包</a></p>
                                </div>
                            </div>
                            <div class="subRankType fr">角色扮演</div>
                        </li>
                        <li class="subActiveRankLi cf">
                            <div class="subRankNum fl">9</div>
                            <div class="subRankName fl">青云志</div>
                            <div class="rankInfo fl cf hide">
                                <img src="../../Static/Image/index/rankImg.png" class="rankImg fl"/>
                                <div class="rankRight fl">
                                    <p class="rankNme">如果的世界</p>
                                    <p class="cf rankOperate"><a href="javascript:void(0)" class="fl btnRankDown">下载</a><a href="javascript:void(0)" class="fl">礼包</a></p>
                                </div>
                            </div>
                            <div class="subRankType fr">角色扮演</div>
                        </li>
                        <li class="subActiveRankLi cf">
                            <div class="subRankNum fl">10</div>
                            <div class="subRankName fl">青云志</div>
                            <div class="rankInfo fl cf hide">
                                <img src="../../Static/Image/index/rankImg.png" class="rankImg fl"/>
                                <div class="rankRight fl">
                                    <p class="rankNme">如果的世界</p>
                                    <p class="cf rankOperate"><a href="javascript:void(0)" class="fl btnRankDown">下载</a><a href="javascript:void(0)" class="fl">礼包</a></p>
                                </div>
                            </div>
                            <div class="subRankType fr">角色扮演</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<script src="../../Static/Js/common/jquery.js"></script>
<script src="../../Static/Js/common/jquery.ext.js"></script>
<script src="../../Static/Js/common/public.js"></script>
<script src="../../Static/Js/index/index.js"></script>
</body>
</html>