/*  back返回   */
.backBox{width: 95%;height: 2rem;}
.backIcon{display: block;float: right;width: .9rem;height: .9rem;margin:1rem 0 0 1rem;background: url("../../images/register/close.png") no-repeat;background-size: .9rem .9rem;}

/*   登录logo    */
.logo{width: 7rem;text-align:center;margin: 1rem auto;}
.logo .logoImg{width: 4rem;height: 4rem;border-radius:50%;margin:3rem auto;margin-top: 1rem;}
.logo .logoChName{margin-top:-2.8rem;font-size: 1rem;font-weight: bold;}
.logo .logoEnName{font-size: .1rem;font-weight: normal;}

/*  tab切换  */
.tabBox{width: 100%;color:#333;font-size:1.05rem;margin: -1rem 0 .5rem 0;}
.eachTab{width:50%;height:2rem;line-height:2rem;font-size:1rem;text-align:center;display: block;}
.eachTab.active{color:#00c9e1;border-bottom: 2px solid #00c9e1;}

/*  表单   */
.formBox{width: 80%;margin: 0 auto;}
.formBoxWrap{width: 100%;height:2.5rem;line-height:2.5rem;font-size:1rem;margin: 0 auto;border-bottom: 1px solid #999;}
.formBoxWrap .formInput{border:none;width:10rem;height: 2.1rem;margin-top:.2rem;padding:0 .5rem;font-size:.8rem;line-height: 2.1rem;}
.formName,.formName img{width: 1rem;height: 1rem;}
.formName{margin-top: .7rem;margin-left: .4rem;}

/*  按钮和同意协议  */
.btn-loginBox{height: 4rem;}
.btnReg{display:block;float:left;width: 100%;height: 2.3rem;margin-top:1rem;line-height:2.3rem;font-size:1rem;text-align:center;color:#FFF;background: linear-gradient(to right, #01c9e1, #8ffde1);border-radius: .5rem;}
.agreementBox{font-size:.8rem;margin: 1rem auto;color: #CCC;}
.agreementBox.active .agreement{color:#00c9e1;}
.agreementBox.active .ChoseClick{background: url("../../images/register/click.png") no-repeat;background-size: .8rem .8rem;}
.ChoseClick{display: block;width:.8rem;height:.8rem;margin:1rem 0 0 1rem;background: url("../../images/register/unClick.png") no-repeat;background-size: .8rem .8rem;}
.agreement{margin:0.9rem 0 0 0.4rem;font-size: .65rem;}
.btn-code{position: absolute;top:.4rem;display: block;width:4rem;height:1.7rem;line-height:1.7rem;text-align:center;border:none;font-size:.65rem;right: 0;color:#FFF;border-radius:.4rem;background: #00c9e1;}
.btn-code:active{color: #FFF;}



