/*    颜色风格      */
.giftDetailLeft{border-top:2px solid #39DEE1;}
.gameDetailTit{color:#39DEE1;}
.hotGiftBoxWrap .titLeftBox .titName{color: #00C9E1;}


/*   详情位置    */
.positionIntroduce{height: 90px;line-height: 90px;font-size: 14px;color: #666;}
.intervalPosition{margin: 0 5px;}
.positionLink:hover{color: #39DEE1;}

/*   礼包详情    */
.giftDetailContent{padding-bottom: 50px;}
.giftDetailLeft{width: 756px;margin-right: 25px;background: #FFF;}
.giftHeadWrap{border-bottom: 1px dashed #BBB;}
.giftHeadWrap .giftHead{display:block;margin: 25px 30px 30px 10px;}
.giftHeadIntroduce{width: 250px;margin-top: 30px;}
.giftHeadIntroduce p{width: 100%;text-align: left;}
.giftHeadIntroduce .gameName{height:30px;line-height:30px;font-weight:bold;margin-bottom:10px;font-size: 18px;color: #333;}
.giftHeadIntroduce .gameSome{height:30px;line-height:30px;font-size: 14px;color: #666;}
.qRCode{width:77px;margin: 30px 15px 0 0;}
.qRCode .codeImg{display: block;float: left;}
.qRCodeIntroduce{height:40px;line-height:40px;text-align:center;font-size: 16px;color:#666;}
.gameDetailWrap{margin:25px 10px 0 10px;}
.gameDetailTit{font-weight:bold;font-size: 18px;}
.gameDetailContent{margin:15px 0 35px 0;color:#999;font-size: 12px;}
.gameTab{height: 42px;margin-bottom: 40px;}
.eachGameTab{width: 220px;height: 42px;margin-right:10px;font-size:16px;line-height: 42px;text-align: center;background: #F4F4F4;color: #999;cursor: pointer;}
.eachGameTab.active{background:#E85883;color: #FFF;}

/*    游戏图片Banner     */
.homeMain .slide-box{position: relative;overflow: hidden;}
.homeMain .slide-box .slide-content{ height: 300px;}
.homeMain .slide-box .slide-content li{width: 200px;height: 300px;}
.gameDetail .slide-content{width:640px;height:300px;margin: 38px auto;overflow: hidden;}
.gameDetail .slide-content li{float: left;width: 200px;height: 300px;margin-right: 10px;}

/*     游戏礼包       */
.gameGiftUl{width:105%;min-height: 300px;overflow-y: auto;}
.subGameGift{position:relative;width: 350px;height: 140px;margin:0 30px 30px 0;border:1px solid #E85883;border-bottom: none;}
.gameAGift{width:90%;height:30px;line-height:30px;margin:10px 0 0 12px;font-size: 18px;color: #333;font-weight: bold;}
.gameAGift span{display: block;float: left;}
.gameAGift .giftName{max-width:120px;margin-right: 5px;}
.gameAGift .gameName{max-width:120px;margin-left: 5px;}
.subGameGift .giftBox{width:260px;height:57px;overflow:hidden;margin-left:12px;color:#999;font-size: 14px;}
.lastOperation{position: absolute;bottom:0;left:0;width: 100%;height: 40px;font-size:14px;line-height: 40px;}
.lastOperation .time{width: 225px;height: 40px;padding-left:15px;color:#666;line-height: 40px;background: #F4F4F4;}
.lastOperation .btnGet{display: block;width: 110px;height: 40px;color:#FFF;line-height: 40px;text-align: center;background: #E85883;}

 /*     热门礼包       */
.giftDetailRight{width: 419px;}
.hotGiftBoxWrap .titLeftBox i{background: url(../../Image/common/title/popular-blue.png) no-repeat;}

/*  游戏排行    */
.activeRankBox{margin-top:38px;}
.activeRankBox .titLeftBox i{background: url(../../Image/common/title/popular-pink.png) no-repeat;}
