/*     公共的风格     */
.activeGameBox .titLeftBox .titName,.giftsActiveText{color:#0ACDE1; }
.activeGameBox,.activeRankBox,.allGame{border-top: 2px solid #0ACDE1;}
.activeRankBox .titLeftBox .titName,.titLeftBox .titName{color: #0ACDE1;}
.rankOperate a{color:#0ACDE1;border:1px solid #0ACDE1;}
.rankOperate a:hover,.subLinkGame.active,.giftsActiveReceive{background:#0ACDE1;color: #FFF; }

/*   最新推荐   */
.activeGameBox{width: 746px;background: #FFF;margin:40px 0 45px 0;}
.activeImgFirst{width: 307px;height: 410px;margin:20px 0 36px 10px;}
.activeImgSecond{width: 190px;height: 188px;margin:20px 20px 20px 20px;}
.activeImgThird{width: 190px;height: 188px;margin: 20px 9px 20px 0;}
.activeImgForth{width: 400px;height: 200px;margin: 0 9px 36px 20px;}

/* 最新推荐的鼠标滑过显示隐藏 */
.descriptionFirst{width: 227px;height: 160px;padding: 125px 40px;position: absolute;top: 0;left: 0;background-color: rgba(88, 88, 88, 0.8);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F333333,endcolorstr=#7F333333);color: #fff;text-align: center;}
.descriptionSecond ,.descriptionThird{width: 178px;height: 160px;padding: 14px 6px;position: absolute;top: 0;left: 0;background-color: rgba(88, 88, 88, 0.8);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F333333,endcolorstr=#7F333333);color: #fff;text-align: center;}
.descriptionForth{width: 360px;height: 160px;padding: 20px;position: absolute;top: 0;left: 0;background-color: rgba(88, 88, 88, 0.8);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F333333,endcolorstr=#7F333333);color: #fff;text-align: center;}
.activeDescriptionBox span{width: 100%;height: 21px;color: #fff;overflow: hidden;cursor: pointer;}

.grade{display: block;font-size: 16px;font-weight: 600;}
.gameName{display: block;font-size: 16px;font-weight: 600;margin: 4px 0;}
.gold ,.prop ,.welfare{display: block;font-size: 14px;font-weight: 600;}
.receive{margin: 10px 0;color: #fff;padding: 5px 26px;border: 2px solid #c7c7c7;border-radius: 4px;}

/*  最热礼包    */
.hotGiftBoxWrap{width: 434px;height:526px;background: #FFF;margin:40px 0 0 20px;}
.hotGiftBoxWrap .titLeftBox i{background: url("../../Image/common/title/hotBag.png") no-repeat;background-size: 78px 35px;}

/* 全部礼包 */
.allGame .titleBox{padding: 20px 0;}
.allGame .titLeftBox{height: 40px;margin-left: 10px;}
.allGiftsTitle{padding: 30px 0;border-bottom: 1px dashed #bbb;}
.linkList{height: 30px;}
.allTitle{height: 30px;line-height: 30px;font-weight: 500;font-size: 18px;margin: 0 10px;}
.allGame{background: #fff;}
.allGame .titLeftBox i{background: url("../../Image/common/title/gifeBag.png") no-repeat;background-size: 104px 37px;}
.subLinkGame{display: block;width: 88px;height: 30px;line-height: 30px;text-align: center;font-size:16px;margin: 0 10px;}
.subLinkGame.active{border-radius: 8px;}
.giftsContent .allGifts{padding: 20px 0;display: none;}
.subAllGifts{text-align: center;padding: 0 15px 20px;}
.giftsContent{color: #666;}
.subActiveGifts{width: 210px;height: 155px;}
.giftsContent .cur{display: block;}

/* 礼包显示隐藏 */
.giftsActiveDescription{width: 210px;height: 130px;position: absolute;top:0;left: 15px;background-color: rgba(88, 88, 88, 0.8);filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F333333,endcolorstr=#7F333333);}
.giftsActiveText{width: 170px;height: 40px;font-size: 14px;margin: 24px 20px 12px;overflow: hidden;cursor: pointer;}
.giftsActiveReceive{padding: 5px 20px;border-radius: 4px;}






