<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>搜索</title>
    <link rel="stylesheet" href="__CSS__/sm.min.css">
    <link rel="stylesheet" href="__CSS__/public.css">
    <link rel="stylesheet" href="__CSS__/search/index.css">
</head>
<body class="mHome bg_white">

    <!--  加载层   -->
    <div id="loader">
        <div class="loaderInner">
            <img src="__PUBLIC__/Mobile/images/index/logo.png" alt="">
        </div>
    </div>

    <div class="page-group bg_white">
        <!--   搜索框    -->
        <div class="searchBox cf">
            <input type="text" class="fl searchInput" placeholder="大家都在玩：QQ飞车" id="key" value="<?=$_GET['keyword']?>">
            <i class="fr searchIcon"></i>
        </div>
        

        <if condition="$_GET['keyword'] eq '' ">
            <!--   热门搜索     -->
            <div class="hotSearchBox">
                <div class="searchTit">热门搜索</div>
                <ul class="searchContent cf">
                    <li class="subSearch cf fl">
                        <p class="searchName fl">QQ炫舞手游</p>
                        <p class="subTag fl">QQ炫舞</p>
                        <p class="subTag fl">正版手游</p>
                    </li>
                    <li class="subSearch cf fl">
                        <p class="searchName fl">真龙霸业</p>
                        <p class="subTag fl">你从未见过的三国！</p>
                    </li>
                    <li class="subSearch cf fl">
                        <p class="searchName fl">欢乐斗地主</p>
                        <p class="subTag fl">欢乐无限</p>
                        <p class="subTag fl">齐来斗地主</p>
                    </li>
                    <li class="subSearch cf fl">
                        <p class="searchName fl">王者荣耀</p>
                        <p class="subTag fl">2亿玩家</p>
                        <p class="subTag fl">公平对战</p>
                    </li>
                </ul>
            </div>
        <else/>
            <if condition="$count eq 0 ">
                <!--   没有搜索的情况    -->
                <div class="nothingBox cf">
                    <!--<i class="nothingIcon fl"></i>-->
                    <img class="nothingIcon" src="__PUBLIC__/Mobile/images/search/nothing.png" alt="">
                    <p class="nothingName fl">暂无此游戏哦，继续搜索！</p>
                </div>
            <else/>
                <!--   有搜索的情况    -->
                <div class="searchGameBox">

                    <volist name='list_data' id='v'>
                        <div class="subClassify fl cf">
                            <img src="__ROOT__{$v.icon|get_cover='path'}" alt="" class="classifyImg fl">
                            <div class="classifyNameBox cf fl">
                                <p class="classifyNameTag fl">{:msubstr($v['game_name'],0,7,'UTF-8',false)}</p>
                                <p class="classifyType fl">
                                    <span>{$v.game_type_name}</span><!--  |
                                    <span>{$v.game_size}</span> -->
                                </p>
                            </div>
                            <a href="{:U('Game/yxchildren?id='.$v['id'].'&type=1')}" class="fr classifyEnter">进入</a>
                        </div>
                    </volist>

                </div>
            </if>
        </if>
    </div>

<script type="text/javascript">
    
    var url = "http://{$Think.server.http_host}__CONTROLLER__/search/";
</script>
<script src="__JS__/zepto.min.js"></script>
<script src="__JS__/sm.min.js"></script>
<script src="__JS__/main.js"></script>
<script src="__JS__/search/index.js"></script>

</body>
</html>