<extend name="Public/base"/>
<block name="body" >
    <link rel="stylesheet" href="__CSS__/cz.css">
<link rel="stylesheet" href="__CSS__/dialog_base.css" />

<script src="__JS__/layer/layer.js" type="text/javascript"></script>

<!-- <script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script> -->
<script type="text/javascript" src="__JS__/jquery-1.7.2.min.js"></script>



<!--banner-->
<!--<div class="bannner container" style="width:1200px;height: 120px;overflow: hidden ;margin:0 auto;">-->
   <!--<img src="__ROOT__{$adv_recharg['data']|get_cover='path'}" alt="" style="width:100%;"/>-->
<!--</div>-->

<!--充值部分-->
<div id="TabMain"  style="margin-top: 60px;margin-bottom: 80px;">
    <div class="tabItemContainer">
        <li><a class="tabItemCurrent">支付宝充值</a></li>
        <li><a>微信充值</a></li>
        <li><a>银联充值</a></li>
    </div>
    <div class="tabBodyContainer">
        <!--    支付宝充值      -->
        <div class="tabBodyItem tabBodyCurrent">
            <form action="" method="post" id="form_alipay_zl">
                <div class="content">
                    <div class="content-t">
                        <p class="title">充值到<span class="state">平台币</span>
                            <span style="color:#666;font-size:12px;padding-left:25px;display:none;">平台币是手上科技手机游戏平台统一支付的虚拟货币。玩家可以使用平台币兑换手上科技手机游戏平台旗下绝大部分游戏的游戏币。</span>
                        </p>
                        <p class="left">充值账号：</p> <input type="text" id="toaccount2" value="{$account}">
                        <p class="right">确认账号：</p> <input type="text" name="account" id="retoaccount2" value="{$account}" >
                    </div>
                    <div class="content-b">
                        <p class="content-b-t">充值金额</p>
                        <div class="money" id="mon">
                            <a href="javascript:;">10元</a>
                            <a href="javascript:;">20元</a>
                            <a href="javascript:;" >30元</a>
                            <a href="javascript:;">50元</a>
                            <a href="javascript:;" class="dj">100元</a>
                            <a href="javascript:;">200元</a>
                            <a href="javascript:;">300元</a>
                            <a href="javascript:;">500元</a>
                            <a href="javascript:;">1000元</a>
                            <a href="javascript:;">2000元</a>
                            <a href="javascript:;">3000元</a>
                            <a href="javascript:;">5000元</a>
                            <a href="javascript:;">10000元</a>
                        </div>
                        <div class="jinbi">
                            <p class="left">其它金额：</p> <input type="text" maxlength="10" size="10" name="money2" id="money3" class="money2 otherMoney" onkeyup="this.value = this.value.replace(/[^0-9]/g, '');" style="display: inline-block"><p class="right"> &nbsp;元</p>
                            <input type="hidden" id="alipay_amount" name="amount" value="" />
                            <input type="hidden" name="apitype" value="alipay" />
                            <span style="font-size:14px;">*比例&nbsp;:&nbsp;1元=1平台币={$points}积分 </span>
                            <span style="font-size:14px;">获得平台币：<span class="stateMoney" id="game_coin">100</span> </span>
                            <span style="font-size:14px;">获得积分：<span class="getScore">1000</span> </span>
                        </div>

                        <a class="now" href="javascript:;" id="action">立即充值</a>
                    </div>
                    <div class="content-f">
                        <p>支付宝余额支付说明：</p>
                        <p>1、您必须拥有支付宝账户。</p>
                        <p>2、充值时请确认好您的充值金额准确无误后再充值，避免输错金额导致错误，如因未仔细确认金额造成的充值问题，我们将一律不予处理此类退款申诉。</p>
                        <p>3、在线客服咨询QQ ：{:C('CH_SET_SERVER_QQ')}&nbsp;&nbsp;&nbsp; {:C('CH_SET_SERVER_QQ1')}</p>
                        <p>4、客服电话：{:C('CH_SET_ZUOJI_PHONE')}&nbsp;&nbsp;&nbsp;{:C('CH_SET_SERVER_PHONE')}</p>
                    </div>
                </div>
            </form>
        </div>
        <!--    微信充值     -->
        <div class="tabBodyItem ">
            <form action="{:U('Recharge/beginPay')}" method="post" id="form_weixin_zl">
                <div class="content">
                    <div class="content-t">
                        <p class="title">充值到<span class="state">平台币</span>
                        <span style="color:#666;font-size:12px;padding-left:25px;display:none;">平台币是手上科技手机游戏平台统一支付的虚拟货币。玩家可以使用平台币兑换手上科技手机游戏平台旗下绝大部分游戏的游戏币。</span>
                        </p>
                        <p class="left">充值账号：</p> <input type="text" id="toaccount2_" value="{$account}">
                        <p class="right">确认账号：</p> <input type="text" name="uname2_" id="retoaccount2_" value="{$account}" >
                    </div>
                    <div class="content-b">
                        <p class="content-b-t">充值金额</p>
                        <div class="money" id="mon_">
                            <a href="javascript:;">10元</a> 
                            <a href="javascript:;">20元</a>
                            <a href="javascript:;" >30元</a>
                            <a href="javascript:;">50元</a>
                            <a href="javascript:;" class="dj">100元</a>
                            <a href="javascript:;">200元</a>
                            <a href="javascript:;">300元</a>
                            <a href="javascript:;">500元</a>
                            <a href="javascript:;">1000元</a>
                            <a href="javascript:;">2000元</a>
                            <a href="javascript:;">3000元</a>
                            <a href="javascript:;">5000元</a>
                            <a href="javascript:;">10000元</a>
                        </div>
                        <div class="jinbi">
                            <p class="left">其它金额：</p> <input type="text" maxlength="10" size="10" name="money2" id="money4" class="money2 otherMoney" onkeyup="this.value = this.value.replace(/[^0-9]/g, '');" style="display: inline-block"><p class="right"> &nbsp;元</p>
                            <input type="hidden" id="weixin_zl_amount" name="amount" value="" />
                            <input type="hidden" id="weixin_zl_user" name="account" value="" />
                            <input type="hidden" name="apitype" value="weixin" />
                            <span style="font-size:14px;">*比例&nbsp;:&nbsp;1元=1平台币={$points}积分 </span>
                            <span  style="font-size:14px;">获得平台币：<span class="stateMoney"  id="game_coin2">100</span> </span>
                            <span style="font-size:14px;">获得积分：<span class="getScore">1000</a> </span>
                        </div>

                        <a class="now" href="javascript:;" id="action_">立即充值</a>
                    </div>
                    <div class="content-f">
                        <p>微信支付说明：</p>
                        <p>1、您必须拥有微信账户。</p>
                        <p>2、充值时请确认好您的充值金额准确无误后再充值，避免输错金额导致错误，如因未仔细确认金额造成的充值问题，我们将一律不予处理此类退款申诉。</p>
                        <p>3、在线客服咨询QQ ：{:C('CH_SET_SERVER_QQ')}&nbsp;&nbsp;&nbsp; {:C('CH_SET_SERVER_QQ1')}</p>
                        <p>4、客服电话：{:C('CH_SET_ZUOJI_PHONE')}&nbsp;&nbsp;&nbsp;{:C('CH_SET_SERVER_PHONE')}</p>
                    </div>
                </div>
            </form>
        </div>
        <!--    银联充值       -->
        <div class="tabBodyItem">
            <!--   银联充值表单     -->
            <form action="{:U('Recharge/beginPay')}" method="post" id="form_yinlian_zl">
                <div class="content">

                    <div class="content-t">
                        <p class="title">充值到<span class="state">平台币</span>
                            <span style="color:#666;font-size:12px;padding-left:25px;display:none;">平台币是手上科技手机游戏平台统一支付的虚拟货币。玩家可以使用平台币兑换手上科技手机游戏平台旗下绝大部分游戏的游戏币。</span>
                        </p>
                        <p class="left">充值账号：</p> <input type="text" id="unionPayAccount" value="{$account}">
                        <p class="right">确认账号：</p> <input type="text" name="orderAmount" id="unionPayConfirmAccount" value="{$account}" >
                    </div>
                    <!-- <input type="hidden" id="paytype" name="paytype" value="1" /> -->
                    
                    <!--  银行卡类型   -->
                    <!-- <div class="cardType cf">
                        <p class="fl cardName">支付类型：</p>
                        <ul class="cf fl cardBox">
                            <li class="fl active">个人网银</li>
                            <li class="fl">企业网银</li>
                        </ul>
                    </div> -->
                    <div class="content-b">
                        <p class="content-b-t">充值金额</p>
                        <div class="money" id="unionPayMoneyBox">
                            <a href="javascript:;">10元</a>
                            <a href="javascript:;">20元</a>
                            <a href="javascript:;" >30元</a>
                            <a href="javascript:;">50元</a>
                            <a href="javascript:;" class="dj">100元</a>
                            <a href="javascript:;">200元</a>
                            <a href="javascript:;">300元</a>
                            <a href="javascript:;">500元</a>
                            <a href="javascript:;">1000元</a>
                            <a href="javascript:;">2000元</a>
                            <a href="javascript:;">3000元</a>
                            <a href="javascript:;">5000元</a>
                            <a href="javascript:;">10000元</a>
                        </div>
                        <div class="jinbi">
                            <p class="left">其它金额：</p> <input type="text" maxlength="10" size="10" name="money2" id="unionOtherMoney" class="money2 otherMoney" onkeyup="this.value = this.value.replace(/[^0-9]/g, '');" style="display: inline-block"><p class="right"> &nbsp;元</p>
                            <input type="hidden" id="yinLian_zl_amount" name="amount" value="" />
                            <input type="hidden" id="yinLian_zl_user" name="account" value="" />
                            <input type="hidden" name="apitype" value="yinLian" />
                            <span style="font-size:14px;">*比例&nbsp;:&nbsp;1元=1平台币={$points}积分 </span>
                            <span  style="font-size:14px;">获得平台币：<span class="stateMoney" id="game_coin3">100</span> </span>
                            <span style="font-size:14px;">获得积分：<span class="getScore">1000</span> </span>
                        </div>

                        <a class="now" href="javascript:;" id="unionPayAction">立即充值</a>
                    </div>
                    <div class="content-f">
                        <p>银联支付说明：</p>
                        <p>1、您必须拥有银联账户。</p>
                        <p>2、充值时请确认好您的充值金额准确无误后再充值，避免输错金额导致错误，如因未仔细确认金额造成的充值问题，我们将一律不予处理此类退款申诉。</p>
                        <p>3、在线客服咨询QQ ：{:C('CH_SET_SERVER_QQ')}&nbsp;&nbsp;&nbsp; {:C('CH_SET_SERVER_QQ1')}</p>
                        <p>4、客服电话：{:C('CH_SET_ZUOJI_PHONE')}&nbsp;&nbsp;&nbsp;{:C('CH_SET_SERVER_PHONE')}</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 银联 弹出框-->
<div class="cart-win">
    <div class="win-box">
        <div class="mess-t">
            <p>请确认您的充值信息</p>
        </div>     
       <div class="mess-c">
            <form action="{$url}" method="POST" id="form_alipay" target="_blank">
                <p>充值账号 ：<input class="czzh" readonly="readonly"/></p>
                <p>充值方式 ：网银支付</p>
                <p>充值金额 ：<input readonly="readonly" id="amount" value=""/></p>
                <input type="hidden" name="pGateWayReq" id="pGateWayReq" value="" />
            </form>
        </div>

        <div class="mess-b">
            <a href="javascript:;" class="sure">确认提交</a>
            <a href="javascript:;" class="return">返回修改</a>
        </div>
    </div>
</div> 

<!--尾巴部分-->

</body>
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script src="__JS__/jquery-1.11.1.min.js"></script>
<script type="text/javascript">

    var verify=1;
    var errorMsg = "";//错误信息

    $(function(){
        //三种支付方式的切换
        $(document).on("click",'.tabItemContainer li',function(){
            var index = $(this).index();
            $(this).find("a").addClass('tabItemCurrent');
            $(this).siblings("li").find("a").removeClass('tabItemCurrent');
            $(".tabBodyContainer").find(".tabBodyItem").eq(index).show();
            $(".tabBodyContainer").find(".tabBodyItem").eq(index).siblings(".tabBodyItem").hide();
        });
        //点击平台币
        $(document).on("click",'.state',function(){
            $(this).next().toggle();
        });
        //充值金额的选择
        $(document).on("click",'.money a',function(){
            var otherMoney = $(this).parents(".tabBodyItem").find(".otherMoney").val();
            if(otherMoney){
                otherMoney = "";
            }
            var index = $(this).parents(".tabBodyItem").index() + 1;
            $(this).addClass("dj").siblings().removeClass("dj");
            $(this).parents(".tabBodyItem").find(".otherMoney").val("");
            var money = parseInt($(this).text().replace("元",""));
       
            if(index == 1){
                $("#game_coin").html(money);
                $("#game_coin").parent().next().find(".getScore").text(money * 10);
            }else{
                var gameId = "#game_coin"+index;
                $(gameId).html(money);
                $(gameId).parent().next().find(".getScore").text(money * 10);
            }
            
            //addNum(index,money);
        });
        //验证账号是否存在
        $(document).on("blur",'#toaccount2',function(){
            verifyAccount($("#toaccount2"));
        });
        $(document).on("blur",'#toaccount2_',function(){
            verifyAccount($("#toaccount2_"));
        });
        $(document).on("blur",'#unionPayAccount',function(){
            verifyAccount($("#unionPayAccount"));
        });
        //其他金额得到焦点去掉充值金额的选择状态
        $(document).on("focus",'.otherMoney',function(){
            var parent = $(this).parents(".tabBodyItem");
            if(parent.find(".money a").hasClass("dj")){
                parent.find(".money a").removeClass("dj");
            }
        });
        //其他金额键入
        $(document).on("keyup",'.otherMoney',function(){
            var parent = $(this).parents(".tabBodyItem");
            var index = parent.index() + 1;
            var money = $(this).val();

            if(index == 1){
                $("#game_coin").html(money);
                $("#game_coin").parent().next().find(".getScore").text(money * 10);
            }else{
                var gameId = "#game_coin"+index;
                $(gameId).html(money);
                $(gameId).parent().next().find(".getScore").text(money * 10);
            }
            //addNum(index,money);
        });

        //银行卡类型的切换
        /*$(document).on("click",'.cardBox li',function(){
            $(this).addClass('active').siblings().removeClass('active');
            console.log($(this).index());
            $("#paytype").attr("value",$(this).index() + 1);
        });*/

        //支付宝支付
        $("#action").on("click", function(){
            if($.trim($("#toaccount2").val()).length == 0){
                alert("充值账号不能为空!");
                return false;
            }
            if($.trim($("#retoaccount2").val()).length != $.trim($("#toaccount2").val()).length){
                alert("两次账号不相同!");
                return false;
            }
            if($("#game_coin").html() == 0){
                alert("请输入充值金额");
                return false;
            }

            if($.trim($("#toaccount2").val()).length !== 0){
                $.ajax({
                    url:"{:U('Recharge/checkUser')}", 
                    async:false,
                    data:{username:$("#toaccount2").val()},
                    type:"post",
                    dataType:"json",
                    success:function(data) {
                        alert(data);
                        verify=0;
                    },
                    error:function () {
                        return false;
                    }
                });

            }
            var alipay_data = $("#form_alipay_zl").serialize();
            alipay_data = alipay_data + "&money=" + $("#game_coin").html();
            $.post("/media.php?s=/IpsRecharge/beginPay",alipay_data, function(json){
                console.log(json);return ;
               // win.style.display='none';
                layer.open({
                    id:'iframe',
                    type:1,
                    title:'订单确认',
                    btn:['充值完成','返回'],
                    skin:'lay_pop',
                    style: ' background-color:#78BA32; color:#fff;',
                    content:json.html,
                    yes:function(index,layero) {
                        var lay = $(layero.selector);
                        window.location.reload();
                    },
                    cancel:function(index) {
                        layer.closeAll();
                    }
                });
            });   

        });
        //微信支付
        $("#action_").on("click", function(){
            var that = $('#form_weixin_zl');
            if($.trim($("#toaccount2_").val()).length == 0){
                alert("充值账号不能为空!");
                return false;
            }
            if($.trim($("#retoaccount2_").val()).length != $.trim($("#toaccount2_").val()).length){
                alert("两次账号不相同!");
                return false;
            }
            if($("#game_coin2").html() == 0){
                alert("请输入充值金额");
                return false;
            }

            var $amount=$("#game_coin4").html();
            var $account=$("#toaccount2_").val();
            $("#weixin_zl_amount").val($amount);
            $("#weixin_zl_user").val($account);

            // var loading = new Cute.ui.dialog().loading('加载中...',{mask:true});
            var wexin_data = that.serialize();
            wexin_data = wexin_data + "&money=" + $("#game_coin2").html();
            $.post("/media.php?s=/IpsRecharge/beginPay",wexin_data, function(json){
                //console.log(json.payUrl);
                layer.open({
                    id:'iframe',
                    type:1,
                    title:'订单确认',
                    btn:['充值完成','返回'],
                    skin:'lay_pop',
                    style: ' background-color:#78BA32; color:#fff;',
                    content:json.html,
                    yes:function(index,layero) {
                        var lay = $(layero.selector);
                        window.location.reload();
                    },
                    cancel:function(index) {
                        layer.closeAll();
                    }
                });
            });

        });
        //银联支付
        $("#unionPayAction").on('click',function(){

            var that = $('#form_yinlian_zl');
            var money = $("#unionPayMoneyBox a").hasClass("dj")
                    ? parseInt($("#unionPayMoneyBox .dj").text().replace("元",""))
                    : $("#unionOtherMoney").val();//充值金额

            var verifyVal = verifyAcc($("#unionPayAccount"));
            verifyVal = verifyConfirmAcc($("#unionPayAccount"),$("#unionPayConfirmAccount")) && verifyVal;
            verifyVal = verifyMoney(money) && verifyVal;

            if(!verifyVal){
                alert(errorMsg);
                return false;
            }

            var $account = $("#unionPayAccount").val();//充值账号
            $("#yinLian_zl_amount").val(money);
            $("#yinLian_zl_user").val($account);

            var win=document.querySelector('.cart-win');
            var yinlian = $("#form_yinlian_zl").serialize();
            yinlian = yinlian + "&money=" + $("#game_coin3").html() ;
        
            $.post("/media.php?s=/IpsRecharge/panPay",yinlian, function(json){
                console.log(json);
                if(json.status == 1){
                    $("#pGateWayReq").val(json.data);
                    $("#amount").val($("#game_coin3").html()+" 元");
                    $('.czzh').val($("#unionPayAccount").val());
                    
                    win.style.display='block';
                }
               
            });

            $(document).on("click",'.sure',function(){
                console.log($("#form_alipay").serialize());
                $("#form_alipay").submit();
                win.style.display='none';
            });
            //
            $(document).on("click",'.return',function(){
                win.style.display='none';
            });

        });

    });

    //获得平台币和积分的变换  index为充值方式的索引
    function addNum(index,money){
        var parent = $(".tabBodyContainer").find(".tabBodyItem").eq(index);
        var score = money * 10;
        console.log(parent);
        // parent.find(".stateMoney").html(money);
        // parent.find(".getScore").text(score);

        parent.find(".stateMoney").remove();
        parent.find(".getScore").text(score);
    }
    //表单验证
    function verifyAccount(account){
        var account = $.trim(account.val());
        if(!account){
            alert("请填写您的充值账号");
            return false;
        }else{
            $.ajax({
                url:"{:U('Recharge/checkUser')}",
                data:{username:account},
                type:"post",
                dataType:"json",
                success:function(data) {
                    alert(data);
                    return false;
                },
                error:function () {
                    return false;
                }
            });
        }
    }
    function verifyAcc(account){
        var account = $.trim(account.val());
        if(!account){
            errorMsg = "充值账号不能为空";
            return false;
        }else{
            return true;
        }
    }
    function verifyConfirmAcc(account,confirmAcc){
        var account = $.trim(account.val());
        var confirmAcc = $.trim(confirmAcc.val());
        if(!confirmAcc){
            errorMsg = "请填写确认账号";
            return false;
        }else if(confirmAcc !== account){
            errorMsg = "请保持确认账号与充值账号一致";
            return false;
        }else{
            return true;
        }
    }
    function verifyMoney(money){
        var money = money;
        if(!money){
            errorMsg = "请填写或选择充值金额";
            return false;
        }else{
            return true;
        }
    }

</script>

</html>
</block>