/* 公告头部 */
.page-group{background: #f4f4f4;}
.page-group .gameTitle{text-align: center;border-bottom:1px solid #999;margin: 0 .7rem;padding: 1.4rem 0;font-weight: normal;}
.page-group .notificationTime{color: #999;font-size: .8rem;margin-top: .4rem;display: inline-block;}

/* 公告内容 */
.page-group .notificationContent{margin: 0 .7rem 4rem; }
.notificationContent .call{padding: 1rem 0;}
.notificationContent .explain{text-indent: 2em;}
.notificationContent .pic{text-align: center;margin: .6rem 0;}
.notificationContent .pic img{width: 10rem;display: inline-block;}
.notificationContent .ps{padding: .8rem 0;}
.notificationContent .team{text-align: right;margin-top: .8rem;}
.notificationContent .releaseTime{text-align: right;}