<!DOCTYPE html>
<html lang="en">
<head>
    <title>{:C('PC_SET_TITLE')}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}">
    <meta name="description" content="{:C('WEB_SITE_DESCRIPTION')}">
    <link rel="icon" href="__IMG__/favicon.ico"/>
    <link rel="stylesheet" href="__CSS__/sm.min.css">
    <link rel="stylesheet" href="__CSS__/sm-extend.min.css">
    <link rel="stylesheet" href="__CSS__/public.css">
    <link rel="stylesheet" href="__CSS__/index/index.css">
</head>
<body class="mHome">

<div class="page-group">

    <!--   导航栏   -->
    <div class="topBar cf">
        <div class="logoLeft fl cf">
            <img class="logoImg fl" src="__PUBLIC__/Mobile/images/index/logo.png"/>
            <p class="fl">手上科技</p>
        </div>
        <div class="logoRight fr">
            <if condition="$is_login eq 0">
            <!--  未登录   -->
            <div class="status-unLogin">
                <a class="btn-login" href="{:U('Public/login')}">登录</a>
                <a class="btn-register" href="{:U('Public/register')}">注册</a>
            </div>
            <else/>
            <!--  已登录  -->
            <div class="status-login cf">
                <img class="headImg fl" src="__PUBLIC__/Media/image/personalcenter/baseinfo/touxiang.png"/>
                <p class="headName fl">{$user_info.account}</p>
            </div>
            </if>
        </div>
    </div>

    <!--  banner  -->
    <!-- <div class="swiper-container" data-space-between='10'>
        <div class="swiper-wrapper slide-banner_uc">
            <volist name="carousel" id="lun" >
                <div class="swiper-slide">
                    <a href={$lun.url} class="external" target="{$lun.target}" title="{$lun.title}"><img alt="" src="__ROOT__{$lun.data|get_cover='path'}" onerror="this.onerror = null; this.src ='';"></a>
                </div>
            </volist> 
        </div>
        <div class="swiper-pagination"></div>
    </div> -->
    <div class="swiper-container" data-space-between='10'>
        <div class="swiper-wrapper slide-banner_uc">
            <div class="swiper-slide"><a href="" class="external"><img alt="" src="__PUBLIC__/Mobile/images/index/banner_1.jpg" onerror="this.onerror = null; this.src ='.__PUBLIC__/Mobile/images/personalCenter/personal-bg.png';"></a></div>
            <div class="swiper-slide"><a href="" class="external"><img alt="" src="__PUBLIC__/Mobile/images/index/banner_2.jpg" onerror="this.onerror = null; this.src ='.__PUBLIC__/Mobile/images/personalCenter/personal-bg.png';"></a></div>
            <div class="swiper-slide"><a href="" class="external"><img alt="" src="__PUBLIC__/Mobile/images/index/banner_3.jpg" onerror="this.onerror = null; this.src ='.__PUBLIC__/Mobile/images/personalCenter/personal-bg.png';"></a></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <!-- 通告  -->
    <div class="inform cf">
        <div class="informIcon fl"><img src="__PUBLIC__/Mobile/images/index/inform.png"></div>
        <article:limits name="list" category="43" child="true" limit="1">
             <marquee class="informInfo fl" id="informInfo">{$list.title}</marquee>
        </article:limits>
    </div>

    <!--  游戏礼包  -->
    <div class="gift cf">
        <div class="giftTit fl"><img src="__PUBLIC__/Mobile/images/index/line.png" alt=""><p class="giftTitName">游戏礼包</p></div>
        <div class="giftBox cf fl">
            <volist name="gift" id="vo" >
            <a class="giftLink" href="{:U('Game/yxchildren?id='.$vo['game_id'].'&type=2')}">
                <div class="eachGift fl cf">
                    <div class="giftImgBox fl"><img src="{$vo.url.path}" onerror="this.onerror = null; this.src ='.__PUBLIC__/Mobile/images/index/circle-head.png';"/></div>
                    <p class="giftName fl">{$vo.game_name}</p>
                </div>
            </a>
            </volist>
            <!-- <a class="giftLink" href="javascript:;">
                <div class="eachGift fl cf">
                    <div class="giftImgBox fl"><img src="__PUBLIC__/Mobile/images/index/more.png" onerror="this.onerror = null; this.src ='__PUBLIC__/Mobile/images/index/circle-head.png';"/></div>
                </div>
            </a> -->
        </div>
    </div>

    <!-- 热门推荐  -->
    <div class="hotRecommend cf">
        <div class="tit fl">热门推荐</div>
        <ul class="cf fl recommendList">
            <volist name="hot" id="vo" >
            <li class="eachGame fl cf">
                <div class="gameImgBox fl"><img src="__ROOT__{$vo.icon|get_cover='path'}" onerror="this.onerror = null; this.src ='.__PUBLIC__/Mobile/images/index/recommend-head.png';"/></div>
                <div class="gameInfo fl cf">
                    <p class="gameName fl">{:msubstr($vo['game_name'],0,7,'UTF-8',false)}</p>
                    <p class="gameType fl">{$vo.game_type_name}</p>
                    <div class="gameTags fl">
                        <a href="javascript:void(0)" class="eachHotTag fl">热门</a>
                        <a href="javascript:void(0)" class="eachHotTag fl">新游</a>
                    </div>
                </div>
                <!-- <a class="btn-game" href="<if condition='$vo.dow_status eq 0'>#<else/>{:U('Down/down_file?game_id='.$vo['id'].'&type=1')}</if>">游戏下载</a> -->
                <a class="btn-game" href="javascript:;">游戏下载</a>
            </li>
            </volist>

        </ul>
    </div>

    <!--  到底   -->
    <div class="foot">已经到底了</div>

    <!--   底部导航栏   -->
    <nav class="bar bar-tab">
        <a class="tab-item external footTap-game active" href="{:U('Index/index')}">
            <span class="icon"></span>
            <span class="tab-label">游戏</span>
        </a>
        <a class="tab-item external footTap-info" href="{:U('Category/zixun')}">
            <span class="icon"></span>
            <span class="tab-label">资讯</span>
        </a>
        <a class="tab-item external footTap-center" href="{:U('Member/personalcenter')}">
            <span class="icon"></span>
            <span class="tab-label">个人中心</span>
        </a>
    </nav>

</div>

<script src="__JS__/zepto.min.js"></script>
<script src="__JS__/sm.min.js"></script>
<script src="__JS__/sm-extend.min.js"></script>
<script src="__JS__/index/index.js"></script>
</body>
</html>