<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>登录</title>
    <meta name="description" content="堡庆科技">
    <link rel="stylesheet" href="__CSS__/common/base.css">
    <link rel="stylesheet" href="__CSS__/common/public.css">
    <link rel="stylesheet" href="__CSS__/login/index.css">
    <link rel="icon" href="__PUBLIC__/favicon.ico"/>
</head>
<body>
    <!-- 公共头部 -->
    <include file="Public/header" />

    <!-- 登录部分 -->
    <div class="signIn">
        <div class="signInContent">

            <!-- 登录账号密码框 -->
            <div class="login">
                <div class="loginTitle">
                    <p>账号登录</p>
                </div>
                <div class="loginContent">
                    <form action="">
                        <div class="errorMsg hide">密码错误</div>
                        <div class="userName inputStyle">
                            <input type="text" name="account" placeholder="请填写6-20位的账号" id="loginAccount" maxlength="20">
                            <i class="accountIcon"></i>
                        </div>
                        <div class="pwd inputStyle">
                            <input type="password" name="password" placeholder="请填写6-20位的密码" id="pwd" maxlength="20">
                            <i class="passwordIcon"></i>
                        </div>
                        <div class="login-code inputStyle" style="display:none;">
                            <input type="text" name="verify" id="verify" placeholder="验证码"  maxlength="20"/>
                            <span class="icon-code"></span>
                            <span id="identifying"> <img src="__MODULE__/Public/verify" alt="" class="checkcode"> </span>
                        </div>
                        <div class="forgetPwd cf">
                            <a href="javascript:void(0);" class="fl cf">
                                <i class="chose fl active"></i>
                                <span class="fl">记住密码</span>
                            </a>
                            <a href="{:U('Index/wjmm')}" class="fr btnForgetPwd">忘记密码？</a>
                        </div>
                        <div class="loginButton">
                            <a href="javascript:void(0);" id="btnLogin">登 录</a>
                        </div>
                        <div class="noUserName"><a href="javascript:void(0);" class="noUser">还没有账号？</a><a href="{:U('Public/register')}">立即注册</a></div>
                    </form>
                </div>
            </div>

        </div>
    </div>


    <!-- 公共尾部 -->
    <include file="Public/footer" />

<!-- <script src="__JS__/common/jquery.js"></script>
<script src="__JS__/common/public.js"></script> -->
<script src="__JS__/login/index.js"></script>

</body>
</html>
<script>
    var requestUrl  = "{:U('Member/login')}"
    var verifyUrl  = "{:U('Public/verify')}"
</script>