/*   公共    */
.container{background: #FFF;margin: 0 .5rem;}

/*   小导航     */
.subNav{width: 25%;}
.subNav ul{width: 100%;}
.subNav a{display: block;float:left;width: 100%;height: 100%;text-align: center;}
.subNav .icon{display: inline-block;width: 3rem;height: 3rem;margin:1rem 0;}
.navName{width:100%;height:3rem;line-height:3rem;margin-top:-1.5rem;text-align: center;}

/*    最近在玩     */
.playBox{margin-top: .5rem;text-align:center;font-size: .65rem;padding-top: 1rem;padding-bottom: .5rem;}
.playFirst{color: #333;height:3rem;line-height: 3rem;}
.subPlay{width: 20%;text-align: center;}
.playIcon{width: 2.4rem;height: 2.4rem;display: inline-block;}
.playName{width:100%;height:1.4rem;line-height:1.4rem;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}

/*     标题公共的       */
.tit{text-align: center;width:8rem;margin:.5rem auto;;height:2rem;line-height:2rem;font-size: 1rem;}
.titIcon{display: block;width: .6rem;height: .6rem;margin-top:.7rem;background: url("../../images/index/titIcon.png") no-repeat;background-size: .6rem .6rem;}
.titName{width: 6rem;height: 2rem;line-height: 2rem;}

/*     新上架游戏        */
.newestGameContent{margin: 0 .5rem;}
.subRankGame{width:100%;background:#FFF;padding:.5rem 0;margin-bottom: 1px;height: 5rem;}
.subRankGame .icon{display: block;width: 1.2rem;height: 1.2rem;margin: 1.2rem .4rem;padding-top:.4rem;text-align: center;color: #FFF;font-size: .7rem;}
.rank1{background: url("../../images/index/rankFirst.png") no-repeat;background-size: 1.2rem 1.2rem;}
.rank2{background: url("../../images/index/rankSecond.png") no-repeat;background-size: 1.2rem 1.2rem;}
.rank3{background: url("../../images/index/rankThird.png") no-repeat;background-size: 1.2rem 1.2rem;}
.newestImg{width: 3.2rem;height: 3.2rem;margin-top: .5rem;}
.newestDetail{width: 9rem;margin-left: .4rem;margin-top: .2rem;}
.newestDetail p{width: 100%;}
.newestName{display:block;max-width:4rem;font-size: 1rem;color: #333;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.tag,.gameNameBox .gameTag{margin-top: .15rem;display: block;width: 2rem;height: 1rem;margin-left:.3rem;font-size:.6rem;line-height: .88rem;text-align: center;color:#F00;border:1px solid #F00;border-radius: .3rem;}
.tag{margin-top:.3rem;}
.newestType{color: #999;font-size: .8rem;}
.num{color: #ff7a00;font-size: .8rem;}
.played{color: #ffae00;}
.playColor{color: #ffc340;}

/*     精品热门        */
.subHot{width: 25%;text-align: center;padding-bottom: .2rem;}
.hotImg{width: 3rem;height: 3rem;margin: .6rem 0 0;display: inline-block;}
.hotName{width: 94%;margin:0 3%;text-align: center;font-size: .7rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.subHot .enter{display: inline-block;width: 3rem;height: 1.4rem;margin:.3rem 0;font-size:.75rem;line-height: 1.4rem;text-align: center;color: #00c9e1;background: url("../../images/index/borderLine.png") no-repeat center;background-size: 3rem 1.4rem;}

/*    全部游戏      */
.allGamesContent{margin: 0 .5rem;}
.subAllGames{width:100%;margin-bottom:1px;background: #FFF;height: 4rem;padding: 0 .4rem;}
.subAllTextLeft{width: 80%;}
.allGameImg{display:inline-block;width: 2.4rem;height: 2.4rem;margin: .8rem .2rem .8rem 0;}
.gameSome{width: 8.6rem;height: 4rem;}
.gameNameBox{margin-top: .8rem;}
.gameNameBox,.gameType{width: 100%;}
.gameNameBox .gameName{display: block;max-width:4rem;font-size: .8rem;color: #333;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.gameType{font-size: .7rem;color: #999;}
.btnGameEnter{margin: 1.25rem 0;display: inline-block;width: 2.8rem;height: 1.5rem;line-height: 1.5rem;text-align: center;background: linear-gradient(to right, #00cae1, #91fee1);color: #FFF;border-radius: .8rem;}

/*   到底   */
.foot{height:3.5rem;margin-bottom:2.5rem;line-height:3.5rem;color:#999;text-align: center;}