<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>个人中心-安全中心</title>
    <meta name="description" content="堡庆科技">
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/common/public.css">
    <link rel="stylesheet" href="../../Static/Css/personalCenter/common.css">
</head>
<body>

<!--  头部   -->
<div class="header" id="header"></div>

<!--  个人中心的主内容    -->
<div class="homeMain">
    <div class="personalBarBox">
        <div class="personalBar container">
            <ul class="subPersonalUl cf">
                <li class="subPersonalBar fl baseInfo"><a class="link" href="../../View/personalCenter/baseInfo.html"><i></i><p>基本信息</p></a></li>
                <li class="subPersonalBar fl safeCenter active"><a class="link" href="../../View/personalCenter/safeCenter.html"><i></i><p>安全中心</p></a></li>
                <li class="subPersonalBar fl infoCenter"><a class="link" href="../../View/personalCenter/infoCenter.html"><i></i><p>信息中心</p></a></li>
                <li class="subPersonalBar fl transactionRecord"><a class="link" href="../../View/personalCenter/transactionRecord.html"><i></i><p>交易记录</p></a></li>
                <li class="subPersonalBar fl accountBalance"><a class="link" href="../../View/personalCenter/accountBalance.html"><i></i><p>账户余额</p></a></li>
            </ul>
        </div>
    </div>
    <!--   基本信息的内容     -->
    <div class="contentBoxWrap container baseInfoContent">
        <div class="contentTitBox cf">
            <p class="contentTit fl safeCenter">安全中心</p>
        </div>
        <div class="contentWrap cf">
            <div class="linkBox fl">
                <ul>
                    <li class="safeUl active"><a href="javascript:void(0)">密码修改</a></li>
                    <li class="safeUl"><a href="javascript:void(0)">绑定手机</a></li>
                    <li class="safeUl"><a href="javascript:void(0)">绑定邮箱</a></li>
                    <li class="safeUl"><a href="javascript:void(0)">实名认证</a></li>
                </ul>
            </div>
            <div class="linkContent fl">
                <!--  密码修改    -->
                <div class="subLinkContent cf">
                    <p class="fl thisAccount">当前账号：<span class="blue">17012341234</span></p>
                    <div class="eachFormBox fl cf">
                        <div class="subFormName fl">旧密码：</div>
                        <div class="subFormInput fl"><input type="password" class="subInput"></div>
                        <div class="subFormOther fl cf">
                            <!--  表单正确的情况   -->
                            <!--<i class="formCorrect"></i>-->
                            <!--  表单错误的情况    -->
                            <!--<div class="errorForm fl hide">*请输入正确的密码格式</div>-->
                            <!--  表单默认提示   -->
                            <div class="formTip">
                                <span class="a_red">*</span>请输入旧密码
                            </div>
                        </div>
                    </div>
                    <div class="eachFormBox fl cf">
                        <div class="subFormName fl">新密码：</div>
                        <div class="subFormInput fl"><input type="password" class="subInput"></div>
                        <div class="subFormOther fl">
                            <div class="formTip">
                                <span class="a_red">*</span>请输入新密码
                            </div>
                        </div>
                    </div>
                    <div class="eachFormBox fl cf">
                        <div class="subFormName fl">确认密码：</div>
                        <div class="subFormInput fl"><input type="password" class="subInput"></div>
                        <div class="subFormOther fl">
                            <div class="formTip">
                                <span class="a_red">*</span>请输入确认密码
                            </div>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="btnFinish">完成</a>
                </div>
                <!--  绑定手机  -->
                <div class="subLinkContent hide">

                    <!--  绑定手机号   -->
                    <div class="bindPhoneBox hide">
                        <p class="bindPhone fl">绑定的手机号：<span class="blue">17012341234</span></p>
                        <a href="javascript:void(0)" class="btnFinish active btnChangePhone">更换手机号</a>
                    </div>

                    <!--  绑定手机的导航栏   -->
                    <div class="bindPhoneStepBox fl cf">
                        <i class="defaultStep1 active">1.解绑手机</i>
                        <i class="defaultStep2">2.手机验证</i>
                        <i class="defaultStep3">3.完成绑定</i>
                    </div>

                    <!--   解绑手机   -->
                    <div class="changePhone hide">
                        <div class="eachFormBox fl cf">
                            <div class="subFormName fl">手机号：</div>
                            <div class="subFormInput fl"><input type="text" class="subInput"><input type="button" class="btnSendSmsCode" readonly value="发送验证码"></div>
                        </div>
                        <div class="eachFormBox fl cf">
                            <div class="subFormName fl">验证码：</div>
                            <div class="subFormInput fl"><input type="text" class="subInput"></div>
                            <div class="subFormOther fl">
                                <div class="formTip">
                                    <span class="a_red">*</span>请输入您的验证码
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="btnFinish active">完成</a>
                    </div>

                    <!--   手机验证   -->
                    <div class="phoneVerifyBox hide">
                        <div class="eachFormBox fl cf">
                            <div class="subFormName fl">当前账号：</div>
                            <div class="subFormInput fl blue">17012341234</div>
                        </div>
                        <div class="eachFormBox fl cf">
                            <div class="subFormName fl">手机号：</div>
                            <div class="subFormInput fl"><input type="text" class="subInput"><input type="button" class="btnSendSmsCode" readonly value="发送验证码"></div>
                            <div class="subFormOther fl">
                                <div class="formTip">
                                    <span class="a_red">*</span>请输入手机号
                                </div>
                            </div>
                        </div>
                        <div class="eachFormBox fl cf">
                            <div class="subFormName fl">验证码：</div>
                            <div class="subFormInput fl"><input type="text" class="subInput"></div>
                            <div class="subFormOther fl">
                                <div class="formTip">
                                    <span class="a_red">*</span>请输入手机验证码
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="btnFinish">完成</a>
                    </div>

                    <!--   完成绑定   -->
                    <div class="finishBind fl">
                        <i></i>
                        <span>您已成功绑定手机</span>
                    </div>

                </div>
                <!--  绑定邮箱  -->
                <div class="subLinkContent hide">

                    <!--  更换绑定邮箱   -->
                    <div class="changeBindEmailBox hide">
                        <div class="eachFormBox fl cf">
                            <div class="subFormName fl">绑定的邮箱：</div>
                            <div class="subFormInput fl blue">17012341234</div>
                        </div>
                        <a href="javascript:void(0)" class="btnChangeEmail">更换绑定邮箱</a>
                    </div>

                    <!--   绑定邮箱     -->
                    <div class="bindEmailBox">
                        <div class="eachFormBox fl cf">
                            <div class="subFormName fl">邮箱：</div>
                            <div class="subFormInput fl"><input type="text" class="subInput"></div>
                            <div class="subFormOther fl">
                                <div class="formTip">
                                    <span class="a_red">*</span>请输入邮箱
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)" class="btnConfirmBindEmail">确认</a>
                    </div>
                </div>
                <!--  实名认证   -->
                <div class="subLinkContent hide">
                    <p class="certification">您已完成实名认证</p>
                    <div class="eachFormBox fl cf ">
                        <div class="subFormName fl">姓名：</div>
                        <div class="subFormInput fl blue">张**</div>
                    </div>
                    <div class="eachFormBox fl cf certCard">
                        <div class="subFormName fl">身份证号：</div>
                        <div class="subFormInput fl blue">300***********3333</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--   底部    -->
<div class="footer cf" id="footer"></div>

<script src="../../Static/Js/common/jquery.js"></script>
<script src="../../Static/Js/common/public.js"></script>
<script src="../../Static/Js/personalCenter/common.js"></script>
</body>
</html>