/* 公共样式部分 */
@charset"utf-8";
body{overflow-x: hidden;font-family: Microsoft YaHei; word-wrap:break-word; word-break:break-all;}
*,p{margin: 0;padding: 0;}
li{list-style: none;}
ul, ol{list-style: none outside none;}
a{display: inline-block;text-decoration: none;color:#333333}a:active{color:#181818}
img{max-width:100%;display: block;border:none;}
input,textarea{outline: none;box-shadow:none;-webkit-appearance:none}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance:none}
/*  隐藏  */
 .hide{display: none;}
/*   位置相关   */
.fl{float: left;}.fr{float: right;}
/*   清浮动   */
.cf:after{content:""; clear:both; display:table;}.cf {zoom:1;}

/*      头部       */
.search{width: 1200px;margin: 50px auto;}
.logo{display: block;width: 170px;height: 60px;}
.cutRule{width: 100%;height: 1px;margin-top:-1px;border-bottom: 2px solid #1ED4E1;}
.navHeight{min-width:1200px;width: 100%;background: #fff;}

/*  底部版权信息   */
.copyBox{width: 100%;padding:35px 0 45px 0;background: #110900;}
.logoRight{margin-left: 140px;}
.subCopy,.subCopy a{font-size:14px;text-align:center;color: #999;}

/*   付款信息页面    */
.payInfoBoxWrap{width:1200px;padding:0 15px;margin:100px auto;background: #FFF;border:2px solid #4C9AD0;}
.payTit{height: 50px;line-height: 50px;}
.payTit .payTitName{font-weight:700;font-size: 18px;color: #333;}
.payTit .payTitCon{margin-left:20px;font-size: 16px;color: #666;}
.goodsInfoBox{margin-bottom: 15px;}
.goodInfoTable{width:100%;font-size:16px;border-top:1px solid #4C9AD0;}
.goodInfoTable tr{height: 48px;line-height: 48px;background: #EEF8FF;}
.goodInfoTable td{text-align: center;}
.goodInfoTable thead{color: #333;}
.goodInfoTable thead td{border-bottom: 1px solid #CCC;}
.goodInfoTable tbody{color: #666;}
.payInfoType{display: block;float: left;width: 80px;height: 30px;margin:10px 10px 0 0;font-size:16px;line-height: 30px;text-align: center;color:#333;background: #EEE;}
.payInfoType.active{color:#FFF;background: #499AD0;border:1px solid #338ECA;}
.payInfoBox{margin-top:5px;padding:10px 50px;font-size:14px;background: #FFF9ED;border-top:1px solid #4C9AD0;}
.payInfoTit .subStep{height:40px;line-height:40px;margin-left:50px;color: #333;}
.payInfoTit .subStep em{font-weight: 700;font-style: normal;}
.payInfoTit .subStep .payBtn{display: inline-block;width: 120px;height: 30px;margin:5px 10px;background: url(../image/payBtn.png) no-repeat;background-size:120px 30px;}
.payInfoUl{padding-bottom: 30px;}
.subPayBank{position:relative;width: 20%;height:62px;margin-top: 15px;}
.isChoseBank{display: block;width: 20px;height: 20px;margin-top:17px;background: url(../image/unChose.png) no-repeat;background-size: 20px 20px;}
.bankImgBox{position:relative;width: 148px;height: 58px;margin-left:15px;background:#FFF;border:1px solid #CCC;}
.bankImgBox img{width: 155px;height: 40px;margin: 9px auto;}
.subPayBank.active .isChoseBank{background: url(../image/chose.png) no-repeat;background-size: 20px 20px;}
.subPayBank.active .bankImgBox{border:2px solid #4C9AD0;}
.hideInfo{position:absolute;width: 100%;height: 100%;}
.payMoney{margin: 30px 50px;padding-bottom: 20px;}
.shouldPay{font-weight:700;font-size: 16px;color: #333;}
.shouldPay .money{margin:0 5px;color: #F5A95E;}
.bankPayBtn{display: block;width:140px;height: 35px;margin:25px 0;background: url(../image/payBtn.png) no-repeat;background-size: 140px 35px;}

/*   付款成功页面    */
.paySuccessBox{padding:100px auto;line-height: 30px;font-size: 30px;background: #F4F4F4;}
.paySuccessInner{width: 1200px;margin: 0 auto;padding: 209px 0;}
.successIcon{display: block;width: 120px;height: 120px;margin:0 auto;background: url(../image/success.png) no-repeat;background-size: 120px 120px;}
.successInfo{height:150px;line-height:150px;text-align:center;color: #333;}
.successLink{color: #46D929;}
.successLink:hover,.successLink:active{text-decoration: underline;}


