<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>礼包详情</title>
    <link rel="stylesheet" href="__CSS__/sm.min.css">
    <link rel="stylesheet" href="__CSS__/sm-extend.min.css">
    <link rel="stylesheet" href="__CSS__/public.css">
    <link rel="stylesheet" href="__CSS__/packageDetail/index.css">
</head>
<body class="mHome">
    <!--  加载层   -->
    <div id="loader">
    
        <div class="loaderInner">
            <img src="__PUBLIC__/Mobile/images/index/logo.png" alt="">
        </div>
    </div>

    <!-- 礼包详情 -->
    <div class="page-group">
        <!-- 头部 -->
        <div class="head">
            <img class="dib" src="__ROOT__{$giftdetail.0.icon|get_cover='path'}" alt="">
            <p class="packageDetailName">{$giftdetail.0.game_name}</p>
        </div>
        <!-- 礼包列表 -->
        <ul class="packageUl">
            <volist name='giftdetail' id='v'>
                <li class="packageLi">
                    <div class="packageContent cf">
                        <div class="packageContentLeft dib fl">
                            <p class="packageContentName">{$v.giftbag_name}</p>
                            <p class="packageContentText" id="{$v.gift_id}">{$v.desribe}</p>
                            <!-- <div class="cf percentage">
                                <div class="percent dib fl">
                                    <div class="percentSpeed" style="width: 80.5%;"></div>
                                </div>
                                <span class="percentDate dib fr">80.5%</span>
                            </div> -->
                        </div>
                        <a class="receive dib fr" href="javascript:;">领取</a>
                        <a class="alreadyReceive dib fr hide" href="javascript:;">已领取</a>
                    </div>
                </li>
            </volist>
        </ul>

        <!--   底部导航栏   -->
        <nav class="bar bar-tab">
            <a class="tab-item external footTap-game active" href="{:U('Index/index')}">
                <span class="icon"></span>
                <span class="tab-label">游戏</span>
            </a>
            <a class="tab-item external footTap-mall" href="{:U('Mall/index')}">
                <span class="icon"></span>
                <span class="tab-label">商城</span>
            </a>
            <a class="tab-item external footTap-center" href="{:U('Member/personalcenter')}">
                <span class="icon"></span>
                <span class="tab-label">我</span>
            </a>
        </nav>
    </div>


    <script src="__JS__/zepto.min.js"></script>
    <script src="__JS__/sm.min.js"></script>
    <script src="__JS__/sm-extend.min.js"></script>
    <script src="__JS__/main.js"></script>
    <script>
        //领取礼包
        $('.packageUl').find('.packageLi').each(function (){
            
            $(this).find('.receive').click(function (){
                var dis = $(this).parent(".packageContent").find('.packageContentText').html();
                var giftName = $(this).parent(".packageContent").find('.packageContentName').html();
                $.ajax({
                    type:'post',
                    dataType:'json',
                    data:{
                        gift: dis,
                        giftid:$(this).parent(".packageContent").find('.packageContentText').attr('id')
                    },
                    url:"{:U('Member/getGameGift')}",
                    success:function(data) {
                        if (parseInt(data.status) == 1 ) {
                            //登录成功时候的状态
                            if(data.msg=='ok'){
                                alertHtml('已成功领取1个礼包','激活码为：'+data.data,'手上科技'+giftName,dis);
                            }
                            if(data.msg=='no'){
                                //您已领取过该礼包
                                alertHtml('您已领取过该礼包','激活码为：'+data.data,'手上科技'+giftName,dis);
                            }
                            if(data.msg=='noc'){
                                //该礼包已领取完，下次请早
                                $.toast('该礼包已领取完 ');
                            }
                        }
                        if (parseInt(data.status) == 0 ) {
                            //登录失败的时候
                            $.toast('请登录再领取 ');
                        }
                    },
                    error:function() {
                        $.toast('服务器故障，请稍候再试。。。。');
                    }
                });
            })
        });
    </script>

</body>
</html>