<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="__PUBLIC__/Api/js/jquery.js"></script>
</head>
<body>
        <form action="__URL__/pay" method="post">
            商户号：<input type="text" name="pid" size="35"  value="ZB1521724266"><br>
            商户回调地址：<input type="text" name="notify_url" size="60" value="http://119.23.34.87/callback.php?s=/NotifyceshiPF/tl_pan_notify"><br>
            用户姓名：<input type="text" name="payerName" size="35" value="" required /><br>
            用户邮箱：<input type="email" name="payerEmail" size="35" value="" required /><br>
            用户电话：<input type="text" name="payerTelephone" size="35" value="" required /><br>
            商户订单：<input type="text" name="orderNo" size="35" value="" />
                      <input type="button" name="orderNoadd" value="生成" /><br>
            订单金额：<input type="text" name="orderAmount" size="35" value="" required /><br>
            商品描述：<input type="text" name="productDesc" size="35" value="" required /><br>
            生成签名：<input type="text" name="sign" size="35" value="" required />
                      <input type="button" name="signadd" value="生成" /><br>
            <input type="submit" name="btn" value="提交数据" />
        </form>
        <script type="text/javascript">
        $(function () {
            $("input[name=orderNoadd]").click(function () {
                $("input[name=orderNo]").val("");
                var orderNoVal= $("input[name=orderNo]").val();
                $.post("__APP__/Api/IpsObPay/build_order_noX",{},function (msg) {
                    $("input[name=orderNo]").val(msg.resqn);
                },"json");
            });
            $("input[name=signadd]").click(function () {
                $("input[name=sign]").val("");
                var signVal = $("input[name=sign]").val();
                $.post("__APP__/Api/IpsObPay/addSign",{},function (msg) {
                     $("input[name=sign]").val(msg.resqn);
                },"json");
            });
        });
        </script>
</body>
</html>