<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>消费明细</title>
    <link rel="stylesheet" href="../Static/Css/sm.min.css">
    <link rel="stylesheet" href="../Static/Css/public.css">
    <link rel="stylesheet" href="../Static/Css/consumptionDetail/consumptionDetail.css">
</head>
<body class="mHome">

    <!--  加载层   -->
    <div id="loader">
        <div class="loaderInner">
            <img src="../Static/images/index/logo.png" alt="">
        </div>
    </div>

    <div class="page-group">

        <div class="content infinite-scroll infinite-scroll-bottom" data-distance="100">
            <div class="list-block">
                <!--消费明细列表-->
                <ul class="list-container consumptionList cf">
                    <li class="eachConsumption fl">
                        <div class="consumptionLeft fl">
                            <p class="payType fl">微信充值</p>
                            <p class="payTime fl">2018-03-06 13:03:45</p>
                        </div>
                        <div class="consumptionRight fr">
                            <!--  充值   -->
                            <p class="a_org hide">+3000.00</p>
                            <!--  消费   -->
                            <p class="a_black ">-35.00</p>
                        </div>
                    </li>
                    <li class="eachConsumption fl">
                        <div class="consumptionLeft fl">
                            <p class="payType fl">微信充值</p>
                            <p class="payTime fl">2018-03-06 13:03:45</p>
                        </div>
                        <div class="consumptionRight fr">
                            <!--  充值   -->
                            <p class="a_org">+3000.00</p>
                            <!--  消费   -->
                            <p class="a_black hide">-35.00</p>
                        </div>
                    </li>
                    <li class="eachConsumption fl">
                        <div class="consumptionLeft fl">
                            <p class="payType fl">微信充值</p>
                            <p class="payTime fl">2018-03-06 13:03:45</p>
                        </div>
                        <div class="consumptionRight fr">
                            <!--  充值   -->
                            <p class="a_org">+3000.00</p>
                            <!--  消费   -->
                            <p class="a_black hide">-35.00</p>
                        </div>
                    </li>
                    <li class="eachConsumption fl">
                        <div class="consumptionLeft fl">
                            <p class="payType fl">微信充值</p>
                            <p class="payTime fl">2018-03-06 13:03:45</p>
                        </div>
                        <div class="consumptionRight fr">
                            <!--  充值   -->
                            <p class="a_org">+3000.00</p>
                            <!--  消费   -->
                            <p class="a_black hide">-35.00</p>
                        </div>
                    </li>
                    <li class="eachConsumption fl">
                        <div class="consumptionLeft fl">
                            <p class="payType fl">微信充值</p>
                            <p class="payTime fl">2018-03-06 13:03:45</p>
                        </div>
                        <div class="consumptionRight fr">
                            <!--  充值   -->
                            <p class="a_org">+3000.00</p>
                            <!--  消费   -->
                            <p class="a_black hide">-35.00</p>
                        </div>
                    </li>
                    <li class="eachConsumption fl">
                        <div class="consumptionLeft fl">
                            <p class="payType fl">微信充值</p>
                            <p class="payTime fl">2018-03-06 13:03:45</p>
                        </div>
                        <div class="consumptionRight fr">
                            <!--  充值   -->
                            <p class="a_org">+3000.00</p>
                            <!--  消费   -->
                            <p class="a_black hide">-35.00</p>
                        </div>
                    </li>
                    <li class="eachConsumption fl">
                        <div class="consumptionLeft fl">
                            <p class="payType fl">微信充值</p>
                            <p class="payTime fl">2018-03-06 13:03:45</p>
                        </div>
                        <div class="consumptionRight fr">
                            <!--  充值   -->
                            <p class="a_org">+3000.00</p>
                            <!--  消费   -->
                            <p class="a_black hide">-35.00</p>
                        </div>
                    </li>
                    <li class="eachConsumption fl">
                        <div class="consumptionLeft fl">
                            <p class="payType fl">微信充值</p>
                            <p class="payTime fl">2018-03-06 13:03:45</p>
                        </div>
                        <div class="consumptionRight fr">
                            <!--  充值   -->
                            <p class="a_org">+3000.00</p>
                            <!--  消费   -->
                            <p class="a_black hide">-35.00</p>
                        </div>
                    </li>
                    <li class="eachConsumption fl">
                        <div class="consumptionLeft fl">
                            <p class="payType fl">微信充值</p>
                            <p class="payTime fl">2018-03-06 13:03:45</p>
                        </div>
                        <div class="consumptionRight fr">
                            <!--  充值   -->
                            <p class="a_org">+3000.00</p>
                            <!--  消费   -->
                            <p class="a_black hide">-35.00</p>
                        </div>
                    </li>
                    <li class="eachConsumption fl">
                        <div class="consumptionLeft fl">
                            <p class="payType fl">微信充值</p>
                            <p class="payTime fl">2018-03-06 13:03:45</p>
                        </div>
                        <div class="consumptionRight fr">
                            <!--  充值   -->
                            <p class="a_org">+3000.00</p>
                            <!--  消费   -->
                            <p class="a_black hide">-35.00</p>
                        </div>
                    </li>
                    <li class="eachConsumption fl">
                        <div class="consumptionLeft fl">
                            <p class="payType fl">微信充值</p>
                            <p class="payTime fl">2018-03-06 13:03:45</p>
                        </div>
                        <div class="consumptionRight fr">
                            <!--  充值   -->
                            <p class="a_org">+3000.00</p>
                            <!--  消费   -->
                            <p class="a_black hide">-35.00</p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- 加载提示符 -->
            <div class="infinite-scroll-preloader">
                <div class="preloader"></div>
            </div>
        </div>

        <!--  游戏礼包为空   -->
        <div class="giftNull hide">
            <p class="aLanguage">骚年，你还没有充值记录，赶快充值吧！</p>
            <img class="no-Img" src="../Static/images/giftsDetails/no-game.png" alt="">
        </div>
    </div>

<script src="../Static/Js/zepto.min.js"></script>
<script src="../Static/Js/sm.min.js"></script>
<script src="../Static/Js/main.js"></script>
<script src="../Static/Js/consumptionDetail/index.js"></script>
</body>
</html>