<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>游戏礼包详情</title>
    <link rel="stylesheet" href="../Static/Css/sm.min.css">
    <link rel="stylesheet" href="../Static/Css/sm-extend.min.css">
    <link rel="stylesheet" href="../Static/Css/public.css">
    <link rel="stylesheet" href="../Static/Css/giftsDetails/giftsDetails.css">
</head>
<body class="mHome">

    <!--  加载层   -->
    <div id="loader">
<div class="loaderInner">
<img src="../Static/images/index/logo.png" alt="">
</div>
</div>

    <div class="page-group">
        <!--   游戏详情头部   -->
        <div class="headGame fl cf">
            <div class="headGameImg fl"><img src="../Static/images/index/hot.png"></div>
            <div class="gameInfo fl cf">
                <p class="gameName fl">御剑情缘</p>
                <p class="gameType fl">紫龙互娱正版授权</p>
            </div>
            <a class="start-game" href="javascript:void(0)">开始游戏</a>
        </div>

        <!--   游戏简介   -->
        <div class="gameIntroduce">
            <div class="introduce">
                <h2>游戏简介</h2>
                <p id="more">
                    御剑情缘 - 御剑情缘御剑情缘御剑御剑缘缘御剑情缘御剑情缘御剑情缘御剑情缘御剑情缘御剑情缘御剑情缘御剑情缘御剑情缘御剑情缘御剑情缘御剑情缘御剑情缘御剑情缘御剑情缘御剑情缘御剑情缘御剑情缘御剑情缘御剑情缘御剑情缘御剑情缘御剑情缘御剑情缘。
                </p>
                <div class="more hide" id="btn-more">查看详情>></div>
            </div>
        </div>

        <!--    礼包资讯tap    -->
        <div class="information">
            <div class="buttons-tab">
                <a href="#tab1" class="tab-link active button">礼包</a>
                <a href="#tab2" class="tab-link button">资讯</a>
            </div>
            <div class="content-block">
                <div class="tabs">
                    <div id="tab1" class="tab active">
                        <ul>
                            <li>
                                <div class="giftsLeft fl">
                                    <div>
                                        <img class="giftsIcon" src="../Static/images/giftsDetails/giftsIcon.png" alt="">
                                        <span class="giftsName">御迷盛夏礼包-御剑情缘</span>
                                    </div>
                                    <p class="giftsContent"><span>礼包内容：</span><span>银比*3000；</span><span>银比*3000；</span><span>银比*3000</span></p>
                                </div>
                                <a class="receive fr" href="javascript:void(0)">领取</a>
                            </li>
                            <li>
                                <div class="giftsLeft fl">
                                    <div>
                                        <img class="giftsIcon" src="../Static/images/giftsDetails/giftsIcon.png" alt="">
                                        <span class="giftsName">御迷盛夏礼包-御剑情缘</span>
                                    </div>
                                    <p class="giftsContent"><span>礼包内容：</span><span>银比*3000；</span><span>银比*3000</span></p>
                                </div>
                                <a class="receive fr" href="javascript:void(0)">领取</a>
                            </li>
                            <li>
                                <div class="giftsLeft fl">
                                    <div>
                                        <img class="giftsIcon" src="../Static/images/giftsDetails/giftsIcon.png" alt="">
                                        <span class="giftsName">御迷盛夏礼包-御剑情缘</span>
                                    </div>
                                    <p class="giftsContent"><span>礼包内容：</span><span>银比*3000；</span><span>银比*3000</span></p>
                                </div>
                                <a class="receive fr" href="javascript:void(0)">领取</a>
                            </li>
                            <li>
                                <div class="giftsLeft fl">
                                    <div>
                                        <img class="giftsIcon" src="../Static/images/giftsDetails/giftsIcon.png" alt="">
                                        <span class="giftsName">御迷盛夏礼包-御剑情缘</span>
                                    </div>
                                    <p class="giftsContent"><span>礼包内容：</span><span>银比*3000；</span><span>银比*3000</span></p>
                                </div>
                                <a class="receive fr" href="javascript:void(0)">领取</a>
                            </li>
                            <li>
                                <div class="giftsLeft fl">
                                    <div>
                                        <img class="giftsIcon" src="../Static/images/giftsDetails/giftsIcon.png" alt="">
                                        <span class="giftsName">御迷盛夏礼包-御剑情缘</span>
                                    </div>
                                    <p class="giftsContent"><span>礼包内容：</span><span>银比*3000；</span><span>银比*3000</span></p>
                                </div>
                                <a class="receive fr" href="javascript:void(0)">领取</a>
                            </li>
                        </ul>
                    </div>
                    <div id="tab2" class="tab">
                        <p class="noInformation">暂无资讯信息</p>
                    </div>
                </div>
            </div>
        </div>

        <!--   底部导航栏   -->
        <nav class="bar bar-tab">
            <a class="tab-item external footTap-game" href="./../index.html">
                <span class="icon"></span>
                <span class="tab-label">游戏</span>
            </a>
            <a class="tab-item external footTap-mall active" href="./../View/information.html">
                <span class="icon"></span>
                <span class="tab-label">商城</span>
            </a>
            <a class="tab-item external footTap-center" href="personalCenter.html">
                <span class="icon"></span>
                <span class="tab-label">我</span>
            </a>
        </nav>
    </div>

<script src="../Static/Js/zepto.min.js"></script>
<script src="../Static/Js/sm.min.js"></script>
<script src="../Static/Js/sm-extend.min.js"></script>
<script src="../Static/Js/main.js"></script>
<script>
    $(function(){

        var height = $("#more").height();
        if(height>90){
            $("#more").addClass('fixHeight');
            $("#btn-more").show();
        }

        //点击查看详情和收起的切换
        $(document).on("click",'#btn-more',function(){
            if($("#more").hasClass('fixHeight')){
                $("#more").removeClass('fixHeight');
                $("#btn-more").text("收起>>");
            }else{
                $("#more").addClass('fixHeight');
                $("#btn-more").text("查看详情>>");
            }
        });

    });
</script>
</body>
</html>