<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>资讯详情</title>
    <link rel="stylesheet" href="../Static/Css/sm.min.css">
    <link rel="stylesheet" href="../Static/Css/sm-extend.min.css">
    <link rel="stylesheet" href="../Static/Css/public.css">
    <link rel="stylesheet" href="../Static/Css/informationDetails/informationDetails.css">
</head>
<body class="mHome">

    <!--  加载层   -->
    <div id="loader">
        <div class="loaderInner">
            <img src="../Static/images/index/logo.png" alt="">
        </div>
    </div>

    <div class="page-group">
        <!--  title  -->
        <div class="gameTitle">
            <h3>《猎妖》关服公告和补偿通知</h3>
            <span class="notificationTime">2018-03-06</span>
        </div>
        <div class="notificationContent">
            <p class="call">尊敬的《猎妖》玩家：</p>
            <p class="explain">你们好！自《猎妖》正式开服以来卡SD卡你们好自开服以来，自正式开服以来服以D卡你们好！自正式开服以来，卡SD卡你们好！自正式开服以来，卡SD卡你们好！自正式开服以来卡SD卡你们好自正式开服以来卡SD卡。</p>
            <div class="pic"><img src="../Static/images/informationDetails/information-details.png" alt=""></div>
            <p>【注意事项】在进行自《猎妖》正式开服以来卡SD卡你们好正式开卡SD卡你们好！</p>
            <p class="ps">Ps：以游戏内实际为准</p>
            <p class="team">《大天使之间H5》运营团队</p>
            <p class="releaseTime">2018年2月6日</p>
        </div>

        <!--   底部导航栏   -->
        <nav class="bar bar-tab">
            <a class="tab-item external footTap-game" href="./../index.html">
                <span class="icon"></span>
                <span class="tab-label">游戏</span>
            </a>
            <a class="tab-item external footTap-mall active" href="../View/information.html">
                <span class="icon"></span>
                <span class="tab-label">商城</span>
            </a>
            <a class="tab-item external footTap-center" href="personalCenter.html">
                <span class="icon"></span>
                <span class="tab-label">我</span>
            </a>
        </nav>
    </div>

<script src="../Static/Js/zepto.min.js"></script>
<script src="../Static/Js/sm.min.js"></script>
<script src="../Static/Js/sm-extend.min.js"></script>
<script src="../Static/Js/main.js"></script>
</body>
</html>