<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>资讯</title>
    <link rel="stylesheet" href="../Static/Css/sm.min.css">
    <link rel="stylesheet" href="../Static/Css/sm-extend.min.css">
    <link rel="stylesheet" href="../Static/Css/public.css">
    <link rel="stylesheet" href="../Static/Css/index/index.css">
    <link rel="stylesheet" href="../Static/Css/information/information.css">
</head>
<body class="mHome">

    <!--  加载层   -->
    <div id="loader">
        <div class="loaderInner">
            <img src="../Static/images/index/logo.png" alt="">
        </div>
    </div>

    <div class="page-group">

        <!--   导航栏   -->
        <div class="topBar cf">
            <div class="logoLeft fl cf"><img class="logoImg fl" src="../Static/images/index/logo.png"/><p class="fl">手上科技</p></div>
            <div class="logoRight fr">
                <!--  未登录   -->
                <div class="status-unLogin">
                    <a class="btn-login" href="">登录</a>
                    <a class="btn-register" href="">注册</a>
                </div>

                <!--  已登录  -->
                <div class="status-login cf" style="display:none;">
                    <img class="headImg fl" src=""/>
                    <p class="headName fl">黄垂帅</p>
                </div>
            </div>
        </div>

        <!--  banner  -->
        <div class="swiper-container" data-space-between='10'>
            <div class="swiper-wrapper slide-banner_uc">
                <div class="swiper-slide"><a href="" class="external"><img alt="" src="../Static/images/index/banner.png" onerror="this.onerror = null; this.src ='';"></a></div>
                <div class="swiper-slide"><a href="" class="external"><img alt="" src="../Static/images/index/banner.png" onerror="this.onerror = null; this.src ='';"></a></div>
                <div class="swiper-slide"><a href="" class="external"><img alt="" src="../Static/images/index/banner.png" onerror="this.onerror = null; this.src ='';"></a></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <!-- 通告  -->
        <div class="inform cf pr">
            <div class="informIcon fl"><img class="dib" src="../Static/images/index/inform.png"></div>
            <marquee class="informInfo fl">大天使之剑H5资料站-最贴心的游戏管家</marquee>
        </div>

        <!--  资讯列表  -->
        <div class="infoList">
            <div class="buttons-tab">
                <a href="#tab1" class="tab-link active button">公告</a>
                <a href="#tab2" class="tab-link button">活动</a>
                <a href="#tab3" class="tab-link button">资讯</a>
            </div>
            <div class="tabs">
                <div id="tab1" class="tab active">
                    <div class="content-block">
                        <ul>
                            <li>
                                <a href="informationDetails.html" class="cf">
                                    <span class="activeTitle">《大天使h5》3月小狂欢活动</span>
                                    <span class="activeDate fr">03-06</span>
                                </a>
                            </li>
                            <li>
                                <a href="informationDetails.html" class="cf">
                                    <span class="activeTitle">《大天使h5》3月小狂欢活动</span>
                                    <span class="activeDate fr">03-06</span>
                                </a>
                            </li>
                            <li>
                                <a href="informationDetails.html" class="cf">
                                    <span class="activeTitle">《大天使h5》3月小狂欢活动</span>
                                    <span class="activeDate fr">03-06</span>
                                </a>
                            </li>
                            <li>
                                <a href="informationDetails.html" class="cf">
                                    <span class="activeTitle">《大天使h5》3月小狂欢活动</span>
                                    <span class="activeDate fr">03-06</span>
                                </a>
                            </li>
                            <li>
                                <a href="informationDetails.html" class="cf">
                                    <span class="activeTitle">《大天使h5》3月小狂欢活动</span>
                                    <span class="activeDate fr">03-06</span>
                                </a>
                            </li>
                            <li>
                                <a href="informationDetails.html" class="cf">
                                    <span class="activeTitle">《大天使h5》3月小狂欢活动</span>
                                    <span class="activeDate fr">03-06</span>
                                </a>
                            </li>
                            <li>
                                <a href="informationDetails.html" class="cf">
                                    <span class="activeTitle">《大天使h5》3月小狂欢活动</span>
                                    <span class="activeDate fr">03-06</span>
                                </a>
                            </li>
                            <li>
                                <a href="informationDetails.html" class="cf">
                                    <span class="activeTitle">《大天使h5》3月小狂欢活动</span>
                                    <span class="activeDate fr">03-06</span>
                                </a>
                            </li>
                            <li>
                                <a href="informationDetails.html" class="cf">
                                    <span class="activeTitle">《大天使h5》3月小狂欢活动</span>
                                    <span class="activeDate fr">03-06</span>
                                </a>
                            </li>
                            <li>
                                <a href="informationDetails.html" class="cf">
                                    <span class="activeTitle">《大天使h5》3月小狂欢活动</span>
                                    <span class="activeDate fr">03-06</span>
                                </a>
                            </li>
                            <li>
                                <a href="informationDetails.html" class="cf">
                                    <span class="activeTitle">《大天使h5》3月小狂欢活动</span>
                                    <span class="activeDate fr">03-06</span>
                                </a>
                            </li>
                            <li>
                                <a href="informationDetails.html" class="cf">
                                    <span class="activeTitle">《大天使h5》3月小狂欢活动</span>
                                    <span class="activeDate fr">03-06</span>
                                </a>
                            </li>
                            <li>
                                <a href="informationDetails.html" class="cf">
                                    <span class="activeTitle">《大天使h5》3月小狂欢活动</span>
                                    <span class="activeDate fr">03-06</span>
                                </a>
                            </li>
                            <li>
                                <a href="informationDetails.html" class="cf">
                                    <span class="activeTitle">《大天使h5》3月小狂欢活动</span>
                                    <span class="activeDate fr">03-06</span>
                                </a>
                            </li>
                            <li>
                                <a href="informationDetails.html" class="cf">
                                    <span class="activeTitle">《大天使h5》3月小狂欢活动</span>
                                    <span class="activeDate fr">03-06</span>
                                </a>
                            </li>
                            <li>
                                <a href="informationDetails.html" class="cf">
                                    <span class="activeTitle">《大天使h5》3月小狂欢活动</span>
                                    <span class="activeDate fr">03-06</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="tab2" class="tab">
                    <div class="content-block">
                        <ul>
                            <li>
                                <a href="javascript:;" class="cf">
                                    <span class="activeTitle">《大天使h5》4月小狂欢活动</span>
                                    <span class="activeDate fr">03-06</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="tab3" class="tab">
                    <div class="content-block">
                        <ul>
                            <li>
                                <a href="javascript:;" class="cf">
                                    <span class="activeTitle">《大天使h5》5月小狂欢活动（3.6-3.10）</span>
                                    <span class="activeDate fr">03-06</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <!--   底部导航栏   -->
        <nav class="bar bar-tab">
            <a class="tab-item external footTap-game" href="./../index.html">
                <span class="icon"></span>
                <span class="tab-label">游戏</span>
            </a>
            <a class="tab-item external footTap-mall active" href="../View/information.html">
                <span class="icon"></span>
                <span class="tab-label">商城</span>
            </a>
            <a class="tab-item external footTap-center" href="personalCenter.html">
                <span class="icon"></span>
                <span class="tab-label">我</span>
            </a>
        </nav>
    </div>

<script src="../Static/Js/zepto.min.js"></script>
<script src="../Static/Js/sm.min.js"></script>
<script src="../Static/Js/sm-extend.min.js"></script>
<script src="../Static/Js/main.js"></script>
<script src="../Static/Js/index/index.js"></script>
</body>
</html>