<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>积分-做任务</title>
    <link rel="stylesheet" href="../Static/Css/sm.min.css">
    <link rel="stylesheet" href="../Static/Css/sm-extend.min.css">
    <link rel="stylesheet" href="../Static/Css/public.css">
    <link rel="stylesheet" href="../Static/Css/integralTask/index.css">
</head>
<body class="mHome">
    <!--  加载层   -->
    <div id="loader">
        <div class="loaderInner">
            <img src="../Static/images/index/logo.png" alt="">
        </div>
    </div>
    <!-- 积分做任务内容 -->
    <div class="page-group">

        <!--  积分做任务头部  -->
        <div class="signHeadImg pr cf">
            <img class="signImg fl" src="../Static/images/personalCenter/headPortrait.png" alt="">
            <div class="userName fl">
                <div><span>三条曲线</span></div>
                <div><span>qq.1770073414</span></div>
            </div>
            <div class="integral fr dib">
                <p><a class="integralName" href="javascript:;">积分明细</a></p>
                <p class="integralText">25</p>
            </div>
        </div>

        <!-- 任务列表 -->
        <div class="task">
            <ul class="dayOneTaskUl">
                <div class="dayOne">
                    <p class="dayOneName">每日任务</p>
                    <div class="cf percentage">
                        <div class="percent dib fl">
                            <div class="percentSpeed" style="width: 80.5%;"></div>
                        </div>
                        <span class="percentDate dib fr">5/650积分</span>
                    </div>
                </div>
                <li class="dayOneTaskLi cf">
                    <div class="sign dib cf">
                        <img class="dib fl" src="../Static/images/integralTask/sign.png" alt="">
                        <div class="signText fl">
                            <p class="signName">签到</p>
                            <p class="signIntegral"><span class="signIntegralDate">+5 </span><span class="signIntegralName">积分</span></p>
                        </div>
                    </div>
                    <a class="taskBtn fr dib hide" href="javascript:;">做任务</a>
                    <a class="completeBtn fr dib" href="javascript:;">已完成</a>
                </li>
                <li class="dayOneTaskLi cf">
                    <div class="sign dib cf">
                        <img class="dib fl" src="../Static/images/integralTask/share.png" alt="">
                        <div class="signText fl">
                            <p class="signName">分享平台/游戏</p>
                            <p class="signIntegral"><span class="signIntegralDate">+10 </span><span class="signIntegralName">积分</span></p>
                        </div>
                    </div>
                    <a class="taskBtn fr dib" href="javascript:;">做任务</a>
                    <a class="completeBtn fr dib hide" href="javascript:;">已完成</a>
                </li>
                <li class="dayOneTaskLi cf">
                    <div class="sign dib cf">
                        <img class="dib fl" src="../Static/images/integralTask/dayOne.png" alt="">
                        <div class="signText fl">
                            <p class="signName">首日充值</p>
                            <p class="signIntegral"><span class="signIntegralDate">+10 </span><span class="signIntegralName">积分</span></p>
                        </div>
                    </div>
                    <a class="taskBtn fr dib" href="javascript:;">做任务</a>
                    <a class="completeBtn fr dib hide" href="javascript:;">已完成</a>
                </li>
            </ul>
            <ul class="dayOneTaskUl">
                <div class="novice">
                    <p class="noviceName">新手任务</p>
                </div>
                <li class="dayOneTaskLi cf">
                    <div class="sign dib cf">
                        <img class="dib fl" src="../Static/images/integralTask/perfectInformation.png" alt="">
                        <div class="signText fl">
                            <p class="signName">完善个人资料</p>
                            <p class="signIntegral"><span class="signIntegralDate">+20 </span><span class="signIntegralName">积分</span></p>
                        </div>
                    </div>
                    <a class="taskBtn fr dib" href="javascript:;">做任务</a>
                    <a class="completeBtn fr dib hide" href="javascript:;">已完成</a>
                </li>
                <li class="dayOneTaskLi cf">
                    <div class="sign dib cf">
                        <img class="dib fl" src="../Static/images/integralTask/realName.png" alt="">
                        <div class="signText fl">
                            <p class="signName">通过实名认证</p>
                            <p class="signIntegral"><span class="signIntegralDate">+50 </span><span class="signIntegralName">积分</span></p>
                        </div>
                    </div>
                    <a class="taskBtn fr dib" href="javascript:;">做任务</a>
                    <a class="completeBtn fr dib hide" href="javascript:;">已完成</a>
                </li>
                <li class="dayOneTaskLi cf">
                    <div class="sign dib cf">
                        <img class="dib fl" src="../Static/images/integralTask/bindNum.png" alt="">
                        <div class="signText fl">
                            <p class="signName">绑定手机号</p>
                            <p class="signIntegral"><span class="signIntegralDate">+50 </span><span class="signIntegralName">积分</span></p>
                        </div>
                    </div>
                    <a class="taskBtn fr dib" href="javascript:;">做任务</a>
                    <a class="completeBtn fr dib hide" href="javascript:;">已完成</a>
                </li>
            </ul>

        </div>




        <!--   底部导航栏   -->
        <nav class="bar bar-tab">
            <a class="tab-item external footTap-game " href="./../index.html">
                <span class="icon"></span>
                <span class="tab-label">游戏</span>
            </a>
            <a class="tab-item external footTap-mall" href="../View/information.html">
                <span class="icon"></span>
                <span class="tab-label">商城</span>
            </a>
            <a class="tab-item external footTap-center active" href="../View/personalCenter.html">
                <span class="icon"></span>
                <span class="tab-label">我</span>
            </a>
        </nav>
    </div>

    <script src="../Static/Js/zepto.min.js"></script>
    <script src="../Static/Js/sm.min.js"></script>
    <script src="../Static/Js/sm-extend.min.js"></script>
    <script src="../Static/Js/main.js"></script>
</body>
</html>