<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>首页</title>
    <link rel="stylesheet" href="../Static/Css/sm.min.css">
    <link rel="stylesheet" href="../Static/Css/public.css">
    <link rel="stylesheet" href="../Static/Css/login/index.css">
</head>
<body class="mHome bg_white">

    <!--  加载层   -->
    <div id="loader">
        <div class="loaderInner">
            <img src="../Static/images/index/logo.png" alt="">
        </div>
    </div>

    <!--  返回   -->
    <div class="returnBox">
        <!--<a class="return fl cf" href="javascript:void(0)"><i class="returnIcon"></i><p class="returnName"></p></a>-->
        <a class="reg fr" href="../View/register.html">注册</a>
    </div>

    <!--  Logo   -->
    <div class="logo">
        <img class="logoImg" src="../Static/images/index/logo.png" />
        <p class="logoChName">手上科技</p>
    </div>

    <!--  表单   -->
    <form action="" class="formBox cf">
        <div id="account" class="formBoxWrap fl cf">
            <p class="formName fl"><img src="../Static/images/login/account.png"/></p>
            <input class="fl" type="text" placeholder="请输入账号" maxlength="20">
        </div>
        <div id="pwd" class="formBoxWrap fl cf">
            <p class="formName fl"><img src="../Static/images/login/pwd.png"/></p>
            <input class="fl" type="password" placeholder="请输入密码" maxlength="20">
        </div>
        <div class="btn-loginBox">
            <a href="javascript:void(0)" class="btnLogin" id="btnLogin">登录</a>
        </div>
        <div class="operation cf">
            <a href="../View/forgetPwd.html" class="btn-forgetPwd fr">忘记密码</a>
        </div>
    </form>

<script src="../Static/Js/zepto.min.js"></script>
<script src="../Static/Js/sm.min.js"></script>
<script src="../Static/Js/main.js"></script>
<script src="../Static/Js/login/index.js"></script>
</body>
</html>