<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>商城</title>
    <link rel="stylesheet" href="../Static/Css/sm.min.css">
    <link rel="stylesheet" href="../Static/Css/public.css">
    <link rel="stylesheet" href="../Static/Css/mall/index.css">
</head>
<body class="mHome">

    <!--  加载层   -->
    <div id="loader">
        <div class="loaderInner">
            <img src="./Static/images/index/logo.png" alt="">
        </div>
    </div>

    <div class="page-group">

        <!--   商城banner    -->
        <div class="mallBanner">
            <img src="../Static/images/mall/mallBanner.png" alt="">
        </div>

        <!--   小导航    -->
        <div class="mallNavBar cf">
            <div class="subNav fl cf myScore">
                <a class="navLink" href="javascript:void(0)">
                    <i class="icon fl"></i>
                    <p class="fl navName">我的积分</p>
                </a>
            </div>
            <div class="subNav fl cf myChange">
                <a class="navLink" href="javascript:void(0)">
                    <i class="icon fl"></i>
                    <p class="fl navName">我的兑换</p>
                </a>
            </div>
            <div class="subNav fl cf luckDraw">
                <a class="navLink" href="javascript:void(0)">
                    <i class="icon fl"></i>
                    <p class="fl navName">幸运抽奖</p>
                </a>
            </div>
        </div>

        <!--   tab栏   -->
        <div class="mallTab cf">
            <a class="subTab active" href="javascript:void(0)">精选</a>
            <a class="subTab" href="javascript:void(0)">实物</a>
            <a class="subTab" href="javascript:void(0)">礼包</a>
            <a class="subTab" href="javascript:void(0)">我能兑换</a>
        </div>

        <!--   tab内容栏    -->
        <div class="mallTabContentBox">
            <!--   精选的内容    -->
            <div class="subMallContent">
                <ul class="choiceBox cf">
                    <li class="eachChoice cf">
                        <img src="../Static/images/mall/subChange.png" alt="" class="fl choiceImg">
                        <div class="choiceSome fl cf">
                            <p class="choiceName fl">去吧皮卡丘礼包</p>
                            <p class="choiceScore fl">2000积分</p>
                        </div>
                        <a class="btnChange fl" href="javascript:void(0)">兑换</a>
                    </li>
                    <li class="eachChoice cf">
                        <img src="../Static/images/mall/subChange.png" alt="" class="fl choiceImg">
                        <div class="choiceSome fl cf">
                            <p class="choiceName fl">去吧皮卡丘礼包</p>
                            <p class="choiceScore fl">2000积分</p>
                        </div>
                        <a class="btnChange fl" href="javascript:void(0)">兑换</a>
                    </li>
                    <li class="eachChoice cf">
                        <img src="../Static/images/mall/subChange.png" alt="" class="fl choiceImg">
                        <div class="choiceSome fl cf">
                            <p class="choiceName fl">去吧皮卡丘礼包</p>
                            <p class="choiceScore fl">2000积分</p>
                        </div>
                        <a class="btnChange fl" href="javascript:void(0)">兑换</a>
                    </li>
                    <li class="eachChoice cf">
                        <img src="../Static/images/mall/subChange.png" alt="" class="fl choiceImg">
                        <div class="choiceSome fl cf">
                            <p class="choiceName fl">去吧皮卡丘礼包</p>
                            <p class="choiceScore fl">2000积分</p>
                        </div>
                        <a class="btnChange fl" href="javascript:void(0)">兑换</a>
                    </li>
                </ul>
            </div>
            <!--   实物的内容     -->
            <div class="subMallContent hide">
                <i class="noGoodsIcon"></i>
                <p class="noGoodsIn">程序员哥哥正在搭建中</p>
            </div>
            <!--   礼包的内容   -->
            <div class="subMallContent hide">
                <i class="noGiftIcon"></i>
                <p class="noGiftIn">暂无礼包哦，客官耐心等待</p>
            </div>
            <!--   我能兑换的内容    -->
            <div class="subMallContent hide">
                <ul class="choiceBox cf">
                    <li class="eachChoice cf">
                        <img src="../Static/images/mall/subChange.png" alt="" class="fl choiceImg">
                        <div class="choiceSome fl cf">
                            <p class="choiceName fl">去吧皮卡丘礼包</p>
                            <p class="choiceScore fl">2000积分</p>
                        </div>
                        <a class="btnChange fl" href="javascript:void(0)">兑换</a>
                    </li>
                    <li class="eachChoice cf">
                        <img src="../Static/images/mall/subChange.png" alt="" class="fl choiceImg">
                        <div class="choiceSome fl cf">
                            <p class="choiceName fl">去吧皮卡丘礼包</p>
                            <p class="choiceScore fl">2000积分</p>
                        </div>
                        <a class="btnChange fl" href="javascript:void(0)">兑换</a>
                    </li>
                    <li class="eachChoice cf">
                        <img src="../Static/images/mall/subChange.png" alt="" class="fl choiceImg">
                        <div class="choiceSome fl cf">
                            <p class="choiceName fl">去吧皮卡丘礼包</p>
                            <p class="choiceScore fl">2000积分</p>
                        </div>
                        <a class="btnChange fl" href="javascript:void(0)">兑换</a>
                    </li>
                    <li class="eachChoice cf">
                        <img src="../Static/images/mall/subChange.png" alt="" class="fl choiceImg">
                        <div class="choiceSome fl cf">
                            <p class="choiceName fl">去吧皮卡丘礼包</p>
                            <p class="choiceScore fl">2000积分</p>
                        </div>
                        <a class="btnChange fl" href="javascript:void(0)">兑换</a>
                    </li>
                </ul>
            </div>
        </div>

        <!--   底部导航栏   -->
        <nav class="bar bar-tab">
            <a class="tab-item external footTap-game" href="./index.html">
                <span class="icon"></span>
                <span class="tab-label">游戏</span>
            </a>
            <a class="tab-item external footTap-mall active" href="./View/information.html">
                <span class="icon"></span>
                <span class="tab-label">商城</span>
            </a>
            <a class="tab-item external footTap-center" href="View/personalCenter.html">
                <span class="icon"></span>
                <span class="tab-label">我</span>
            </a>
        </nav>

    </div>


<script src="../Static/Js/zepto.min.js"></script>
<script src="../Static/Js/sm.min.js"></script>
<script src="../Static/Js/main.js"></script>
<script src="../Static/Js/mall/index.js"></script>
</body>
</html>