<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>我的游戏</title>
    <link rel="stylesheet" href="../Static/Css/sm.min.css">
    <link rel="stylesheet" href="../Static/Css/public.css">
    <link rel="stylesheet" href="../Static/Css/myGame/index.css">
</head>
<body class="mHome">

    <!--  加载层   -->
    <div id="loader">
        <div class="loaderInner">
            <img src="../Static/images/index/logo.png" alt="">
        </div>
    </div>

    <div class="page-group cf">
        <!--  标题  -->
        <div class="gameTit fl">
            <p class="gameTitName">最近玩过的游戏</p>
        </div>
        <!--  游戏内容  -->
        <div class="eachGameType cf fl">
            <div class="gameTypeTit fl">
                棋牌类
                <a href="javascript:void(0)" class="right"></a>
            </div>
            <ul class="gameBox fl cf">
                <li class="eachGame fl cf">
                    <div class="gameImg fl"><img src=".././Static/images/myGame/gameImg.png" alt=""></div>
                    <div class="operateGame fl cf">
                        <a href="javascript:void(0)" class="getGift fl eachOperate">领取礼包</a>
                        <a href="javascript:void(0)" class="startGame fr eachOperate">开始游戏</a>
                    </div>
                </li>
                <li class="eachGame fl cf">
                    <div class="gameImg fl"><img src=".././Static/images/myGame/gameImg.png" alt=""></div>
                    <div class="operateGame fl cf">
                        <a href="javascript:void(0)" class="getGift fl eachOperate">领取礼包</a>
                        <a href="javascript:void(0)" class="startGame fr eachOperate">开始游戏</a>
                    </div>
                </li>
                <li class="eachGame fl cf">
                    <div class="gameImg fl"><img src=".././Static/images/myGame/gameImg.png" alt=""></div>
                    <div class="operateGame fl cf">
                        <a href="javascript:void(0)" class="getGift fl eachOperate">领取礼包</a>
                        <a href="javascript:void(0)" class="startGame fr eachOperate">开始游戏</a>
                    </div>
                </li>
                <li class="eachGame fl cf">
                    <div class="gameImg fl"><img src=".././Static/images/myGame/gameImg.png" alt=""></div>
                    <div class="operateGame fl cf">
                        <a href="javascript:void(0)" class="getGift fl eachOperate">领取礼包</a>
                        <a href="javascript:void(0)" class="startGame fr eachOperate">开始游戏</a>
                    </div>
                </li>
                <li class="eachGame fl cf">
                    <div class="gameImg fl"><img src=".././Static/images/myGame/gameImg.png" alt=""></div>
                    <div class="operateGame fl cf">
                        <a href="javascript:void(0)" class="getGift fl eachOperate">领取礼包</a>
                        <a href="javascript:void(0)" class="startGame fr eachOperate">开始游戏</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="eachGameType cf fl">
            <div class="gameTypeTit fl">
                棋牌类
                <a href="javascript:void(0)" class="right"></a>
            </div>
            <ul class="gameBox fl cf">
                <li class="eachGame fl cf">
                    <div class="gameImg fl"><img src=".././Static/images/myGame/gameImg.png" alt=""></div>
                    <div class="operateGame fl cf">
                        <a href="javascript:void(0)" class="getGift fl eachOperate">领取礼包</a>
                        <a href="javascript:void(0)" class="startGame fr eachOperate">开始游戏</a>
                    </div>
                </li>
                <li class="eachGame fl cf">
                    <div class="gameImg fl"><img src=".././Static/images/myGame/gameImg.png" alt=""></div>
                    <div class="operateGame fl cf">
                        <a href="javascript:void(0)" class="getGift fl eachOperate">领取礼包</a>
                        <a href="javascript:void(0)" class="startGame fr eachOperate">开始游戏</a>
                    </div>
                </li>
                <li class="eachGame fl cf">
                    <div class="gameImg fl"><img src=".././Static/images/myGame/gameImg.png" alt=""></div>
                    <div class="operateGame fl cf">
                        <a href="javascript:void(0)" class="getGift fl eachOperate">领取礼包</a>
                        <a href="javascript:void(0)" class="startGame fr eachOperate">开始游戏</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

<script src="../Static/Js/zepto.min.js"></script>
<script src="../Static/Js/sm.min.js"></script>
<script src="../Static/Js/main.js"></script>
</body>
</html>