<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>我的钱包</title>
    <link rel="stylesheet" href="../Static/Css/sm.min.css">
    <link rel="stylesheet" href="../Static/Css/sm-extend.min.css">
    <link rel="stylesheet" href="../Static/Css/public.css">
    <link rel="stylesheet" href="../Static/Css/myWallet/myWallet.css">
</head>
<body class="mHome">

    <!--  加载层   -->
    <div id="loader">
        <div class="loaderInner">
            <img src="../Static/images/index/logo.png" alt="">
        </div>
    </div>

    <div class="page-group">
        <!-- 头部 -->
        <div class="consumptionDetail">消费明细</div>
        <div class="recharge">
            <img src="../Static/images/myWallet/walletIcon.png" alt="">
            <p class="platformCurrency">我的平台币</p>
            <p class="money">￥100.00</p>
        </div>

        <!-- 充值按钮 -->
        <div class="rechargeBtn">
            <a href="../View/recharge.html">充值</a>
        </div>

        <!--   底部导航栏   -->
        <nav class="bar bar-tab">
            <a class="tab-item external footTap-game" href="./../index.html">
                <span class="icon"></span>
                <span class="tab-label">游戏</span>
            </a>
            <a class="tab-item external footTap-mall active" href="./../View/information.html">
                <span class="icon"></span>
                <span class="tab-label">商城</span>
            </a>
            <a class="tab-item external footTap-center" href="personalCenter.html">
                <span class="icon"></span>
                <span class="tab-label">我</span>
            </a>
        </nav>
    </div>

<script src="../Static/Js/zepto.min.js"></script>
<script src="../Static/Js/sm.min.js"></script>
<script src="../Static/Js/sm-extend.min.js"></script>
<script src="../Static/Js/main.js"></script>
</body>
</html>