<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>礼包详情</title>
    <link rel="stylesheet" href="../Static/Css/sm.min.css">
    <link rel="stylesheet" href="../Static/Css/sm-extend.min.css">
    <link rel="stylesheet" href="../Static/Css/public.css">
    <link rel="stylesheet" href="../Static/Css/packageDetail/index.css">
</head>
<body class="mHome">
    <!--  加载层   -->
    <div id="loader">
        <div class="loaderInner">
            <img src="../Static/images/index/logo.png" alt="">
        </div>
    </div>

    <!-- 礼包详情 -->
    <div class="page-group">
        <!-- 头部 -->
        <div class="head">
            <img class="dib" src="../Static/images/packageList/packageBigPic.png" alt="">
            <p class="packageDetailName">梦幻西游</p>
        </div>
        <!-- 礼包列表 -->
        <ul class="packageUl">
            <li class="packageLi">
                <div class="packageContent cf">
                    <div class="packageContentLeft dib fl">
                        <p class="packageContentName">3.15礼包</p>
                        <p class="packageContentText">元宝*100、法宝碎片*5、初级身丹*4、银币*5000</p>
                        <div class="cf percentage">
                            <div class="percent dib fl">
                                <div class="percentSpeed" style="width: 80.5%;"></div>
                            </div>
                            <span class="percentDate dib fr">80.5%</span>
                        </div>
                    </div>
                    <a class="receive dib fr" href="javascript:;">领取</a>
                    <a class="alreadyReceive dib fr hide" href="javascript:;">已领取</a>
                </div>
            </li>
            <li class="packageLi">
                <div class="packageContent cf">
                    <div class="packageContentLeft dib fl">
                        <p class="packageContentName">3.15礼包</p>
                        <p class="packageContentText">元宝*100、法宝碎片*5、初级身丹*4、银币*5000</p>
                        <div class="cf percentage">
                            <div class="percent dib fl">
                                <div class="percentSpeed" style="width: 80.5%;"></div>
                            </div>
                            <span class="percentDate dib fr">80.5%</span>
                        </div>
                    </div>
                    <a class="receive dib fr hide" href="javascript:;">领取</a>
                    <a class="alreadyReceive dib fr" href="javascript:;">已领取</a>
                </div>
            </li>
            <li class="packageLi">
                <div class="packageContent cf">
                    <div class="packageContentLeft dib fl">
                        <p class="packageContentName">3.15礼包</p>
                        <p class="packageContentText">元宝*100、法宝碎片*5、初级身丹*4、银币*5000</p>
                        <div class="cf percentage">
                            <div class="percent dib fl">
                                <div class="percentSpeed" style="width: 80.5%;"></div>
                            </div>
                            <span class="percentDate dib fr">80.5%</span>
                        </div>
                    </div>
                    <a class="receive dib fr" href="javascript:;">领取</a>
                    <a class="alreadyReceive dib fr hide" href="javascript:;">已领取</a>
                </div>
            </li>
            <li class="packageLi">
                <div class="packageContent cf">
                    <div class="packageContentLeft dib fl">
                        <p class="packageContentName">3.15礼包</p>
                        <p class="packageContentText">元宝*100、法宝碎片*5、初级身丹*4、银币*5000</p>
                        <div class="cf percentage">
                            <div class="percent dib fl">
                                <div class="percentSpeed" style="width: 80.5%;"></div>
                            </div>
                            <span class="percentDate dib fr">80.5%</span>
                        </div>
                    </div>
                    <a class="receive dib fr" href="javascript:;">领取</a>
                    <a class="alreadyReceive dib fr hide" href="javascript:;">已领取</a>
                </div>
            </li>
            <li class="packageLi">
                <div class="packageContent cf">
                    <div class="packageContentLeft dib fl">
                        <p class="packageContentName">3.15礼包</p>
                        <p class="packageContentText">元宝*100、法宝碎片*5、初级身丹*4、银币*5000</p>
                        <div class="cf percentage">
                            <div class="percent dib fl">
                                <div class="percentSpeed" style="width: 80.5%;"></div>
                            </div>
                            <span class="percentDate dib fr">80.5%</span>
                        </div>
                    </div>
                    <a class="receive dib fr" href="javascript:;">领取</a>
                    <a class="alreadyReceive dib fr hide" href="javascript:;">已领取</a>
                </div>
            </li>
            <li class="packageLi">
                <div class="packageContent cf">
                    <div class="packageContentLeft dib fl">
                        <p class="packageContentName">3.15礼包</p>
                        <p class="packageContentText">元宝*100、法宝碎片*5、初级身丹*4、银币*5000</p>
                        <div class="cf percentage">
                            <div class="percent dib fl">
                                <div class="percentSpeed" style="width: 80.5%;"></div>
                            </div>
                            <span class="percentDate dib fr">80.5%</span>
                        </div>
                    </div>
                    <a class="receive dib fr" href="javascript:;">领取</a>
                    <a class="alreadyReceive dib fr hide" href="javascript:;">已领取</a>
                </div>
            </li>
        </ul>

        <!--   底部导航栏   -->
        <nav class="bar bar-tab">
            <a class="tab-item external footTap-game " href="./../index.html">
                <span class="icon"></span>
                <span class="tab-label">游戏</span>
            </a>
            <a class="tab-item external footTap-mall" href="../View/information.html">
                <span class="icon"></span>
                <span class="tab-label">商城</span>
            </a>
            <a class="tab-item external footTap-center active" href="../View/personalCenter.html">
                <span class="icon"></span>
                <span class="tab-label">我</span>
            </a>
        </nav>
    </div>


<script src="../Static/Js/zepto.min.js"></script>
<script src="../Static/Js/sm.min.js"></script>
<script src="../Static/Js/sm-extend.min.js"></script>
<script src="../Static/Js/main.js"></script>
<script>

    $(function(){
        //点击领取礼包
        $(document).on("click",'.receive',function(){
            alertHtml('已成功领取1个礼包','已发送至“掌上科技-王者演义-走走看看”，请在游戏内查收','手上科技王者演义H5X新手卡','价值150元宝 5000金币，10体力道具*3，进阶石*20');
        });
    });
</script>
</body>
</html>