<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>个人中心</title>
    <link rel="stylesheet" href="../Static/Css/sm.min.css">
    <link rel="stylesheet" href="../Static/Css/sm-extend.min.css">
    <link rel="stylesheet" href="../Static/Css/public.css">
    <link rel="stylesheet" href="../Static/Css/personalCenter/personalCenter.css">
</head>
<body class="mHome">

    <!--  加载层   -->
    <div id="loader">
        <div class="loaderInner">
            <img src="../Static/images/index/logo.png" alt="">
        </div>
    </div>

    <div class="page-group">

        <!--  个人中心头像（未登录状态）  -->
        <div class="headImg hide">
            <img class="headPortrait" src="../Static/images/personalCenter/headPortrait.png" alt="">
            <p class="unSign">未登录</p>
        </div>

        <!--  个人中心头像（已登录状态）  -->
        <div class="signHeadImg pr">
            <img class="signImg" src="../Static/images/personalCenter/headPortrait.png" alt="">
            <div class="userName">
                <div><span>三条曲线</span></div>
                <div><span>qq.1770073414</span></div>
            </div>
            <a class="edit" href="javascript:;"><img src="../Static/images/personalCenter/edit.png" alt=""></a>
            <div class="suspension cf">
                <a href="javascript:;" class="point fl">
                    <img class="dib" src="../Static/images/personalCenter/myPoints.png" alt="">
                    <span class="pointText dib">我的积分</span>
                </a>
                <a href="javascript:;" class="currency fr">
                    <img class="dib" src="../Static/images/personalCenter/gameCurrency.png" alt="">
                    <span class="currencyText dib">游币充值</span>
                </a>
            </div>
        </div>

        <!--   个人中心列表   -->
        <div class="personalList">
            <ul class="category">
                <li>
                    <a href="../View/myGame.html" class="cf">
                        <div class="fl listLeft">
                            <img class="myGameImg" src="../Static/images/personalCenter/myGame.png" alt="">
                            <span class="myGame">我的游戏</span>
                        </div>
                        <div class="fr listLeft"><span class="icon icon-right"></span></div>
                    </a>
                </li>
                <li>
                    <a href="../View/myGifts.html">
                        <div class="fl listLeft">
                            <img class="myGameImg" src="../Static/images/personalCenter/myGifts.png" alt="">
                            <span class="myGame">我的礼包</span>
                        </div>
                        <div class="fr listLeft"><span class="icon icon-right"></span></div>
                    </a>
                </li>
                <li>
                    <a href="../View/myWallet.html">
                        <div class="fl listLeft">
                            <img class="myGameImg" src="../Static/images/personalCenter/myWallet.png" alt="">
                            <span class="myGame">我的钱包</span>
                        </div>
                        <div class="fr listLeft"><span class="icon icon-right"></span></div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" id="btn-changeCenter">
                        <div class="fl listLeft">
                            <img class="myGameImg" src="../Static/images/personalCenter/moneyChanger.png" alt="">
                            <span class="myGame">兑换中心</span>
                        </div>
                        <div class="fr listLeft"><span class="icon icon-right"></span></div>
                    </a>
                </li>
            </ul>
            <ul class="category">
                <li>
                    <a href="../View/bindPhone.html">
                        <div class="fl listLeft">
                            <img class="myGameImg" src="../Static/images/personalCenter/bindAccount.png" alt="">
                            <span class="myGame">绑定账号</span>
                        </div>
                        <div class="fr listLeft"><span class="icon icon-right"></span></div>
                    </a>
                </li>
                <li>
                    <a href="tel:0755-2511-3016">
                        <div class="fl listLeft">
                            <img class="myGameImg" src="../Static/images/personalCenter/consultingService.png" alt="">
                            <span class="myGame">咨询客服</span>
                        </div>
                        <div class="fr listLeft"><span class="icon icon-right"></span></div>
                    </a>
                </li>
            </ul>
        </div>

        <!--   登录按钮（未登录状态）   -->
        <div class="btn hide">
            <a href="javascript:;">登 录</a>
        </div>

        <!--   登录按钮（已登录状态）   -->
        <div class="btn signOu">
            <a href="javascript:;">退出登录</a>
        </div>

        <!--   底部导航栏   -->
        <nav class="bar bar-tab">
            <a class="tab-item external footTap-game " href="./../index.html">
                <span class="icon"></span>
                <span class="tab-label">游戏</span>
            </a>
            <a class="tab-item external footTap-mall" href="../View/information.html">
                <span class="icon"></span>
                <span class="tab-label">商城</span>
            </a>
            <a class="tab-item external footTap-center active" href="../View/personalCenter.html">
                <span class="icon"></span>
                <span class="tab-label">我</span>
            </a>
        </nav>
    </div>

<script src="../Static/Js/zepto.min.js"></script>
<script src="../Static/Js/sm.min.js"></script>
<script src="../Static/Js/sm-extend.min.js"></script>
<script src="../Static/Js/main.js"></script>
<script>

    $(function(){

        $("#btn-changeCenter").on("click",function(){
            $.alert("兑换中心暂未开通", function(){})
        });

    });

</script>
</body>
</html>