<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>充值中心</title>
    <link rel="stylesheet" href="../Static/Css/sm.min.css">
    <link rel="stylesheet" href="../Static/Css/public.css">
    <link rel="stylesheet" href="../Static/Css/Recharge/index.css">
</head>
<body class="mHome">

    <!--  加载层   -->
    <div id="loader">
        <div class="loaderInner">
            <img src="../Static/images/index/logo.png" alt="">
        </div>
    </div>

    <div class="page-group">
        <!--  充值账号   -->
        <div class="state">
            <span class="recharge">充值到<span class="a_org">平台币</span></span>
        </div>
        <div class="rechargeAccountBox cf">
            <div class="eachRechargeAccount fl bdb pr">
                <span class="accountTit">充值账号：</span>
                <input class="accountInput" type="text" id="rechargeAccount"/>
                <i class="btn-close hide"></i>
            </div>
            <div class="eachRechargeAccount fl pr">
                <span class="accountTit">确认账号：</span>
                <input class="accountInput" type="text" id="confirmAccount"/>
                <i class="btn-close hide"></i>
            </div>
        </div>

        <!--  充值金额  -->
        <div class="rechargeMoneyBox">
            <div class="rechargeTit">充值金额</div>
            <ul class="rechargeMoneyUL cf">
                <li class="rechargeMoneyLi fl active">10元</li>
                <li class="rechargeMoneyLi fl">20元</li>
                <li class="rechargeMoneyLi fl">30元</li>
                <li class="rechargeMoneyLi fl">40元</li>
                <li class="rechargeMoneyLi fl">50元</li>
                <li class="rechargeMoneyLi fl">100元</li>
                <li class="rechargeMoneyLi fl">200元</li>
                <li class="rechargeMoneyLi fl">300元</li>
                <li class="rechargeMoneyLi fl">500元</li>
                <li class="rechargeMoneyLi fl">1000元</li>
                <li class="rechargeMoneyLi fl">3000元</li>
            </ul>
            <div class="otherMoney cf">
                <p class="fl">其他金额：</p>
                <input type="text" class="fl money" id="otherMoney" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"/>
                <p class="fl">元</p>
            </div>
            <div class="percent">
                *比例：1元=1平台币=10积分 获得平台币：10  获得积分：100
            </div>
        </div>

        <!--  选择支付方式  -->
        <div class="payBox" data-payType="1">
            <div class="payTit">请选择支付方式</div>
            <div class="eachPayBox cf zep-wxPay">
                <i class="wx fl icon-pay"></i>
                <p class="fl">微信支付</p>
                <i class="choseType active fl"></i>
            </div>
            <div class="eachPayBox cf">
                <i class="zfb fl icon-pay"></i>
                <p class="fl">支付宝</p>
                <i class="choseType fl"></i>
            </div>
        </div>

        <!--  立即支付按钮   -->
        <a href="javascript:void(0)" class="btn-pay" id="btn-pay">立即支付</a>

        <!--   底部导航栏   -->
        <nav class="bar bar-tab">
            <a class="tab-item external footTap-game" href="./../index.html">
                <span class="icon"></span>
                <span class="tab-label">游戏</span>
            </a>
            <a class="tab-item external footTap-mall" href="./../View/information.html">
                <span class="icon"></span>
                <span class="tab-label">商城</span>
            </a>
            <a class="tab-item external footTap-center active" href="personalCenter.html">
                <span class="icon"></span>
                <span class="tab-label">我</span>
            </a>
        </nav>
    </div>

<script src="../Static/Js/zepto.min.js"></script>
<script src="../Static/Js/sm.min.js"></script>
<script src="../Static/Js/main.js"></script>
<script src="../Static/Js/Recharge/index.js"></script>
</body>
</html>