<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>个人中心-信息中心</title>
    <meta name="description" content="堡庆科技">
    <link rel="stylesheet" href="__CSS__/common/base.css">
    <link rel="stylesheet" href="__CSS__/common/public.css">
    <link rel="stylesheet" href="__CSS__/personalCenter/common.css">
    <link rel="icon" href="__PUBLIC__/favicon.ico"/>
</head>
<body>

<!--  头部   -->
<include file="Public/header" />

<!--  个人中心的主内容    -->
<div class="homeMain">
    <div class="personalBarBox">
        <div class="personalBar container">
            <ul class="subPersonalUl cf">
                <li class="subPersonalBar fl baseInfo"><a class="link" href="{:U('Member/pcsafecenter')}"><i></i><p>基本信息</p></a></li>
                <li class="subPersonalBar fl safeCenter"><a class="link" href="{:U('Member/pcsafecenter')}"><i></i><p>安全中心</p></a></li>
                <li class="subPersonalBar fl infoCenter active"><a class="link" href="{:U('Member/pcmessage')}"><i></i><p>信息中心</p></a></li>
                <li class="subPersonalBar fl transactionRecord"><a class="link" href="{:U('Member/pctrade')}"><i></i><p>交易记录</p></a></li>
                <li class="subPersonalBar fl accountBalance"><a class="link" href="{:U('Member/pcaccountyue')}"><i></i><p>账户余额</p></a></li>
            </ul>
        </div>
    </div>
    <!--   基本信息的内容     -->
    <div class="contentBoxWrap container baseInfoContent">
        <div class="contentTitBox cf">
            <p class="contentTit fl infoCenter">信息中心</p>
        </div>
        <div class="infoCenterContent">
            <div class="infoCenterOperation cf">
                <a class="msg active" href="{:U('Member/pcmessage')}">全部消息</a>
                <a class="msg" href="{:U('Member/pcmsgunread')}">已读消息</a>
                <a class="msg" href="{:U('Member/pcmsghasread')}">未读消息</a>
            </div>
            <div class="operationBox cf">
                <div class="subPerform cf fl">
                    <!-- 全选  -->
                    <div class="allCheck fl cf">
                        <i class="fl"></i>
                        <span class="fl allCheckSpan">全选</span>
                    </div>
                    <!--  标记已读   删除  -->
                    <div class="otherOperation fr">
                        <a href="javascript:void(0)" class="btnAllOperation del fr">删除</a>
                        <a href="javascript:void(0)" class="btnAllOperation read fr">标记已读</a>
                    </div>
                </div>
                <div class="subPerform readTit fl">
                    <ul class="cf readUl">
                        <li class="li0">标题</li>
                        <li class="li1">类型</li>
                        <li class="li2">发送者</li>
                        <li class="li3">时间</li>
                    </ul>
                </div>
                <div class="subPerform fl">
                    <ul class="cf readUl">
                        <volist name="list_data" id="alldata">
                            <in name="alldata.id" value="$read_ids" >
                                <li class="li0">1{:msubstr($alldata['title'],0,10,'UTF-8',false)}</li>
                                <li class="li1">2{:msubstr($alldata['type'],0,4,'UTF-8',false)}</li>
                                <li class="li2">3{$alldata.send_account}</li>
                                <li class="li3">4{$alldata.create_time|date='Y-m-d H:i:s',###}</li>
                            <else/>
                                <li class="li0">5{:msubstr($alldata['title'],0,10,'UTF-8',false)}</li>
                                <li class="li1">6{:msubstr($alldata['type'],0,4,'UTF-8',false)}</li>
                                <li class="li2">7{$alldata.send_account}</li>
                                <li class="li3">8{$alldata.create_time|date='Y-m-d H:i:s',###}</li>
                            </in>
                        </volist>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--   底部    -->
<include file="Public/footer" />
<!-- <script src="__JS__/common/jquery.js"></script>
<script src="__JS__/common/public.js"></script> -->
<script src="__JS__/personalCenter/common.js"></script>
</body>
</html>