<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>个人中心-安全中心</title>
    <meta name="description" content="堡庆科技">
    <link rel="stylesheet" href="__CSS__/common/base.css">
    <link rel="stylesheet" href="__CSS__/common/public.css">
    <link rel="stylesheet" href="__CSS__/personalCenter/common.css">
    <link rel="icon" href="__PUBLIC__/favicon.ico"/>
</head>
<body>

<!--  头部   -->
<include file="Public/header" />

<!--  个人中心的主内容    -->
<div class="homeMain">
    <div class="personalBarBox">
        <div class="personalBar container">
            <ul class="subPersonalUl cf">
                <li class="subPersonalBar fl baseInfo"><a class="link" href="{:U('Member/personalcenter')}"><i></i><p>基本信息</p></a></li>
                <li class="subPersonalBar fl safeCenter active"><a class="link" href="{:U('Member/pcsafecenter')}"><i></i><p>安全中心</p></a></li>
                <li class="subPersonalBar fl infoCenter"><a class="link" href="{:U('Member/pcmessage')}"><i></i><p>信息中心</p></a></li>
                <li class="subPersonalBar fl transactionRecord"><a class="link" href="{:U('Member/pctrade')}"><i></i><p>交易记录</p></a></li>
                <li class="subPersonalBar fl accountBalance"><a class="link" href="{:U('Member/pcaccountyue')}"><i></i><p>账户余额</p></a></li>
            </ul>
        </div>
    </div>
    <!--   基本信息的内容     -->
    <div class="contentBoxWrap container baseInfoContent">
        <div class="contentTitBox cf">
            <p class="contentTit fl safeCenter">安全中心</p>
        </div>
        <div class="contentWrap cf">
            <div class="linkBox fl">
                <ul>
                    <li class="safeUl active">
                        <a href="{:U('Member/pcsafecenter')}">密码修改</a>
                    </li>
                    <li class="safeUl">
                        <if condition="$user['phone'] eq ''">
                            <a href="{:U('Member/bindphone')}"> 
                                绑定手机
                            </a>
                        <else />
                            <a href="{:U('Member/nobindphone')}"> 
                                绑定手机
                            </a>
                        </if>
                    </li>
                    <li class="safeUl">
                        <if condition="$user['email'] eq ''">
                            <a href="{:U('Member/bindemail')}">
                                绑定邮箱
                            </a>
                       <else />
                            <a href="{:U('Member/nobindemail')}">
                                绑定邮箱
                            </a>
                       </if>
                    </li>
                    <li class="safeUl">
                        <if condition="$user['idcard'] eq ''">
                            <a href="{:U('Member/noidcard')}">
                                实名认证
                            </a>
                        <else />
                            <a href="{:U('Member/idcard')}">
                               实名认证
                            </a>
                        </if>
                    </li>
                </ul>
            </div>
            <div class="linkContent fl">
                <!--  密码修改    -->
                <div class="subLinkContent cf">
                    <p class="fl thisAccount">
                        当前账号：<span class="blue" id="uname">{$user['account']}</span>
                    </p>
                    <input type="hidden" name="account" value="{$user['account']}">
                    <div class="eachFormBox fl cf">
                        <div class="subFormName fl">旧密码：</div>
                        <div class="subFormInput fl">
                            <input type="password" class="subInput" id="oldpassword">
                        </div>
                        <div class="subFormOther fl cf">
                            <!--  表单正确的情况   -->
                            <!--<i class="formCorrect"></i>-->
                            <!--  表单错误的情况    -->
                            <!--<div class="errorForm fl hide">*请输入正确的密码格式</div>-->
                            <!--  表单默认提示   -->
                            <div class="formTip" id="oldtips" >
                                <span class="a_red">*</span>请输入旧密码
                            </div>
                        </div>
                    </div>
                    <div class="eachFormBox fl cf">
                        <div class="subFormName fl">新密码：</div>
                        <div class="subFormInput fl">
                            <input type="password" class="subInput" id="newpassword">
                        </div>
                        <div class="subFormOther fl">
                            <div class="formTip" id="newtips">
                                <span class="a_red">*</span>请输入新密码
                            </div>
                        </div>
                    </div>
                    <div class="eachFormBox fl cf">
                        <div class="subFormName fl">确认密码：</div>
                        <div class="subFormInput fl">
                            <input type="password" class="subInput" id="surepassword">
                        </div>
                        <div class="subFormOther fl">
                            <div class="formTip" id="suretips">
                                <span class="a_red">*</span>请输入确认密码
                            </div>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="btnFinish" id="achieve">完成</a>
                </div>

            </div>
        </div>
    </div>
</div>

<!--   底部    -->
<include file="Public/footer" />

<script>
    var zqimg="__IMG__/wjmm/quanbuzhengquan.png";
    var verifypwdurl="{:U('Member/verifypwd')}";
    var pwdsuburl="{:U('Member/pcsafecenter')}";
    var login="{:U('Public/login')}";
</script>

<!-- <script src="__JS__/common/jquery.js"></script>
<script src="__JS__/common/public.js"></script> -->
<script src="__JS__/personalCenter/common.js"></script>
<script src="__JS__/centerperson.js"></script>
</body>
</html>