<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>个人中心-交易记录</title>
    <meta name="description" content="堡庆科技">
    <link rel="stylesheet" href="__CSS__/common/base.css">
    <link rel="stylesheet" href="__CSS__/common/public.css">
    <link rel="stylesheet" href="__CSS__/personalCenter/common.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/jquery.datetimepicker.css"/>
    <link rel="icon" href="__PUBLIC__/favicon.ico"/>
</head>
<body>

<!--  头部   -->
<include file="Public/header" />

<!--  个人中心的主内容    -->
<div class="homeMain">
    <div class="personalBarBox">
        <div class="personalBar container">
            <ul class="subPersonalUl cf">
                <li class="subPersonalBar fl baseInfo"><a class="link" href="{:U('Member/personalcenter')}"><i></i><p>基本信息</p></a></li>
                <li class="subPersonalBar fl safeCenter "><a class="link" href="{:U('Member/pcsafecenter')}"><i></i><p>安全中心</p></a></li>
                <li class="subPersonalBar fl infoCenter"><a class="link" href="{:U('Member/pcmessage')}"><i></i><p>信息中心</p></a></li>
                <li class="subPersonalBar fl transactionRecord active"><a class="link" href="{:U('Member/pctrade')}"><i></i><p>交易记录</p></a></li>
                <li class="subPersonalBar fl accountBalance"><a class="link" href="{:U('Member/pcaccountyue')}"><i></i><p>账户余额</p></a></li>
            </ul>
        </div>
    </div>
    <!--   基本信息的内容     -->
    <div class="contentBoxWrap container baseInfoContent">
        <div class="contentTitBox cf">
            <p class="contentTit fl transactionRecord">交易记录</p>
        </div>
        <div class="contentWrap cf">
            <div class="linkBox fl">
                <ul class="cf">
                    <li class="recordUl active"><a href="javascript:void(0)">充值记录</a></li>
                    <li class="recordUl"><a href="{:U('pctradexf')}">消费记录</a></li>
                    <li class="recordUl"><a href="{:U('points')}">积分记录</a></li>
                </ul>
            </div>
            <div class="recordContent fl">
                <div class="subRecordContent">
                    <div class="stateBox cf" id="change">
                        <a href="{:U('Member/pctrade?type=0')}" class="platform <?php if($_GET['type'] == 0){ ?> active <?php } ?>">平台币</a>
                        <a href="{:U('Member/pctrade?type=1')}" class="platform <?php if($_GET['type'] == 1){ ?> active <?php } ?>">绑定平台币</a>
                    </div>
                    <div <?php if($_GET['type'] == 1){ ?> style="display: none;" <?php } ?>>
                        <div class="recordOperationBar" id="option1">
                            <p class="fl rechargeTime">充值时间：</p>
                            <input type="text" class="fl startTime start" value="开始时间">
                            <p class="fl timeInterval"> -- </p>
                            <input type="text" class="fl endTime end" value="结束时间">
                            <!-- <select class="fl choseGame">
                                <option value="0">选择游戏</option>
                                <volist name='game_list' id='v0'>
                                    <if condition="$Think.get.game eq $v0.game_id">
                                        <option value="{$v0.game_id}" selected="selected">{$v0.game_name}</option>
                                    <else />
                                        <option value="{$v0.game_id}">{$v0.game_name}</option>
                                    </if>
                                </volist>
                            </select> -->
                            <select class="fl choseGame">
                                <option value="6">充值方式</option>
                                <option value="1">支付宝</option>
                                <option value="2">微信</option>
                                 <option value="3">银联</option>
                                <option value="4">渠道代充</option>
                            </select>
                            <a href="javascript:void(0)" class="fr btnSearch" id="cz_search">搜索</a>
                        </div>
                        <div class="form cf">
                            <ul class="eachLine cf fl rechargeUl">
                                <li class="li0">序号</li>
                                <li class="li1">金额（元）</li>
                                <li class="li2">充值方式</li>
                                <li class="li3">充值时间</li>
                            </ul>
                            <ul class="eachLine cf fl rechargeUl">
                                <volist name='data' id="v4" offset="$off" length="10">
                                    <li class="li0">{$i}</li>
                                    <li class="li1">{$v4.pay_amount}元</li>
                                    <li class="li2">
                                        <if condition="$v4['pay_way'] eq 1">
                                            支付宝
                                            <elseif condition="$v4['pay_way'] eq 2" />
                                            微信
                                            <elseif condition="$v4['pay_way'] eq 3" />
                                            银联
                                            <else />
                                            渠道代充
                                        </if>
                                    </li>
                                    <li class="li3">{$v4.create_time|date='Y-m-d H:i:s',###}</li>
                                </volist>
                            </ul>
                            <div id="pagation" class="clearfix"></div>
                        </div>
                    </div>

                    <div <?php if($_GET['type'] == 0){ ?> style="display: none;" <?php } ?>>
                        <div class="recordOperationBar" id="option2">
                            <p class="fl rechargeTime">充值时间：</p>
                            <input type="text" class="fl startTime start" value="开始时间">
                            <p class="fl timeInterval"> -- </p>
                            <input type="text" class="fl endTime end" value="结束时间">
                             <select class="fl choseGame">
                                <option value="0">选择游戏</option>
                                <volist name='game_list' id='v0'>
                                    <if condition="$Think.get.game eq $v0.game_id">
                                        <option value="{$v0.game_id}" selected="selected">{$v0.game_name}</option>
                                    <else />
                                        <option value="{$v0.game_id}">{$v0.game_name}</option>
                                    </if>
                                </volist>
                            </select> 
                            <select class="fl rechargeType">
                                <option value="6">充值方式</option>
                                <option value="1">支付宝</option>
                                <option value="2">微信</option>
                                 <option value="3">银联</option>
                                <option value="4">渠道代充</option>
                            </select>
                            <a href="javascript:void(0)" class="fr btnSearch" id="cz_search2">搜索</a>
                        </div>
                        <div class="form cf">
                            <ul class="eachLine cf fl rechargeUl">
                                <li class="li0">游戏名称</li>
                                <li class="li1">金额（元）</li>
                                <li class="li2">充值方式</li>
                                <li class="li3">充值时间</li>
                            </ul>
                            <ul class="eachLine cf fl rechargeUl">
                                <volist name='movebang_data' id="v3" offset="$off" length="10">
                                    <li class="li0">{$v3.game_name}</li>
                                    <li class="li1">{$v3.pay_amount}元</li>
                                    <li class="li2">
                                        <if condition="$v3['pay_way'] eq 1">
                                            支付宝
                                            <elseif condition="$v3['pay_way'] eq 2" />
                                            微信
                                            <elseif condition="$v3['pay_way'] eq 3" />
                                            银联
                                            <elseif condition="$v3['pay_way'] eq 4" />
                                            渠道代充
                                            <elseif condition="$v3['pay_way'] eq 5" />
                                            平台代充
                                            </if>
                                        </if>
                                    </li>
                                    <li class="li3">{$v3.create_time|date='Y-m-d H:i:s',###}</li>
                                </volist>
                            </ul>
                            <div id="pagation" class="clearfix"></div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

<!--   底部    -->
<include file="Public/footer" />

<!-- <script src="__JS__/common/jquery.js"></script>
<script src="__JS__/common/public.js"></script> -->
<script src="__JS__/personalCenter/common.js"></script>
<script src="__JS__/jquery.datetimepicker.full.js"></script>
<script src="__JS__/jquery.combo.select.js"></script>
<script src="__JS__/pagation.js"></script>
<script>
$(function(){  

    

    function get_unix_time(dateStr){
            var newstr = dateStr.replace(/-/g,'/'); 
            var date =  new Date(newstr); 
            var time_str = date.getTime().toString();
            return time_str.substr(0, 10);
    }  
    function showDateTime(time){
            $.datetimepicker.setLocale('ch');
            $('.'+time).datetimepicker({
                'format': 'Y-m-d',
                'timepicker':false,
                'maxDate':0,
                'scrollInput':false,
                'validateOnBlur':false
            })
    }   
    var type = {$Think.get.type|default=0};
    var ksTime="{$Think.get.startTime|default='开始时间'}";
    var jsTime="{$Think.get.endTime|default='结束时间'}"; 
    var gameBh="{$Think.get.game|default=0}";
    var zfBh="{$Think.get.payStyles|default=6}";

  
    var aLi=document.getElementById("change").getElementsByTagName('a');
     /*   for(var i=0;i<aLi.length;i++){
                for(var j=0;j<aLi.length;j++){                   
                    aLi[j].className = "";
                }        
        }
    $('#'+type).addClass('active');   */ 

    function znTime(id){    
        $("#"+id).find('.start').click(function(){
             var sTime= $("#"+id).find('.start').val() == "开始时间" ? "" :$("#"+id).find('.start').val();
             var eTime= $("#"+id).find('.end').val() == "结束时间" ? "" :$("#"+id).find('.end').val();
             if(eTime!=""){  
                 $.datetimepicker.setLocale('ch');
                 $("#"+id).find('.start').datetimepicker({
                    'format': 'Y-m-d',
                    'timepicker':false,
                    'maxDate':eTime
                 })
                }               
        }) 

        $("#"+id).find('.end').click(function(){
             var sTime= $("#"+id).find('.start').val() == "开始时间" ? "" :$("#"+id).find('.start').val();
             var eTime= $("#"+id).find('.end').val() == "结束时间" ? "" :$("#"+id).find('.end').val();          
             if(sTime!=""){
                 $.datetimepicker.setLocale('ch');
                 $("#"+id).find('.end').datetimepicker({
                    'format': 'Y-m-d',
                    'timepicker':false,
                    'minDate':sTime
                 })
             }              
        })

   }
    if(type==0){
        znTime("option1");
        $("#trade_con").find(".trade_con_item").hide();
        $("#trade_con").find(".trade_con_item").eq(0).show();       
        showDateTime('start')
        showDateTime('end');
        $("#option1").find(".start").val(ksTime);
        $("#option1").find(".end").val(jsTime);
        $("#option1").find('select option[value='+zfBh+']').attr("selected","selected");
        //$("#option1").find('select').comboSelect();      
        var dataLength={$count|default=0};
        var pageSize=10;
        var allPageNum=dataLength%pageSize==0 ? parseInt(dataLength/pageSize):(parseInt(dataLength/pageSize)+1);
        var p ={$Think.get.p|default=1};  
        if(dataLength>pageSize){        
            page({
                id : 'pagation',
                nowNum : p,
                allNum : allPageNum,
                callBack : function(now,all){       
                    var sTime= $("#option1").find('.start').val() == "开始时间" ? "" :$("#option1").find('.start').val();
                    var eTime= $("#option1").find('.end').val() == "结束时间" ? "" :$("#option1").find('.end').val();
                    var pay_way_num = parseInt($("#option1").find("select").val());
                    window.location.href='__CONTROLLER__/pctrade/type/'+type+'/p/'+now+'/pagesize/'+pageSize+'/startTime/'+sTime+'/endTime/'+eTime+'/payStyles/'+pay_way_num+'.html';            
                }
            });
        }else{
            $("#pagation").css("display","none");
        }
        if($("#pagation").find(".jump").length>0){
        $("#pagation").find(".aBtns").css('padding',"0 0 0 150px");
        }else{
            $("#pagation").find(".aBtns").css('padding',"0 0 0 260px");
        }

        $("#cz_search").bind('click', function () {
            var sTime= $("#option1").find('.start').val() == "开始时间" ? "" :$("#option1").find('.start').val();
            var eTime= $("#option1").find('.end').val() == "结束时间" ? "" :$("#option1").find('.end').val();
            var pay_way_num = parseInt($("#option1").find("select").val()); 
            window.location.href='__CONTROLLER__/pctrade/type/'+type+'/p/1/pagesize/'+pageSize+'/startTime/'+sTime+'/endTime/'+eTime+'/payStyles/'+pay_way_num+'.html';
        });

    }

    if(type==1){  
       znTime("option2");   
       $("#trade_con").find(".trade_con_item").hide();
       $("#trade_con").find(".trade_con_item").eq(1).show();
        showDateTime('start');
        showDateTime('end');        
        $("#option2").find(".start").val(ksTime);        
        $("#option2").find(".end").val(jsTime);       
        $("#option2").find('.rechargeType option[value='+zfBh+']').attr("selected","selected");
        //$("#dowebok4").find('select').comboSelect();       
        $("#option2").find('.choseGame option[value='+gameBh+']').attr("selected","selected");
        //$("#dowebok3").find('select').comboSelect();
        var dataLength={$count|default=0};
        var pageSize=10;
        var allPageNum=dataLength%pageSize==0 ? parseInt(dataLength/pageSize):(parseInt(dataLength/pageSize)+1);
        var p ={$Think.get.p|default=1};  
        if(dataLength>pageSize){        
            page({
                id : 'pagation',
                nowNum : p,
                allNum : allPageNum,
                callBack : function(now,all){    
                    var sTime= $("#option2").find('.start').val() == "开始时间" ? "" :$("#option2").find('.start').val();
                    var eTime= $("#option2").find('.end').val() == "结束时间" ? "" :$("#option2").find('.end').val();
                    var pay_way_num = parseInt($("#option2").find(".rechargeType").val());
                    var game = parseInt($("#option2").find(".choseGame").val());
                    
                    window.location.href='__CONTROLLER__/pctrade/type/'+type+'/p/'+now+'/pagesize/'+pageSize+'/startTime/'+sTime+'/endTime/'+eTime+'/game/'+game+'/payStyles/'+pay_way_num+'.html';              
                }
            });
        }else{
            $("#pagation").css("display","none");
        }
        if($("#pagation").find(".jump").length>0){
        $("#pagation").find(".aBtns").css('padding',"0 0 0 150px");
        }else{
            $("#pagation").find(".aBtns").css('padding',"0 0 0 260px");
        }
          $("#cz_search2").bind('click', function () {
            var sTime= $("#option2").find('.start').val() == "开始时间" ? "" :$("#option2").find('.start').val();
            var eTime= $("#option2").find('.end').val() == "结束时间" ? "" :$("#option2").find('.end').val();
            var pay_way_num = parseInt($("#option2").find(".rechargeType").val());
           var game = parseInt($("#option2").find(".choseGame").val());
            window.location.href='__CONTROLLER__/pctrade/type/'+type+'/p/1/pagesize/'+pageSize+'/startTime/'+sTime+'/endTime/'+eTime+'/game/'+game+'/payStyles/'+pay_way_num+'.html';
        });
    }  
    /* for(var i=0;i<aLi.length;i++){
        aLi[i].index=i;
        aLi[i].onclick=function () {
            var type2= aLi[this.index].getAttribute('id');           
            if(type != type2){
                p=1;
            }            
            window.location.href="http://{$Think.server.http_host}__CONTROLLER__/pctrade/type/"+type2+"/p/"+p+"/pagesize/"+pageSize+'.html';        
        };
    }*/

})

</script>
</body>
</html>