/* 个人中心头部（未登录） */
.page-group{background: #f4f4f4;}
.page-group .headImg{background: url("../../images/personalCenter/signBg.png");background-size: 100% 100%;height: 9rem;text-align: center;padding: 1.48rem 0;}
.page-group .headPortrait{display: inline-block;width: 4.6rem;}
.unSign{color: #fff;font-size: .9rem;}
.btn{text-align: center;margin:1.2rem 0 4.2rem;}
.btn a{width: 14rem;height: 2.4rem;line-height: 2.4rem;color: #FFF;text-align: center;background: #00c9e1;border-radius: 6px;border: none;font-size: 1rem;}

/* 个人中心头部（已登录） */
.page-group .signHeadImg{background: url("../../images/personalCenter/signBg.png");background-size: 100% 100%;height: 9rem;text-align: left;}
.page-group .signImg{display: inline-block;width: 4.2rem;height:4.2rem;border-radius:50%;margin-top: 1.2rem;margin-left: .7rem;vertical-align: middle;}
.userName{width: 6rem;display: inline-block;vertical-align: middle;margin: 1.4rem 0 0 .8rem;}
.userName span{color: #fff;font-size: .8rem;width: 100%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: block;}
.signOut a{background: #cecece;}
.edit{vertical-align: middle;margin-left: .7rem;}
.edit img{width: 1.1rem;}
.signOu a{background: #cecece;}

/* 悬浮层（已登录） */
.suspension{position: absolute;bottom: 0;width: 100%;height: 2rem;line-height: 1.8rem;}
.point{width: 50%;text-align: center;height: 2rem;background: rgba(58, 58, 58, 0.8);}
.point img ,.currency img{vertical-align: middle;width: 1.2rem;}
.pointText ,.currencyText{color: #fff;vertical-align: middle;font-size: .8rem;margin-left: .3rem;}
.currency{width: 49.4%;text-align: center;height: 2rem;background: rgba(58, 58, 58, 0.8);}


/* 个人中心列表 */
.personalList ul{background: #fff;}
.category{margin-top: .5rem;}
.personalList ul li{height: 2.6rem;padding: 0 .7rem;border-bottom: 1px solid #f4f4f4;}
.personalList ul li .myGameImg{display: inline-block;vertical-align: middle;width: 1.2rem;}
.personalList ul li .myGame{vertical-align: middle;font-size: .9rem;display: inline-block;margin-left: .4rem;}
.personalList ul li .listLeft{margin: .6rem 0;}
.personalList ul li a{display: block;height: 2.6rem;}

/* 兑换中心弹层 */
.modal{width: 10rem;margin-left: -5rem;}
.modal-inner{padding: .8rem;}


