<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>手上科技手机游戏运营平台_好玩的手机游戏排行榜_手机游戏免费下载</title>
    <meta name="description" content="手上科技">
    <link rel="shortcut icon" type="image/ico" href="../../Static/Image/common/share/favicon.ico">
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/common/public.css">
    <link rel="stylesheet" href="../../Static/Css/informationCenter/detail.css">
</head>
<body>
    <!--  头部   -->
    <div class="header" id="header"></div>

    <!-- 资讯详情内容 -->
    <div class="homeMain">
        <div class="container">
            <!-- 资讯详情面包屑 -->
            <div class="customerCrumbs">
                <span>当前位置：</span>
                <a href="javascript:;">资讯中心</a>
            </div>

            <!-- 资讯 -->
            <div class="infoDetail cf">
                <!--文章-->
                <div class="infoArticle fl">
                    <p class="infoDetailLine"></p>
                    <div class="ArticleTitle">
                        <p class="title dib">合理利用资源《口袋妖怪日月》精灵碎片兑换小技巧</p>
                        <p class="time">作者: 蘑菇小编&emsp;&emsp;&emsp;&emsp;时间：2017-07-25 13:55:00</p>
                    </div>
                    <div class="ArticleContent">
                        <p class="call">尊敬的《猎妖》玩家：</p>
                        <p class="content">你们好！自《猎妖》正式开服以来，与各位玩家一起度过了无数个欢乐的时光！ 《猎妖》运营团队对支持《猎妖》的各位玩家致以最诚挚的感谢，感激你们一直以来对我们支持与厚爱！在这段时间内，玩家朋友们和《猎妖》已经建立起了深厚的感情，但天下没有不散的宴席，由于运营调整，我们将停止对《猎妖》的后期运营，对此给玩家造成的不便，我们表示深深的遗憾和歉意！《猎妖》将于2017年11月20日关闭充值功能和停止注册新账号功能，2018年1月7日正式终止游戏运营，同时关闭所有服务器，服务器关闭后玩家将无法登录游戏。我们会尽自己的努力为各位玩家做好关服引导工作的，希望能竭尽所能让大家得到最好的回馈和服务！我们会继续努力做好《猎妖》最后的运营工作，坚持到游戏的最后一天。
                            附一：《猎妖》关服相关事宜
                            2018年1月7日上午11:00整：《猎妖》正式停止游戏运营，所有服务器关闭。
                            附二：关服补偿方案
                            1、《猎妖》玩家游戏账号根据VIP等级可到斗魂游戏中获得相应等级补偿
                            关服补偿的内容如下：
                            VIP等级      补偿内容
                            VIP14-15： 2000元充值元宝+斗魂钻石礼包
                            VIP11-13： 1500元充值元宝+斗魂白金礼包
                            VIP8-10：  1000元充值元宝+斗魂黄金礼包
                            VIP5-7： 500元充值元宝
                            VIP2-4： 斗魂黄铜礼包
                            VIP0-1： 斗魂进阶礼包
                            通过将《猎妖》与游戏平台其他游戏的对比，主要从游戏故事背景、游戏主要玩法、画面风格、游戏类型等诸多方面综合分析后，我们强烈推荐以下游戏给您进行试玩，相信您可以有一个更舒适更愉快的游戏过程。
                            推荐游戏：《斗魂》
                            《斗魂》是一款野外无限制PK动作手游大作。故事发生在人神魔共存的上古时代，一场剧变导致主人公种族的没落，玩家需要扮演主角历经磨练肩负起复兴种族的重任。游戏给予玩家目标却不过度限制玩家自由，玩家可以在玄幻有趣的仙侠世界中尽情畅游！
                            2、《猎妖》玩家的补偿兑换需向官方提交申请，待官方审核之后，即可进行兑换。
                            3、《猎妖》玩家兑换申请需要添加官方客服QQ：800811123（公众号） 提供以下信息：</p>
                    </div>
                </div>

                <!-- 最热礼包/热门游戏 -->
                <div class="hot fr">
                    <!-- 最热礼包 -->
                    <div class="hotGift">
                        <p class="hotInfoLine"></p>
                        <div class="titleBox cf">
                            <div class="titLeftBox"><i class="hotGiftIcon"></i><p class="titName fl">最热礼包</p></div>
                        </div>
                        <div class="hotGiftContent">
                            <ul class="activeRankUl cf">
                                <li class="subRankLi copy" data-num="4">
                                    <div class="cf">
                                        <div class="rankImg dib fl"><img src="../../Static/Image/informationCenter/rankImg.png" height="78" width="78"></div>
                                        <div class="rankRight fl">
                                            <p class="rankNme" title="大R礼包 - 传奇法师">大R礼包 - 传奇法师</p>
                                            <p class="rankText" title="千年琼浆*2、三倍经验药水*2、天罡铁券">千年琼浆*2、三倍经验药水*2、天罡铁券</p>
                                        </div>
                                        <p class="hotGiftBtn fr"><a href="javascript:void(0)" class="fl btnRank">领取</a><a href="javascript:void(0)" class="hide received fl btnRank">已领取</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- 热门游戏 -->
                    <div class="hotGame">
                        <p class="hotInfoLine"></p>
                        <div class="titleBox cf">
                            <div class="titLeftBox"><i class="hotGameIcon"></i><p class="titName fl">热门游戏</p></div>
                        </div>
                        <ul class="allGameContent cf">
                            <li class="subAllGame cf fl copy" data-num="4">
                                <div class="gameImg fl"><img src="../../Static/Image/informationCenter/rankImg.png" width="78" height="78"></div>
                                <div class="gameContent fl">
                                    <p class="subGameName" title="黑道传奇联盟">黑道传奇联盟</p>
                                    <p class="subGameTypeBox"><span class="subGameType">角色扮演</span><span> | </span><span class="subGameBig">52MB</span></p>
                                    <p class="operateBtnBox cf">
                                        <a href="javascript:void(0)" class="btnDownLoad fl">下载</a>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--   底部    -->
    <div class="footer cf" id="footer"></div>

<script src="../../Static/Js/common/jquery.js"></script>
<script src="../../Static/Js/common/public.js"></script>
<script src="../../Static/Js/informationCenter/detail.js"></script>
</body>
</html>