<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>手上科技手机游戏运营平台_好玩的手机游戏排行榜_手机游戏免费下载</title>
    <meta name="description" content="手上科技">
    <link rel="shortcut icon" type="image/ico" href="../../Static/Image/common/share/favicon.ico">
    <link rel="stylesheet" href="../../Static/Css/common/base.css">
    <link rel="stylesheet" href="../../Static/Css/common/public.css">
    <link rel="stylesheet" href="../../Static/Css/informationCenter/index.css">
</head>
<body>
    <!--  头部   -->
    <div class="header" id="header"></div>
    <!-- 资讯中心 -->
    <div class="homeMain">

        <!-- 资讯 -->
        <div class="container cf">
            <div class="info1 infoImg fl pr">
                <a href="javascript:;"><img class="infoImg1" src="../../Static/Image/informationCenter/information1.png" width="700" height="400" alt=""></a>
                <span class="description1 activeDescriptionBox hide">封神演义</span>
            </div>
            <div class="info2 infoImg fl pr">
                <a href="javascript:;"><img class="infoImg2" src="../../Static/Image/informationCenter/information2.png" width="500" height="200" alt=""></a>
                <span class="description2 activeDescriptionBox hide">封神演义</span>
            </div>
            <div class="info3 infoImg fl pr">
                <a href="javascript:;"><img class="infoImg3" src="../../Static/Image/informationCenter/information2.png" width="500" height="200" alt=""></a>
                <span class="description3 activeDescriptionBox hide">封神演义</span>
            </div>
        </div>

        <!-- 全部资讯/热门资讯/平台资讯 -->
        <div class="allHotPlatformInfo container cf">
            <!-- 全部资讯 -->
            <div class="allInfo fl">
                <p class="allInfoLine"></p>
                <div class="titleBox cf">
                    <div class="titLeftBox"><i class="infoIcon"></i><p class="titName fl">全部资讯</p></div>
                </div>
                <div class="allInfoContent">
                    <ul class="allInfoTitleUl">
                        <li class="allInfoTitleLi dib on">游戏公告</li>
                        <li class="allInfoTitleLi dib">游戏资讯</li>
                        <li class="allInfoTitleLi dib">游戏活动</li>
                    </ul>
                    <div class="allInfoBody">
                        <div class="allInfoNotice cur">
                            <ul class="allInfoNoticeImgUl">
                                <li class="allInfoNoticeImgLi cf copy" data-num="3">
                                    <a class="allInfoNoticeImg fl" href="javascript:;"><img src="../../Static/Image/informationCenter/allInformation.png" width="300" height="150" class="dib" alt=""></a>
                                    <span class="allInfoNoticeTitle fl" title="《猎妖》关服公告和补偿通知">《猎妖》关服公告和补偿通知</span>
                                    <p class="allInfoNoticeTime fl cf"><a class="fl" href="javascript:;">阅读全文&gt;&gt;</a><span class="fr">2018-3-18</span></p>
                                </li>
                            </ul>
                            <ul class="allInfoNoticeTextUl">
                                <li class="allInfoNoticeTextLi cf copy" data-num="6"><a class="fl" href="javascript:;" title="驯龙三国满月庆军师司马懿派现金红包">驯龙三国满月庆军师司马懿派现金红包</a><span class="fr">2018-3-18</span></li>
                            </ul>
                        </div>
                        <div class="allInfoNotice gameInfo">
                            <ul class="allInfoNoticeImgUl">
                                <li class="allInfoNoticeImgLi cf copy" data-num="3">
                                    <a class="allInfoNoticeImg fl" href="javascript:;"><img src="../../Static/Image/informationCenter/allInformation.png" width="300" height="150" class="dib" alt=""></a>
                                    <span class="allInfoNoticeTitle fl">《猎妖》关服公告和补偿通知1</span>
                                    <p class="allInfoNoticeTime fl cf"><a class="fl" href="javascript:;">阅读全文&gt;&gt;</a><span class="fr">2018-3-18</span></p>
                                </li>
                            </ul>
                            <ul class="allInfoNoticeTextUl">
                                <li class="allInfoNoticeTextLi cf copy" data-num="6"><a class="fl" href="javascript:;">驯龙三国满月庆军师司马懿派现金红包</a><span class="fr">2018-3-18</span></li>
                            </ul>
                        </div>
                        <div class="allInfoNotice gameActive">
                            <ul class="allInfoNoticeImgUl">
                                <li class="allInfoNoticeImgLi cf copy" data-num="3">
                                    <a class="allInfoNoticeImg fl" href="javascript:;"><img src="../../Static/Image/informationCenter/allInformation.png" width="300" height="150" class="dib" alt=""></a>
                                    <span class="allInfoNoticeTitle fl">《猎妖》关服公告和补偿通知2</span>
                                    <p class="allInfoNoticeTime fl cf"><a class="fl" href="javascript:;">阅读全文&gt;&gt;</a><span class="fr">2018-3-18</span></p>
                                </li>
                            </ul>
                            <ul class="allInfoNoticeTextUl">
                                <li class="allInfoNoticeTextLi cf copy" data-num="6"><a class="fl" href="javascript:;">驯龙三国满月庆军师司马懿派现金红包</a><span class="fr">2018-3-18</span></li>
                            </ul>
                        </div>
                    </div>
                    <!-- 分页 -->
                    <div class="paging">
                        <a href="javascript:;">首页</a>
                        <a href="javascript:;">上一页</a>
                        <a href="javascript:;">1</a>
                        <a href="javascript:;">2</a>
                        <a href="javascript:;">3</a>
                        <a href="javascript:;">4</a>
                        <a href="javascript:;">5</a>
                        <a href="javascript:;">···</a>
                        <a href="javascript:;">下一页</a>
                    </div>
                </div>
            </div>

            <!-- 热门资讯/平台资讯 -->
            <div class="hotPlatformInfo fr">
                <!-- 热门资讯 -->
                <div class="hotInfo">
                    <p class="hotInfoLine"></p>
                    <div class="titleBox cf">
                        <div class="titLeftBox"><i class="hotIcon"></i><p class="titName fl">热门资讯</p></div>
                    </div>
                    <div class="hotInfoContent">
                        <ul class="hotInfoUl cf">
                            <li class="hotInfoLi copy" data-num="6">
                                <div class="cf">
                                    <div class="rankImg fl"><img src="../../Static/Image/informationCenter/rankImg.png" height="78" width="78"></div>
                                    <div class="rankRight fl">
                                        <p class="rankNme" title="传奇法师">传奇法师</p>
                                        <p class="rankText" title="《传奇法师》停运公告">停运公告《传奇法师》</p>
                                    </div>
                                    <p class="hotInfoBtn fr"><a href="javascript:void(0)" class="fl btnRank">进 入</a></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>


                <!-- 平台资讯 -->
                <div class="platformInfo">
                    <p class="hotInfoLine"></p>
                    <div class="titleBox cf">
                        <div class="titLeftBox"><i class="platformIcon"></i><p class="titName fl">平台资讯</p></div>
                    </div>
                    <ul class="platformInfoUl">
                        <li class="platformInfoLi dib copy" data-num="2"><a class="platformInfoLiImg" href="javascript:;"><img src="../../Static/Image/informationCenter/platformInformation.png" width="360" height="180" alt=""></a></li>
                    </ul>
                </div>


            </div>

        </div>
    </div>
    <!--   底部    -->
    <div class="footer cf" id="footer"></div>

<script src="../../Static/Js/common/jquery.js"></script>
<script src="../../Static/Js/common/public.js"></script>
<script src="../../Static/Js/informationCenter/index.js"></script>
</body>
</html>