<!--  友情链接    -->
<div class="linkBoxWrap">
    <div class="container">
        <div class="footTit"><i class="link"></i><p class="linkFont">友情链接</p></div>
        <div class="footContent">
            <ul class="linkContentUl cf">
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">百度搜索</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">15153手游网</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">手机游戏网</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">页游家</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">小皮网</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">完美世界</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">游戏鸟</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">酷猴手游网</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">手心攻略</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">人人游戏网</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">光宇游戏</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">聚侠手游</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">快吧游戏</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">便玩家手游网</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">腾讯游戏</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">好玩的手机游戏</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">笨手机网游</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">易手游</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">游戏王国</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">七米手机游戏</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">87G手游网</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">369手游网</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">发号网</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">3367手机游戏</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">9669手游网</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">高手游</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">发号网</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">3367手机游戏</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">9669手游网</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">高手游</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">发号网</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">3367手机游戏</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">9669手游网</a></li>
                <li class="eachSubLink fl"><a href="javascript:void(0)" class="linkA">高手游</a></li>
            </ul>
        </div>
    </div>
</div>
<!--  版权信息   -->
<div class="copyBox">
    <div class="container cf">
        <div class="logoLeft fl"><img src="../../Static/Image/common/share/logo2.png" alt=""></div>
        <div class="logoRight fl">
            <div class="subCopy">
                <a href="javascript:void(0)">关于我们</a>
                <span>|</span>
                <a href="javascript:void(0)">商务合作</a>
                <span>|</span>
                <a href="javascript:void(0)">合作伙伴</a>
                <span>|</span>
                <a href="javascript:void(0)">客服帮助</a>
                <span>|</span>
                <a href="javascript:void(0)">注册协议</a>
            </div>
            <div class="subCopy">
                <a href="javascript:void(0)">防沉迷系统</a>
                <span>|</span>
                <a href="javascript:void(0)">未成年家长监护工程</a>
                <span>|</span>
                <a href="javascript:void(0)">《网络游戏服务格式化协议必备条款》</a>
            </div>
            <div class="subCopy">
                <p>广州手上科技有限公司&nbsp;版权所有&nbsp;2018&nbsp;shoushangkeji.com</p>
            </div>
            <div class="subCopy">
                <p>网站备案：京ICP备17006373号</p>
            </div>
        </div>
        <div class="other fr">
            <p class="cf"><span class="otherTit">工作时间 ：</span><span class="otherCont">10:00 -- 21:00</span></p>
            <p class="cf"><span class="otherTit">服务热线 ：</span><span class="otherCont">010-85655922</span></p>
            <p class="cf"><span class="otherTit">&nbsp;</span><span class="otherCont">18301467532</span></p>
            <p class="cf"><span class="otherTit">客服 QQ ：</span><span class="otherCont">2305194405</span></p>
        </div>
    </div>
</div>