<!--  导航栏   -->
<div class="nav cf" id="topHead">
    <div class="operate container">
        <a class="fr" href="javascript:void(0)">注册</a>
        <span class="splitSpan fr">|</span>
        <a class="fr" href="javascript:void(0)">登录</a>
    </div>
</div>

<div class="navHeight" id="navHeight">
    <!--  搜索栏  -->
    <div class="search container cf">
        <img src="../../Static/Image/common/share/logo.png" alt="" class="logo fl">
        <div class="searchBox fr cf">
            <input type="text" class="fl"/>
            <a class="searchIcon fr" href="javascript:void(0)"></a>
        </div>
    </div>
    <!--  导航tab栏  -->
    <div class="tabTop container cf">
        <ul class="tabTopWrap cf">
            <li><a href="../index/index.html" class="eachTabLink">首页</a></li>
            <li><a href="../gameCenter/index.html" class="eachTabLink">游戏中心</a></li>
            <li><a href="../giftsCenter/index.html" class="eachTabLink">礼包中心</a></li>
            <li><a href="../exchange/index.html" class="eachTabLink">兑换中心</a></li>
            <li><a href="../informationCenter/index.html" class="eachTabLink">资讯中心</a></li>
            <li><a href="../recharge/index.html" class="eachTabLink">充值中心</a></li>
            <li><a href="../customerService/index.html" class="eachTabLink">客服中心</a></li>
        </ul>
    </div>
    <!--  分割线   -->
    <div class="cutRule"></div>
</div>
