/* 公共样式部分 */
@charset"utf-8";
body{font-family: Microsoft YaHei; word-wrap:break-word; word-break:break-all;}
*,p{margin: 0;padding: 0;}
li{list-style: none;}
ul, ol{list-style: none outside none;}
a{display: inline-block;text-decoration: none;color:#333333}a:active{color:#181818}
img{max-width:100%;display: block;}
input,textarea{box-shadow:none;-webkit-appearance:none}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance:none}
input[type="number"]{-moz-appearance:textfield}
::-webkit-input-placeholder {color: #dbdbdb;}

/*  字体颜色   大小  对齐方式  溢出*/
.a_blue{color:#007aff}.a_black{color:#333}.a_gray{color:#999}.a_red{ color: #ff3b2f;}.a_org{ color: #00c9e1;}.a_blue:active{color:#005FC7}
.f16{font-size:.8rem}.f15{font-size:.7rem}.f14{font-size:.6rem}.f12{font-size:.5rem}
.fs-18{ font-size: .45rem;}.fs-20{ font-size: .5rem;}.fs-22{ font-size: .55rem;}.fs-24{ font-size: .6rem;}.fs-26{ font-size: .65rem;}
.text_l{text-align:left} .text_c{text-align:center}.text_r{text-align:right}
.ofh{display:block;overflow:hidden;width:100%;text-overflow:ellipsis;white-space:nowrap}.word-b{word-break:break-all}

/*  块级背景色   边框   */
.bg_red{background: #ff3b2f;}  .bg_gray{background: #999;} .bg_white{background: #fff;}
.bdr{border-right:1px solid #eee;}.bdb{border-bottom:1px solid #F4F4F4;}

/*  按钮   */
.btn_disable{background:#d1d6da!important;color:#fff!important}
.btn_disable:active{background:#d1d6da!important;color:#fff!important}

/*  块级转行级   */
.dib{display: inline-block;}

/*    flex布局   */
.flex{display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-align: center;-webkit-align-items: center; align-items: center;}
.flexbox{-webkit-box-flex: 1;-moz-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;}

/*   位置相关   */
.pr{position: relative;}.fl{float: left;}.fr{float: right;}
/*   清浮动   */
.cf:after{content:""; clear:both; display:table;}.cf {zoom:1;}
/*   显示隐藏  */
.show{display:block}.hide{display:none}

/* 全局公用  */
body{background: #F4F4F4;}
.mHome{min-width: 300px;padding: 0;margin: 0 auto;max-width: 500px;}
.page, .page-group{overflow-y: auto;}

/* 导航顶部  */
.topBar{position:fixed;top:0;left:0;z-index:9999;width: 100%;height:2.5rem;background:rgba(255, 255, 255, 0.8) ;}
.logoLeft{height:2.5rem;line-height: 2.5rem;font-size:0.7rem;color:#333;}
.logoLeft .logoImg{width: 1.5rem;height: 1.5rem;border-radius:50%;margin:.5rem .5rem;}
.status-unLogin,.status-login{height: 2.5rem;line-height: 2.5rem;}
.status-unLogin .btn-login,.status-unLogin .btn-register{display:block;float: left;width: 3rem;height: 1.5rem;margin:.5rem .7rem;color:#333;font-size:.7rem;line-height:1.5rem;text-align:center;border-radius: 2rem;border:1px solid #999;}
.status-unLogin .btn-login{margin-right:0;}
.status-login .headImg{width: 1.5rem;height: 1.5rem;margin:.45rem;border-radius:50%;}
.status-login .headName{margin-right:.7rem;font-size:0.7rem;}

/*   轮播   */
.swiper-container-horizontal>.swiper-pagination{bottom:5px;padding:0;text-align: center;}
.swiper-pagination-bullet{background: transparent;border:2px solid #fff;opacity: 1;}
.swiper-pagination-bullet-active{background: #fff;}
.swiper-container{z-index: 99;padding-bottom: 0;}
.slide-banner_uc .swiper-slide a{display: block;width:100%;}

/*    底部导航    */
.bar.bar-tab{position: fixed;height:3rem;background: #FFF;}
.bar-tab .tab-item{height: 3rem;}
.tab-item .tab-label{color:#ADB1B9;}
.bar-tab .tab-item .icon~.tab-label{top:.05rem;font-size: .8rem;}
.bar-tab .tab-item .icon{width: 1.2rem;}
.footTap-game.active .icon{background: url("../images/index/gameActive.png")no-repeat;background-size: 1rem 1rem;}
.footTap-game .icon{background: url("../images/index/game.png")no-repeat;background-size: 1rem 1rem;}
.footTap-mall.active .icon{background: url("../images/index/mallActive.png")no-repeat;background-size: 1rem 1rem;}
.footTap-mall .icon{background: url("../images/index/mall.png")no-repeat;background-size: 1rem 1rem;}
.footTap-center.active .icon{background: url("../images/index/centerActive.png")no-repeat;background-size: 1rem 1rem;}
.footTap-center .icon{background: url("../images/index/center.png")no-repeat;background-size: 1rem 1rem;}
.footTap-game.active .tab-label,.footTap-mall.active .tab-label,.footTap-center.active .tab-label{color:#00c9e1;}

/*   领取礼包的弹窗     */
.modal{width: auto;margin-left: -7rem;}
.modal-inner{padding: 0;}
.giftSuccessBoxWrap{width: 14rem;text-align: center;}
.giftSuccess{background: #FFF;}
.giftSuccess .successTit{width:100%;height:3rem;line-height:3rem;font-size: 1rem;font-weight: bold;}
.giftSuccess .successContent{margin:0 2rem .8rem 2rem;font-size: .7rem;color: #999;}
.giftBox{background: #F7F7F7;}
.giftBox .giftBoxName{width: 100%;height:2rem;line-height:2rem;font-size: .9rem;font-weight: bold;}
.giftBox .giftBoxContent{margin: .2rem 1rem .8rem 1rem;font-size: .7rem;color: #999;}

/* 加载层 */
#loader{position:absolute;z-index:9999;width:100%;height:100%;background:#fff;}
.loaderInner{position:absolute;top:50%;left:50%;width:45px;height:45px;margin:-22px 0 0-22px}

/* 遮罩层 */
.s-mask{position:absolute;z-index:299;display:none;width:100%;height:100%;background:rgba(0,0,0,0.8)}
.shade-div{position: absolute;top: 0;left: 0;z-index: 998;width: 100%;height: 100%;background: rgba(0,0,0,0.75);}

/* tab选项卡 */
.content .order-tab,.order-tab{margin-bottom:.5rem}
.content .order-tab a,.order-tab a{ font-size: .75rem !important;}
.content .order-tab .button.active,.order-tab .button.active{color:#f38900;border-color:#f38900}

/* 顶部 */
.home-bar{position:relative;z-index:300;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:box;height:2.2rem;padding:0 .5rem;background:transparent;color:#fff;background-image:none;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;transition:all 1s;}


/* 弹出提示层 */
.toast{ border-radius: .4rem !important;}

